@import 'fonts';
@import 'helper';
@import 'variables';
@import 'colors';

.btn {
  @include border-radius(0);
  border: 0;
  @include transition(all ease-in-out .15s);
  font-size: 0.875em;
  &.btn-primary {
		background-color: $color_secondary;
		color: $color_white;
		font-weight: 600;
		&:hover {
			background-color: $color_primary;
		}
	}
	&.btn-secondary {
		background-color: $color_gray;
		color: $color_white;
		border: 0;
		font-weight: 600;
		&:hover {
			background-color: $color_alert;
		}
	}
	&.btn-tertiary {
		background-color: $color_primary;
		color: $color_white;
		font-weight: 600;
		&:hover {
			background-color: $color_secondary;
		}		
	}
	&.btn-quaternary {
		background-color: $color_gray;
		color: $color_white;
		border: 0;
		font-weight: 600;
		&:hover {
			background-color: $color_primary;
		}
	}
	&.btn-filled-outlined {
		background-color: $color_white;
		border-width: 1px;
		border-style: solid;
		border-color: $color_mono_1;
		color: $color_primary;
		&:hover {
			background-color: $color_primary;
			border-color: $color_primary;
			color: $color_white;
		}
	}
	&.btn-filled-outlined-primary {
		background-color: $color_white;
		border-width: 1px;
		border-style: solid;
		border-color: $color_secondary;
		color: $color_primary;
		&:hover {
			background-color: $color_primary;
			border-color: $color_primary;
			color: $color_white;
		}
	}
	.icon {
		display: inline-block;
		margin: 0 0.5em 0 0;
	}
}

.table {
	&.table-listing {
    .btn {
      padding-top: 0.215em;
      padding-bottom: 0.215em;
    }
	}
}