@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 0;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  font-size: 0.875em; }
  .btn.btn-primary {
    background-color: #64ab45;
    color: #ffffff;
    font-weight: 600; }
    .btn.btn-primary:hover {
      background-color: #1b4e83; }
  .btn.btn-secondary {
    background-color: #848486;
    color: #ffffff;
    border: 0;
    font-weight: 600; }
    .btn.btn-secondary:hover {
      background-color: #95111e; }
  .btn.btn-tertiary {
    background-color: #1b4e83;
    color: #ffffff;
    font-weight: 600; }
    .btn.btn-tertiary:hover {
      background-color: #64ab45; }
  .btn.btn-quaternary {
    background-color: #848486;
    color: #ffffff;
    border: 0;
    font-weight: 600; }
    .btn.btn-quaternary:hover {
      background-color: #1b4e83; }
  .btn.btn-filled-outlined {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede;
    color: #1b4e83; }
    .btn.btn-filled-outlined:hover {
      background-color: #1b4e83;
      border-color: #1b4e83;
      color: #ffffff; }
  .btn.btn-filled-outlined-primary {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #64ab45;
    color: #1b4e83; }
    .btn.btn-filled-outlined-primary:hover {
      background-color: #1b4e83;
      border-color: #1b4e83;
      color: #ffffff; }
  .btn .icon {
    display: inline-block;
    margin: 0 0.5em 0 0; }

.table.table-listing .btn {
  padding-top: 0.215em;
  padding-bottom: 0.215em; }

/*# sourceMappingURL=buttons.css.map */
