$color_alert:               #95111e;
$color_primary:             #1b4e83;
$color_secondary:           #64ab45;
$color_white:               #ffffff;
$color_off_white:           #f5f5f5;
$color_black:               #000000;
$color_gray:                #848486;
$color_light_gray:          #dfdfdf;
$color_light_gray_1:        #e7e7e7;
$color_mono:                #a8a9ab;
$color_mono_1:              #dedede;
$color_mono_2:              #48729c;
$color_mono_3:              #666666;