@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
.form-control {
  box-shadow: none;
  height: 2.286em;
  font-size: 0.875em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #dfdfdf;
  color: #000000; }
  .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #666666; }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #848486; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #848486; }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #848486; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #848486; }

label {
  font-weight: 600;
  font-size: 0.875em;
  color: #1b4e83; }
  label.control-label-value {
    color: #000000;
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 400; }
    @media (min-width: 992px) {
      label.control-label-value {
        height: 2em; } }
    @media (min-width: 768px) {
      label.control-label-value {
        padding-top: 0px; } }
  label.control-label {
    padding-top: 0; }
    @media (min-width: 768px) {
      label.control-label {
        height: 2.286em; } }
    label.control-label.text-left {
      text-align: left; }

.login label {
  color: #000000; }

.modal label {
  font-size: 1em;
  height: 2em; }
.modal .wrapper-lease-classification-wizard label,
.modal .wrapper-start-end-date-wizard label {
  font-size: 0.875em; }

select.form-control {
  padding-top: 0.3em; }

.radio label, .checkbox label {
  font-weight: 600; }

.form-group {
  margin-bottom: 20px; }
  .form-group.required {
    position: relative; }
    .form-group.required .required-staric {
      position: absolute;
      top: 0.5em;
      right: 0;
      margin: auto;
      line-height: 1;
      color: #95111e; }
  .form-group.form-group-custom-fields {
    display: none; }
  .form-group.no-margin {
    margin-bottom: 0; }

.has-error .help-block, .has-error .form-control {
  color: #95111e; }
.has-error .help-block {
  font-size: 0.6875em; }
.has-error .form-control {
  border-color: #95111e; }
.has-error label, .has-error .control-label {
  color: #000000; }

.container-filter .form-group, .container-entries .form-group {
  margin: 0; }

.container-disalbed-accounts .checkbox {
  margin-top: 5px;
  margin-bottom: 5px; }

.container-filter .form-control, .container-entries .form-control {
  height: 2.133333333333333em;
  font-size: 0.9375em; }

.container-filter .form-control {
  width: 56%;
  float: left;
  width: 14.268em; }
  @media (max-width: 1199px) {
    .container-filter .form-control {
      width: 11.268em; } }
  @media (max-width: 991px) {
    .container-filter .form-control {
      width: 56%; } }

.container-entries .form-control.form-control-input {
  width: 36%;
  margin-right: 2%;
  float: left;
  font-size: 0.9375em;
  height: 2.133333333333333em; }
.container-entries .form-control.form-control-select {
  width: 40%;
  margin-right: 2%;
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9375em;
  height: 2.133333333333333em; }

@media (max-width: 767px) {
  .container-filter .form-control {
    display: block;
    width: 100%;
    margin-bottom: .5em; }

  .container-entries .form-control.form-control-input, .container-entries .form-control.form-control-select {
    display: block;
    width: 100%;
    margin-bottom: .5em; } }
.table.table-listing select.form-control {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
  background-color: #f1eff0; }
.table.table-listing .form-control[readonly] {
  background-color: transparent;
  font-size: 1em;
  border: 0;
  height: 1.7em;
  padding: 0; }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0; } }

/*# sourceMappingURL=forms.css.map */
