@import 'fonts';
@import 'helper';
@import 'variables';
@import 'colors';

.form-control {
	box-shadow: none;
	height: 2.286em;
	font-size: 0.875em;
	@include border-radius(0);
  @include box-shadow(none);
  border-color: $color_light_gray;
  color: $color_black;
  &:focus {
    @include box-shadow(none);
    border-color: $color_mono_3;    
  }
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color_gray;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color_gray;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color_gray;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color_gray;
  }  
}

label {
  font-weight: 600;
  font-size: 0.875em;
  color: $color_primary;
  &.control-label-value {
    color: $color_black;
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 400;
    @media (min-width: 992px) {
      height: 2em;      
    }
    @media (min-width: 768px) {
      padding-top: 0px;
    }
  }
  &.control-label {
    padding-top: 0;
    @media (min-width: 768px) {
      height: 2.286em;      
    }
    &.text-left {
      text-align: left;
    }
  }
}

.login {
  label {
    color: $color_black;
  }
}

.modal {
  label {
    font-size: 1em;
    height: 2em;
  }
  .wrapper-lease-classification-wizard,
  .wrapper-start-end-date-wizard {
    label {
      font-size: 0.875em;
    }
  }
}

select {
  &.form-control {
    padding-top: 0.3em;
  }
}


.radio label, .checkbox label {
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
  &.required {
    position: relative;
    .required-staric {
      position: absolute;
      top: 0.5em;
      right: 0;
      margin: auto;
      line-height: 1;
      color: $color_alert;
    }
  }
  &.form-group-custom-fields {
    display: none;
  }
  &.no-margin {
    margin-bottom: 0;
  }
}

.has-error {  
  .help-block, .form-control {
    color: $color_alert;
  }
  .help-block {
    font-size: 0.6875em;
  }
  .form-control {
    border-color: $color_alert;
  }
  label, .control-label {
    color: $color_black;
  }
}

.container-filter .form-group, .container-entries .form-group {
  margin: 0;
}

.container-disalbed-accounts {
  .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.container-filter .form-control, .container-entries .form-control {
  height: 2.133333333333333em;
  //border: 1px solid #1b4e83;
  font-size: 0.9375em;
}

.container-filter .form-control {
  width: 56%;
  //margin-right: 2%;
  float: left;
  width: 14.268em;
  @media (max-width: 1199px) {
    width: 11.268em;
  }
  @media (max-width: 991px) {
    width: 56%;
  }
}

.container-entries .form-control {
  &.form-control-input {
    width: 36%;
    margin-right: 2%;
    float: left;
    //border: 1px solid #1b4e83;
    font-size: 0.9375em;
    height: 2.133333333333333em;
  }
  &.form-control-select {
    width: 40%;
    margin-right: 2%;
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    //border: 1px solid #1b4e83;
    font-size: 0.9375em;
    height: 2.133333333333333em;
  }
}

@media (max-width: 767px) {
  .container-filter {
    .form-control {
      display: block;
      width: 100%;
      margin-bottom: .5em;
    }
  }
  .container-entries {
    .form-control {
      &.form-control-input, &.form-control-select {
        display: block;
        width: 100%;
        margin-bottom: .5em;
      }
    }
  }
}

.table {
	&.table-listing {
		select {
			&.form-control {
				//height: 2.084em;
				padding-top: 0;
				padding-bottom: 0;
				//font-size: 0.9em;
				line-height: 1;
				background-color: #f1eff0;
        //border-width: 0;
			}
		}
    .form-control {
      &[readonly] {
        background-color: transparent;
        font-size: 1em;
        border: 0;
        height: 1.7em;
        padding: 0;    
      }
    }
	}
}

.form-horizontal .control-label {
  @media (min-width: 768px) {
    //padding-top: 6px;
    padding-top: 0;
  }
}