@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
.modal .close {
  font-size: 2em; }

.modal-header {
  margin: 0 15px;
  padding: 10px 0; }
  .modal-header .close {
    margin-top: 0; }

.modal-title {
  font-size: 1.6em;
  font-weight: 600;
  color: #1b4e83; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 700px;
    margin: 30px auto; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }
.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.modal-backdrop {
  background-color: #000000; }
  .modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: 0.8; }

/*# sourceMappingURL=modal.css.map */
