@import 'fonts';
@import 'helper';
@import 'variables';
@import 'colors';

.modal {
	.close {
		font-size: 2em;
	}	
}

.modal-header {
	margin: 0 15px;
	padding: 10px 0;
	.close {
	  margin-top: 0;
	}
}

.modal-title {
	font-size: 1.6em;
	font-weight: 600;
	color: $color_primary;
}

@media (min-width: 768px) {
	.modal-dialog {
    width: 700px;
    margin: 30px auto;
	}	
}

@media (min-width: 992px) {
	.modal-lg {
	  width: 900px;
	}	
}

.modal-content {
	@include border-radius(0);
}

.modal-backdrop {
	background-color: $color_black;
	&.in {
	  filter: alpha(opacity=80);
	  opacity: 0.8;
	}
}