@import 'fonts';
@import 'helper';
@import 'variables';
@import 'colors';

.nav-tabs {
	border-bottom: 0;
	border-left: 1px solid $color_light_gray;
	> li {
		> a {
			background-color: $color_white;
			@include border-radius(0);
			margin-right: 0;
			border: 0;
			border-right: 1px solid $color_light_gray;
			@include transition(all ease-in-out .15s);
		}
		&.active {
			a {
				background: $color_primary;
				color: $color_white;
				border: 0;
				border-right: 1px solid $color_light_gray;
				&:focus,
				&:hover {
					background: $color_primary;
					color: $color_white;
					border: 0;
					border-right: 1px solid $color_light_gray;
				}
			}
		}
	}
	&.nav-tabs-company-location {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    @media (min-width: 1300px) {
    	// max-width: 95%;
    }
    @media (min-width: 1200px) and (max-width: 1299px) {
    	// max-width: 95%;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    	// width: 24em;
    }
		> li {
			float: none;
			display: inline-block;
			margin: 0 -2px;
			> a {
				padding: 1.125em 15px; 
			}
		}
	}
}

.tab-content {
	min-height: 20em;
	padding-bottom: 1em;
	padding-top: 1em;
}