@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
.nav-tabs {
  border-bottom: 0;
  border-left: 1px solid #dfdfdf; }
  .nav-tabs > li > a {
    background-color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-right: 0;
    border: 0;
    border-right: 1px solid #dfdfdf;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -ms-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s; }
  .nav-tabs > li.active a {
    background: #1b4e83;
    color: #ffffff;
    border: 0;
    border-right: 1px solid #dfdfdf; }
    .nav-tabs > li.active a:focus, .nav-tabs > li.active a:hover {
      background: #1b4e83;
      color: #ffffff;
      border: 0;
      border-right: 1px solid #dfdfdf; }
  .nav-tabs.nav-tabs-company-location {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; }
    .nav-tabs.nav-tabs-company-location > li {
      float: none;
      display: inline-block;
      margin: 0 -2px; }
      .nav-tabs.nav-tabs-company-location > li > a {
        padding: 1.125em 15px; }

.tab-content {
  min-height: 20em;
  padding-bottom: 1em;
  padding-top: 1em; }

/*# sourceMappingURL=nav-tabs.css.map */
