@import url(bootstrap.css);
@import url(font-awesome.css);
@import url(plugin/toastr.css);
@import url(plugin/jquery.dataTables.css);
@import url(plugin/responsive.dataTables.css);
@import url(plugin/jquery.mCustomScrollbar.css);
@import url(plugin/bootstrap-datetimepicker.css);
@import url(plugin/jquery.steps.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
#toast-container > div {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 1.5875em; }
  #toast-container > div:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
#toast-container > .toast-success {
  background-image: none !important; }

.toast-close-button {
  right: -0.8em;
  top: -1em; }

.toast-title {
  font-size: 1em; }

.toast-message {
  font-size: 1em; }

.toast-success {
  background-color: #1b4e83; }

.toast-close-button {
  text-shadow: none; }
  .toast-close-button:hover {
    opacity: 1;
    color: #ffffff; }

#toast-container > .toast-info,
#toast-container > .toast-error,
#toast-container > .toast-success,
#toast-container > .toast-warning {
  background-image: none !important; }

.form-control {
  box-shadow: none;
  height: 2.286em;
  font-size: 0.875em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #dfdfdf;
  color: #000000; }
  .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #666666; }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #848486; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #848486; }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #848486; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #848486; }

label {
  font-weight: 600;
  font-size: 0.875em;
  color: #1b4e83; }
  label.control-label-value {
    color: #000000;
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 400; }
    @media (min-width: 992px) {
      label.control-label-value {
        height: 2em; } }
    @media (min-width: 768px) {
      label.control-label-value {
        padding-top: 0px; } }
  label.control-label {
    padding-top: 0; }
    @media (min-width: 768px) {
      label.control-label {
        height: 2.286em; } }
    label.control-label.text-left {
      text-align: left; }

.login label {
  color: #000000; }

.modal label {
  font-size: 1em;
  height: 2em; }
.modal .wrapper-lease-classification-wizard label,
.modal .wrapper-start-end-date-wizard label {
  font-size: 0.875em; }

select.form-control {
  padding-top: 0.3em; }

.radio label, .checkbox label {
  font-weight: 600; }

.form-group {
  margin-bottom: 20px; }
  .form-group.required {
    position: relative; }
    .form-group.required .required-staric {
      position: absolute;
      top: 0.5em;
      right: 0;
      margin: auto;
      line-height: 1;
      color: #95111e; }
  .form-group.form-group-custom-fields {
    display: none; }
  .form-group.no-margin {
    margin-bottom: 0; }

.has-error .help-block, .has-error .form-control {
  color: #95111e; }
.has-error .help-block {
  font-size: 0.6875em; }
.has-error .form-control {
  border-color: #95111e; }
.has-error label, .has-error .control-label {
  color: #000000; }

.container-filter .form-group, .container-entries .form-group {
  margin: 0; }

.container-disalbed-accounts .checkbox {
  margin-top: 5px;
  margin-bottom: 5px; }

.container-filter .form-control, .container-entries .form-control {
  height: 2.133333333333333em;
  font-size: 0.9375em; }

.container-filter .form-control {
  width: 56%;
  float: left;
  width: 14.268em; }
  @media (max-width: 1199px) {
    .container-filter .form-control {
      width: 11.268em; } }
  @media (max-width: 991px) {
    .container-filter .form-control {
      width: 56%; } }

.container-entries .form-control.form-control-input {
  width: 36%;
  margin-right: 2%;
  float: left;
  font-size: 0.9375em;
  height: 2.133333333333333em; }
.container-entries .form-control.form-control-select {
  width: 40%;
  margin-right: 2%;
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9375em;
  height: 2.133333333333333em; }

@media (max-width: 767px) {
  .container-filter .form-control {
    display: block;
    width: 100%;
    margin-bottom: .5em; }

  .container-entries .form-control.form-control-input, .container-entries .form-control.form-control-select {
    display: block;
    width: 100%;
    margin-bottom: .5em; } }
.table.table-listing select.form-control {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
  background-color: #f1eff0; }
.table.table-listing .form-control[readonly] {
  background-color: transparent;
  font-size: 1em;
  border: 0;
  height: 1.7em;
  padding: 0; }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0; } }

.modal .close {
  font-size: 2em; }

.modal-header {
  margin: 0 15px;
  padding: 10px 0; }
  .modal-header .close {
    margin-top: 0; }

.modal-title {
  font-size: 1.6em;
  font-weight: 600;
  color: #1b4e83; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 700px;
    margin: 30px auto; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }
.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.modal-backdrop {
  background-color: #000000; }
  .modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: 0.8; }

.nav-tabs {
  border-bottom: 0;
  border-left: 1px solid #dfdfdf; }
  .nav-tabs > li > a {
    background-color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-right: 0;
    border: 0;
    border-right: 1px solid #dfdfdf;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -ms-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s; }
  .nav-tabs > li.active a {
    background: #1b4e83;
    color: #ffffff;
    border: 0;
    border-right: 1px solid #dfdfdf; }
    .nav-tabs > li.active a:focus, .nav-tabs > li.active a:hover {
      background: #1b4e83;
      color: #ffffff;
      border: 0;
      border-right: 1px solid #dfdfdf; }
  .nav-tabs.nav-tabs-company-location {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; }
    .nav-tabs.nav-tabs-company-location > li {
      float: none;
      display: inline-block;
      margin: 0 -2px; }
      .nav-tabs.nav-tabs-company-location > li > a {
        padding: 1.125em 15px; }

.tab-content {
  min-height: 20em;
  padding-bottom: 1em;
  padding-top: 1em; }

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 0;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  font-size: 0.875em; }
  .btn.btn-primary {
    background-color: #64ab45;
    color: #ffffff;
    font-weight: 600; }
    .btn.btn-primary:hover {
      background-color: #1b4e83; }
  .btn.btn-secondary {
    background-color: #848486;
    color: #ffffff;
    border: 0;
    font-weight: 600; }
    .btn.btn-secondary:hover {
      background-color: #95111e; }
  .btn.btn-tertiary {
    background-color: #1b4e83;
    color: #ffffff;
    font-weight: 600; }
    .btn.btn-tertiary:hover {
      background-color: #64ab45; }
  .btn.btn-quaternary {
    background-color: #848486;
    color: #ffffff;
    border: 0;
    font-weight: 600; }
    .btn.btn-quaternary:hover {
      background-color: #1b4e83; }
  .btn.btn-filled-outlined {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede;
    color: #1b4e83; }
    .btn.btn-filled-outlined:hover {
      background-color: #1b4e83;
      border-color: #1b4e83;
      color: #ffffff; }
  .btn.btn-filled-outlined-primary {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #64ab45;
    color: #1b4e83; }
    .btn.btn-filled-outlined-primary:hover {
      background-color: #1b4e83;
      border-color: #1b4e83;
      color: #ffffff; }
  .btn .icon {
    display: inline-block;
    margin: 0 0.5em 0 0; }

.table.table-listing .btn {
  padding-top: 0.215em;
  padding-bottom: 0.215em; }

html,
body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000000; }

h2 {
  margin: 0 0 1.5em 0;
  font-weight: 600;
  color: #1b4e83;
  font-size: 1.625em; }

.top-buffer-5 {
  margin-top: 5px; }

.top-buffer-10 {
  margin-top: 10px; }

.top-buffer-20 {
  margin-top: 20px; }

.top-buffer-30 {
  margin-top: 30px; }

.top-buffer-40 {
  margin-top: 40px; }

.top-buffer-50 {
  margin-top: 50px; }

.pull-down-20 {
  position: relative;
  bottom: -20px; }

@media (min-width: 1199px) {
  .no-left-padd-lg {
    padding-left: 0; }

  .no-right-padd-lg {
    padding-right: 0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .no-left-padd-md {
    padding-left: 0; }

  .no-right-padd-md {
    padding-right: 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .no-left-padd-sm {
    padding-left: 0; }

  .no-right-padd-sm {
    padding-right: 0; } }
@media (max-width: 767px) {
  .no-left-padd-xs {
    padding-left: 0; }

  .no-right-padd-xs {
    padding-right: 0; } }
.no-left-padd {
  padding-left: 0; }

.no-right-padd {
  padding-right: 0; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.header {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-color: #dedede;
  border-bottom-style: solid;
  position: relative;
  z-index: 1; }

.navbar {
  margin: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  min-height: 4.375em; }
  @media (max-width: 767px) {
    .navbar {
      min-height: inherit; } }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0; }
    @media (max-width: 767px) {
      .navbar > .container .navbar-brand,
      .navbar > .container-fluid .navbar-brand {
        margin-left: 15px; } }

.navbar-nav.nav > li > a {
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s; }
  .navbar-nav.nav > li > a:focus, .navbar-nav.nav > li > a:hover {
    background-color: rgba(231, 231, 231, 0.2); }
  .navbar-nav.nav > li > a.btn.btn-back {
    font-size: 1em;
    font-weight: 600; }
    .navbar-nav.nav > li > a.btn.btn-back:focus, .navbar-nav.nav > li > a.btn.btn-back:hover {
      background-color: #1b4e83; }
@media (min-width: 768px) {
  .navbar-nav.nav > li.li-btn-back {
    margin-right: 1em; } }
.navbar-nav .dropdown-menu > li > a {
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s; }
.navbar-nav.navbar-account-setting {
  margin-top: 0.5em; }
  .navbar-nav.navbar-account-setting li.li-btn-back .btn-back:hover {
    background: #1b4e83; }
  .navbar-nav.navbar-account-setting li a {
    font-weight: 600; }
  .navbar-nav.navbar-account-setting .li-msgs {
    margin-top: 0.3em;
    margin-right: 2em; }
    .navbar-nav.navbar-account-setting .li-msgs a {
      position: relative;
      display: inline-block; }
      .navbar-nav.navbar-account-setting .li-msgs a .icon-messages {
        font-size: 1.6em; }
      .navbar-nav.navbar-account-setting .li-msgs a .badge {
        font-weight: 400;
        position: absolute;
        top: 0.6em;
        right: -0.2em;
        background-color: #95111e; }
  .navbar-nav.navbar-account-setting li.dropdown.user-name span.designation {
    font-weight: 400;
    display: block;
    line-height: 1em;
    font-size: 0.75em; }
  .navbar-nav.navbar-account-setting li.dropdown.user-name > .dropdown-menu > li > a {
    padding: 8px 20px;
    color: #1b4e83; }
  .navbar-nav.navbar-account-setting li.dropdown .dropdown-menu .divider {
    margin: 0; }
  .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert a {
    background-color: transparent;
    color: rgba(27, 78, 131, 0.8); }
    .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert a:hover {
      color: #1b4e83; }
  .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    padding: 0;
    min-width: 275px; }
    .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu h3 {
      margin: 0; }
    .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li {
      border-top: 1px solid #DBE0E4; }
      .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li.external {
        background-color: #1b4e83;
        padding: 10px;
        border-top: 0; }
        .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li.external h3 {
          color: #ffffff; }
      .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li .msg-li-icon {
        position: absolute;
        top: 15px;
        left: 10px;
        font-size: 1.4em; }
      .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li a {
        white-space: normal;
        position: relative;
        display: inline-block;
        padding: 10px 20px 10px 40px;
        line-height: normal;
        margin: 0; }
      .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li.dropdown-li-second-level {
        max-height: 200px; }
        .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li.dropdown-li-second-level ul {
          padding: 0;
          margin: 0;
          list-style: none; }
          .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li.dropdown-li-second-level ul li a {
            color: #1b4e83; }
            .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li.dropdown-li-second-level ul li a:focus, .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li.dropdown-li-second-level ul li a:hover {
              text-decoration: none;
              background-color: #f5f5f5;
              color: #1b4e83; }
          .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li.dropdown-li-second-level ul li.unread a {
            background-color: #f5f5f5; }
          .navbar-nav.navbar-account-setting li.dropdown.dropdown-alert ul.dropdown-menu li.dropdown-li-second-level ul li.unread .msg-li-icon {
            color: #95111e; }
.navbar-nav.navbar-main-menu {
  background-color: #1b4e83;
  display: block;
  width: 100%; }
  @media (max-width: 767px) {
    .navbar-nav.navbar-main-menu {
      width: auto; } }
  .navbar-nav.navbar-main-menu li a {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -ms-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s; }
    .navbar-nav.navbar-main-menu li a:hover {
      background-color: #48729c; }
  .navbar-nav.navbar-main-menu li.active a {
    background-color: #48729c; }
    .navbar-nav.navbar-main-menu li.active a:hover {
      background-color: #48729c; }
  .navbar-nav.navbar-main-menu li.company-name {
    float: right; }
    @media (max-width: 767px) {
      .navbar-nav.navbar-main-menu li.company-name {
        float: none; } }
    .navbar-nav.navbar-main-menu li.company-name a {
      font-weight: 700; }

.navbar-toggle {
  margin-top: 1em; }
  .navbar-toggle .icon-bar {
    background-color: #1b4e83; }

.col-main-menu {
  background-color: #1b4e83; }

.navbar-brand {
  padding: 0;
  margin: 1.2em 0 0 0;
  height: auto;
  font-size: 100%; }

@media (max-width: 767px) {
  .navbar-brand {
    width: 75%; } }
.navbar-brand img {
  max-width: 85%;
  font-size: 1em; }

@media (max-width: 767px) {
  .navbar-brand img {
    max-width: 100%; } }
.wrapper {
  min-height: 100%;
  position: relative;
  background-color: #f5f5f5;
  padding-bottom: 3em; }

.box-table {
  display: table;
  width: 100%;
  height: 100%; }

.box-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%; }
  .box-table-cell.v-align-middle {
    vertical-align: middle; }
  .box-table-cell.v-align-top {
    vertical-align: top; }
  .box-table-cell.v-align-bottom {
    vertical-align: bottom; }

.content {
  /*position: relative;
  height: 100%;*/
  padding-bottom: 1em; }

.login {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 4.45em;
  bottom: 3em; }
  .login .content {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: auto; }
    .login .content::-webkit-scrollbar {
      display: none; }
    .login .content::-webkit-scrollbar-thumb {
      display: none; }
    .login .content p {
      font-size: 0.875em;
      font-weight: 600; }

.row-actions {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row; }
  .row-actions a {
    font-weight: 600;
    color: #000000;
    font-size: 0.875em;
    float: right;
    margin-right: 1em; }

.bg-white {
  background-color: #ffffff; }

.bg-gray {
  background-color: #dfdfdf; }

.shadow {
  -webkit-box-shadow: 1px 0 4px 1px rgba(231, 231, 231, 0.5);
  -moz-box-shadow: 1px 0 4px 1px rgba(231, 231, 231, 0.5);
  box-shadow: 1px 0 4px 1px rgba(231, 231, 231, 0.5); }

@media (min-width: 992px) {
  .row-table {
    display: table;
    width: 100%;
    margin: 0; }
    .row-table > div[class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: middle; } }

.container-filter,
.container-entries {
  padding: 0.8em 0; }

.container-filter,
.container-entries,
.container-disalbed-accounts {
  padding: 0.8em 0; }

.container-filter {
  float: right; }
  @media (max-width: 991px) {
    .container-filter {
      float: none; } }

.brdr-right {
  border-right: 5px solid #f5f5f5; }

@media (max-width: 991px) {
  .brdr-right {
    border-right: 0px solid #f5f5f5; } }
.container-filter .btn {
  float: left;
  width: 6.904em;
  margin-left: 0.89em; }
  @media (max-width: 991px) {
    .container-filter .btn {
      width: 20%;
      margin-left: 2%; } }

.container-entries .btn-add {
  width: 20%;
  float: left; }

@media (max-width: 767px) {
  .container-filter .btn {
    display: block;
    width: 100%;
    margin-bottom: .5em;
    margin-left: 0; }

  .container-entries .btn-add {
    display: block;
    width: 100%;
    margin-bottom: .5em; } }
.title {
  font-size: 1.5625em;
  font-weight: 600;
  color: #1b4e83;
  padding: 0.5em 0;
  line-height: 1; }
  .title span {
    font-size: 0.75em; }
  .title em {
    font-size: 0.6em;
    color: #000000;
    font-weight: 400; }
  .title.no-padding {
    padding: 0; }

.sub-title {
  font-size: 1.125em;
  font-weight: 700;
  color: #1b4e83;
  padding: 0.5em 0;
  position: relative;
  margin-bottom: 1.2em; }
  .sub-title .txt {
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1; }
  .sub-title span {
    font-size: 0.75em; }
  .sub-title .line {
    display: inline-block;
    height: 1px;
    background-color: #dedede;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5em; }

hr {
  border-top: 1px solid #dedede; }

.table.table-listing > thead > tr > th, .table.table-listing > tbody > tr > th, .table.table-listing > tfoot > tr > th {
  background-color: #1b4e83;
  color: #ffffff;
  font-weight: 600;
  border-bottom-width: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.8;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  border: 1px solid #dedede; }
.table.table-listing > thead > tr > td, .table.table-listing > tbody > tr > td, .table.table-listing > tfoot > tr > td {
  background-color: #ffffff;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.8;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  border: 1px solid #dedede; }
.table.table-listing > tbody > tr > td {
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s; }
.table.table-listing > tbody > tr.selected {
  background-color: transparent; }
.table.table-listing > tbody > tr:hover > td {
  background-color: rgba(231, 231, 231, 0.2); }
.table.table-listing > tbody > tr.selected > td {
  background-color: rgba(27, 78, 131, 0.2); }
.table.table-listing > tbody > tr.disabled > td {
  background-color: rgba(231, 231, 231, 0.2); }
.table.table-listing > tbody > tr.tr-options > td {
  background-color: rgba(231, 231, 231, 0.2);
  border: 0;
  font-weight: 600;
  vertical-align: middle; }
  .table.table-listing > tbody > tr.tr-options > td .col-select-field-with-add-btn select.form-control {
    width: 58%;
    background-color: #ffffff;
    height: 2.167em;
    font-size: 0.75em;
    font-weight: 400; }
  .table.table-listing > tbody > tr.tr-options > td .col-select-field-with-add-btn .btn.btn-add {
    width: 40%;
    margin-right: 0; }
.table.table-listing > tfoot > tr > td {
  border: 1px solid transparent; }
.table.table-listing th.actions {
  width: 13%; }
.table.table-listing td .icon-edit {
  cursor: pointer;
  font-size: 1.3em;
  margin: 0 0.5em;
  color: #1b4e83; }
.table.table-listing td .icon-delete {
  font-size: 1.3em;
  color: #95111e;
  margin: 0 0.5em; }
.table.table-listing td .icon-checked {
  font-size: 1.3em;
  color: #64ab45;
  margin: 0 0.5em; }
.table.table-listing td .icon-view {
  font-size: 1.3em;
  margin: 0 0.5em;
  color: #64ab45; }
.table.table-listing td > a {
  color: #1b4e83;
  cursor: pointer; }
.table.table-listing .txt-total {
  color: #1b4e83;
  font-size: 0.9375em; }
.table.table-listing .col-input-with-edit-link .form-control {
  float: left;
  width: 77%;
  display: inline-block; }
  @media (max-width: 767px) {
    .table.table-listing .col-input-with-edit-link .form-control {
      width: 62%; } }
.table.table-listing .col-input-with-edit-link .link-edit {
  float: right;
  width: 30px;
  display: inline-block;
  cursor: pointer; }

.pagi {
  text-align: right; }
  @media (max-width: 767px) {
    .pagi {
      text-align: center; } }
  .pagi .pagi-info {
    display: inline-block; }
    @media (max-width: 767px) {
      .pagi .pagi-info {
        margin-bottom: 0.5em; } }
  .pagi nav {
    display: inline-block;
    vertical-align: middle; }
    .pagi nav .pagination {
      margin: 0; }
      .pagi nav .pagination > li > a,
      .pagi nav .pagination > li > span {
        background: none;
        -webkit-transition: all ease-in-out 0.15s;
        -moz-transition: all ease-in-out 0.15s;
        -ms-transition: all ease-in-out 0.15s;
        -o-transition: all ease-in-out 0.15s;
        transition: all ease-in-out 0.15s; }
      .pagi nav .pagination > li > a:hover,
      .pagi nav .pagination > li > span:hover,
      .pagi nav .pagination > li > a:focus,
      .pagi nav .pagination > li > span:focus {
        background: #1b4e83;
        color: #ffffff; }

.popover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 0; }
  .popover .popover-title {
    background-color: #dfdfdf;
    border-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 1.2em; }
  .popover .popover-content .confirmation-buttons .btn-group .btn {
    min-width: 5em;
    margin: 0 3px;
    text-align: center;
    padding: 0.215em 10px 0.215em; }
    .popover .popover-content .confirmation-buttons .btn-group .btn .glyphicon {
      display: none; }
    .popover .popover-content .confirmation-buttons .btn-group .btn.btn-default {
      background-color: #95111e;
      color: #ffffff; }

.dataTables_wrapper {
  text-align: right; }
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
    color: #000000; }
  .dataTables_wrapper > .dataTables_length {
    padding: 0;
    float: left;
    text-align: right; }
    @media (max-width: 767px) {
      .dataTables_wrapper > .dataTables_length {
        float: none;
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em; } }
    .dataTables_wrapper > .dataTables_length label {
      margin: 0;
      font-size: .9375em;
      color: #1b4e83;
      font-weight: 400; }
    .dataTables_wrapper > .dataTables_length:first-child {
      display: none; }
    .dataTables_wrapper > .dataTables_length select {
      background: #ffffff;
      border: 1px solid #dfdfdf;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
  .dataTables_wrapper table.dataTable {
    text-align: left;
    margin-bottom: 1em;
    border-collapse: collapse; }
    .dataTables_wrapper table.dataTable.no-footer {
      border-bottom: 0; }
    .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
    .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
      background-color: #64ab45;
      display: none; }
    .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
      background-color: #1b4e83;
      display: none; }
  .dataTables_wrapper .dataTables_info {
    font-size: .875em;
    float: none;
    display: inline-block; }
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    display: inline-block;
    margin-left: 1em; }
    @media (max-width: 767px) {
      .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em; } }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      border: 1px solid #dedede;
      color: #1b4e83 !important;
      border-left: 0;
      margin-left: 0;
      font-size: .875em;
      padding: 10px 1em;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      -webkit-transition: all ease-in-out 0.15s;
      -moz-transition: all ease-in-out 0.15s;
      -ms-transition: all ease-in-out 0.15s;
      -o-transition: all ease-in-out 0.15s;
      transition: all ease-in-out 0.15s; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: #dedede;
        color: #1b4e83 !important;
        border: 1px solid #dedede;
        border-left: 0; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
        border-left: 1px solid #dedede;
        color: #1b4e83;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -ms-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
          border: 1px solid #dedede; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        background: #1b4e83;
        color: #ffffff !important;
        border: 1px solid #1b4e83 !important;
        padding: 7px 1em; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
          border: 1px solid #1b4e83 !important;
          border-left: 0;
          background: #1b4e83;
          color: #ffffff !important; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        color: #1b4e83;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -ms-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
          border: 1px solid #dedede;
          border-left: 0; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
        border: 1px solid #dedede !important; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
          border: 1px solid #dedede !important; }

.data-table-with-out-dataTables_info_and_paginate .dataTables_wrapper .dataTables_info {
  display: none; }
.data-table-with-out-dataTables_info_and_paginate .dataTables_wrapper .dataTables_paginate {
  display: none; }

.table-leases-records {
  width: 99%;
  overflow: auto;
  height: 10em; }
  .table-leases-records .dataTables_wrapper {
    width: 101%; }

.mCSB_scrollTools {
  width: 5px; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(0, 0, 0, 0.6);
  width: 5px; }

.col-input-custom-view {
  padding-top: 15px; }
  .col-input-custom-view .form-control.form-control-custom-view {
    width: 63%;
    float: left;
    margin-bottom: 20px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .col-input-custom-view .form-control.form-control-custom-view {
        width: 25em; } }
    @media (max-width: 767px) {
      .col-input-custom-view .form-control.form-control-custom-view {
        width: 100%; } }
  .col-input-custom-view .btn.btn-save-custom-view {
    font-size: 0.875em;
    width: 18%;
    float: right;
    margin-bottom: 20px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .col-input-custom-view .btn.btn-save-custom-view {
        width: 25%; } }
    @media (max-width: 767px) {
      .col-input-custom-view .btn.btn-save-custom-view {
        width: 100%; } }

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #1b4e83;
  border-color: #1b4e83;
  color: #ffffff; }
.btn-group .btn {
  padding: 5px 20px 5px 10px;
  text-align: left;
  font-size: 0.875em; }
  .btn-group .btn .caret {
    margin-left: 3px;
    position: absolute;
    right: 0.5em;
    top: 0;
    bottom: 0;
    height: 0.3em;
    margin: auto auto;
    line-height: 1; }
.btn-group .dropdown-menu {
  min-width: 290px;
  border: 0;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.98); }
.btn-group.btn-group-lg .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  line-height: 1.42857143; }

.row-filters-my-leases .filters-content .left {
  float: left;
  width: 90%; }
  @media (max-width: 767px) {
    .row-filters-my-leases .filters-content .left {
      width: 100%; } }
.row-filters-my-leases .filters-content .right {
  float: right;
  width: 10%; }
  @media (max-width: 767px) {
    .row-filters-my-leases .filters-content .right {
      width: 100%; } }
.row-filters-my-leases .filters-content .row-add-more {
  float: left;
  width: 100%;
  display: none;
  margin-bottom: 1em; }
  .row-filters-my-leases .filters-content .row-add-more .content-add-more {
    padding: 5px 15px 15px;
    border: 1px solid #dedede;
    position: relative;
    min-height: 2.5em; }
    .row-filters-my-leases .filters-content .row-add-more .content-add-more .btn-close {
      background-color: #ffffff;
      border: 1px solid #dedede;
      position: absolute;
      top: 0.6em;
      right: 1em;
      font-weight: 700;
      line-height: 1;
      font-size: 1.2em; }
    .row-filters-my-leases .filters-content .row-add-more .content-add-more .wrapper-add-more-search-value {
      display: inline-block;
      background: #ffffff;
      font-size: .75em;
      color: #1b4e83;
      border: 1px solid #dedede;
      padding: 4px 30px 4px 5px;
      position: relative;
      min-width: 12em;
      margin-top: 20px;
      margin-right: 30px; }
      .row-filters-my-leases .filters-content .row-add-more .content-add-more .wrapper-add-more-search-value .title {
        font-size: 1em;
        display: block;
        position: absolute;
        top: -20px;
        left: 0;
        padding: 0;
        color: #000;
        font-weight: 400; }
      .row-filters-my-leases .filters-content .row-add-more .content-add-more .wrapper-add-more-search-value .equal-sign {
        display: inline-block;
        margin: 0 5%; }
      .row-filters-my-leases .filters-content .row-add-more .content-add-more .wrapper-add-more-search-value .checkbox-value {
        position: relative;
        padding-left: 10px;
        margin-left: 5px; }
        .row-filters-my-leases .filters-content .row-add-more .content-add-more .wrapper-add-more-search-value .checkbox-value:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          height: 1px;
          margin: auto 0;
          display: inline-block;
          width: 5px;
          background: #666666; }
        .row-filters-my-leases .filters-content .row-add-more .content-add-more .wrapper-add-more-search-value .checkbox-value:nth-of-type(1) {
          padding-left: 0;
          margin: 0; }
          .row-filters-my-leases .filters-content .row-add-more .content-add-more .wrapper-add-more-search-value .checkbox-value:nth-of-type(1):before {
            display: none; }
      .row-filters-my-leases .filters-content .row-add-more .content-add-more .wrapper-add-more-search-value .close {
        float: right;
        font-size: 1.5em;
        font-weight: bold;
        border: 1px solid #dedede;
        color: #dedede;
        line-height: 0.5;
        display: inline-block;
        padding: 1px;
        margin-left: 25px;
        opacity: 1;
        position: absolute;
        right: 0.5em;
        top: 7px;
        -webkit-transition: ease-in-out all 0.15s;
        -moz-transition: ease-in-out all 0.15s;
        -ms-transition: ease-in-out all 0.15s;
        -o-transition: ease-in-out all 0.15s;
        transition: ease-in-out all 0.15s; }
        .row-filters-my-leases .filters-content .row-add-more .content-add-more .wrapper-add-more-search-value .close:hover {
          color: #1b4e83;
          border-color: #1b4e83; }
    .row-filters-my-leases .filters-content .row-add-more .content-add-more .result-box {
      display: inline-block;
      padding-top: 5px; }
.row-filters-my-leases .filters-content .btn {
  font-size: 0.875em; }
.row-filters-my-leases .filters-content .btn-group {
  display: inline-block;
  margin-left: 10px;
  float: left;
  width: 100%;
  max-width: 14%;
  margin-bottom: 15px; }
  .row-filters-my-leases .filters-content .btn-group:first-child {
    margin-left: 0; }
  @media (min-width: 992px) and (max-width: 1250px) {
    .row-filters-my-leases .filters-content .btn-group {
      max-width: 20%;
      margin-left: 0;
      margin-right: 15px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .row-filters-my-leases .filters-content .btn-group {
      max-width: 40%;
      margin-left: 0;
      margin-right: 15px; } }
  @media (max-width: 767px) {
    .row-filters-my-leases .filters-content .btn-group {
      max-width: 100%;
      margin-left: 0; } }
  .row-filters-my-leases .filters-content .btn-group.btn-group-lg {
    max-width: 15%; }
    @media (min-width: 992px) and (max-width: 1250px) {
      .row-filters-my-leases .filters-content .btn-group.btn-group-lg {
        max-width: 20%;
        margin-left: 0;
        margin-right: 15px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .row-filters-my-leases .filters-content .btn-group.btn-group-lg {
        max-width: 40%;
        margin-left: 0;
        margin-right: 15px; } }
    @media (max-width: 767px) {
      .row-filters-my-leases .filters-content .btn-group.btn-group-lg {
        max-width: 100%; } }
  .row-filters-my-leases .filters-content .btn-group.btn-group-xlg {
    max-width: 23%; }
    @media (min-width: 992px) and (max-width: 1250px) {
      .row-filters-my-leases .filters-content .btn-group.btn-group-xlg {
        max-width: 20%;
        margin-left: 0;
        margin-right: 15px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .row-filters-my-leases .filters-content .btn-group.btn-group-xlg {
        max-width: 40%;
        margin-left: 0;
        margin-right: 15px; } }
    @media (max-width: 767px) {
      .row-filters-my-leases .filters-content .btn-group.btn-group-xlg {
        max-width: 100%; } }
.row-filters-my-leases .filters-content .btn.btn-search {
  width: 90%;
  float: right;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .row-filters-my-leases .filters-content .btn.btn-search {
      width: 100%; } }
.row-filters-my-leases .filters-content .dropdown-menu.dropdown-menu-search-content li {
  max-height: 300px; }
.row-filters-my-leases .filters-content .search-content-dropdown {
  padding: 1.5em 2em; }
  .row-filters-my-leases .filters-content .search-content-dropdown .form-control {
    margin-bottom: 15px;
    padding-right: 50px; }
  .row-filters-my-leases .filters-content .search-content-dropdown .input-field {
    position: relative; }
    .row-filters-my-leases .filters-content .search-content-dropdown .input-field.input-field-datetimepicker .icon-calendar {
      font-size: 1em; }
    .row-filters-my-leases .filters-content .search-content-dropdown .input-field.input-field-datetimepicker .input-group {
      display: block;
      margin-bottom: 15px; }
      .row-filters-my-leases .filters-content .search-content-dropdown .input-field.input-field-datetimepicker .input-group .form-control {
        margin-bottom: 0;
        padding: 6px 12px;
        display: block;
        float: none; }
    .row-filters-my-leases .filters-content .search-content-dropdown .input-field.input-field-datetimepicker .input-group-addon {
      font-size: 1em;
      color: #1b4e83;
      background-color: transparent;
      border: 1px solid #dfdfdf;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 30px;
      z-index: 7;
      padding: 0;
      height: 1em;
      margin: auto; }
  .row-filters-my-leases .filters-content .search-content-dropdown .btn.btn-add {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 2.613em; }
  .row-filters-my-leases .filters-content .search-content-dropdown .btn.btn-add-date {
    position: static;
    right: 0;
    top: 0;
    width: 50px;
    height: 2.613em; }
  .row-filters-my-leases .filters-content .search-content-dropdown label {
    font-size: 1em;
    font-weight: 400; }
  .row-filters-my-leases .filters-content .search-content-dropdown .filter-input-field input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #1b4e83;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    height: 2.286em;
    font-size: 1em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #dfdfdf; }
    .row-filters-my-leases .filters-content .search-content-dropdown .filter-input-field input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: #666666;
      outline: none; }
  .row-filters-my-leases .filters-content .search-content-dropdown .filter-content-table tr .checkbox {
    margin-bottom: 0;
    margin-top: 10px; }
  .row-filters-my-leases .filters-content .search-content-dropdown .filter-content-table tr:first-child .checkbox {
    margin-top: 0; }

.btn-group-columns .dropdown-menu.dropdown-menu-columns li,
.btn-group-customize-journal .dropdown-menu.dropdown-menu-columns li,
.btn-group-more .dropdown-menu.dropdown-menu-columns li {
  max-height: 300px; }
.btn-group-columns .columns-content-dropdown,
.btn-group-customize-journal .columns-content-dropdown,
.btn-group-more .columns-content-dropdown {
  padding: 1.5em 2em; }
.btn-group-columns .filter-input-field input,
.btn-group-customize-journal .filter-input-field input,
.btn-group-more .filter-input-field input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #1b4e83;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  height: 2.286em;
  font-size: 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #dfdfdf; }
  .btn-group-columns .filter-input-field input:focus,
  .btn-group-customize-journal .filter-input-field input:focus,
  .btn-group-more .filter-input-field input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #666666;
    outline: none; }
.btn-group-columns .filter-content-table,
.btn-group-customize-journal .filter-content-table,
.btn-group-more .filter-content-table {
  width: 100%; }
  .btn-group-columns .filter-content-table tr .checkbox,
  .btn-group-customize-journal .filter-content-table tr .checkbox,
  .btn-group-more .filter-content-table tr .checkbox {
    margin-bottom: 0;
    margin-top: 10px; }
  .btn-group-columns .filter-content-table tr .heading,
  .btn-group-customize-journal .filter-content-table tr .heading,
  .btn-group-more .filter-content-table tr .heading {
    padding-top: 10px; }
  .btn-group-columns .filter-content-table tr:first-child .checkbox,
  .btn-group-customize-journal .filter-content-table tr:first-child .checkbox,
  .btn-group-more .filter-content-table tr:first-child .checkbox {
    margin-top: 0; }
  .btn-group-columns .filter-content-table tr:first-child .heading,
  .btn-group-customize-journal .filter-content-table tr:first-child .heading,
  .btn-group-more .filter-content-table tr:first-child .heading {
    padding-top: 0; }
  .btn-group-columns .filter-content-table tr td.heading,
  .btn-group-customize-journal .filter-content-table tr td.heading,
  .btn-group-more .filter-content-table tr td.heading {
    font-weight: 600;
    font-size: 1.1em; }
.btn-group-columns label,
.btn-group-customize-journal label,
.btn-group-more label {
  font-size: 1em;
  font-weight: 400; }
.btn-group-columns .btn.btn-save,
.btn-group-customize-journal .btn.btn-save,
.btn-group-more .btn.btn-save {
  text-align: center;
  padding: 5px 10px;
  width: 50%;
  margin-top: 20px; }

.btn-group-customize-journal .dropdown-menu.dropdown-menu-columns {
  min-width: 100%; }
  .btn-group-customize-journal .dropdown-menu.dropdown-menu-columns li {
    max-height: 200px; }

.row-reports-my-leases .form-reports-my-leases {
  padding-top: 30px;
  padding-bottom: 10px; }
.row-reports-my-leases .form-group {
  margin-bottom: 0; }
.row-reports-my-leases .form-control,
.row-reports-my-leases .btn,
.row-reports-my-leases .btn-group,
.row-reports-my-leases .label-control-1 {
  margin-bottom: 20px; }
  .row-reports-my-leases .form-control .btn,
  .row-reports-my-leases .btn .btn,
  .row-reports-my-leases .btn-group .btn,
  .row-reports-my-leases .label-control-1 .btn {
    margin-bottom: 0; }
.row-reports-my-leases .form-control {
  vertical-align: middle;
  min-width: 5em;
  width: auto;
  height: auto;
  padding-top: 0.188em;
  padding-bottom: 0.188em;
  margin-right: 0.5em;
  display: inline-block;
  font-size: 0.875em; }
.row-reports-my-leases .label-control-1 {
  display: inline-block;
  position: relative;
  top: -0.5em; }

.row-add-lease-title .right {
  text-align: right; }
  @media (max-width: 767px) {
    .row-add-lease-title .right {
      text-align: left;
      padding-bottom: 15px; } }

.box {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 1em; }

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #1b4e83; }

.box-custom-fields {
  border-top: 1px solid #dedede; }
  .box-custom-fields .row-data {
    margin-top: 20px; }

.col-select-field-with-add-btn select.form-control {
  float: left;
  width: 84%; }
  @media (max-width: 767px) {
    .col-select-field-with-add-btn select.form-control {
      width: 100%;
      margin-bottom: 20px; } }
.col-select-field-with-add-btn .btn.btn-add {
  float: right;
  width: 12%;
  margin-right: 15px; }
  @media (max-width: 767px) {
    .col-select-field-with-add-btn .btn.btn-add {
      width: 100%;
      margin-right: 0; } }

.result-box-customization {
  min-height: 5em;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  padding: 0 15px 10px; }
  .result-box-customization .wrapper-content-box-customization {
    display: inline-block;
    background: #ffffff;
    font-size: .75em;
    color: #1b4e83;
    border: 1px solid #dedede;
    padding: 4px 30px 4px 5px;
    position: relative;
    min-width: 8em;
    margin-top: 10px;
    margin-right: 20px; }
    .result-box-customization .wrapper-content-box-customization .close {
      float: right;
      font-size: 1.5em;
      font-weight: bold;
      border: 1px solid #dedede;
      color: #dedede;
      line-height: 0.5;
      display: inline-block;
      padding: 1px;
      margin-left: 25px;
      opacity: 1;
      position: absolute;
      right: 0.5em;
      top: 7px;
      -webkit-transition: ease-in-out all 0.15s;
      -moz-transition: ease-in-out all 0.15s;
      -ms-transition: ease-in-out all 0.15s;
      -o-transition: ease-in-out all 0.15s;
      transition: ease-in-out all 0.15s; }
      .result-box-customization .wrapper-content-box-customization .close:hover {
        color: #1b4e83;
        border-color: #1b4e83; }

.wizard {
  overflow: visible; }
  .wizard .steps {
    font-size: .875em;
    margin-bottom: 2em; }
    .wizard .steps > ul > li {
      position: relative; }
      .wizard .steps > ul > li .progress {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    .wizard .steps a {
      padding: 0 0 3em 0; }
      .wizard .steps a .number {
        font-size: 1em;
        display: inline-block;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 2.7;
        margin-right: 10px; }
    .wizard .steps .disabled a, .wizard .steps .disabled a:hover, .wizard .steps .disabled a:active {
      padding: 0 0 3em 0;
      background: none;
      color: #1b4e83; }
      .wizard .steps .disabled a .number, .wizard .steps .disabled a:hover .number, .wizard .steps .disabled a:active .number {
        color: #1b4e83;
        background: #dfdfdf; }
    .wizard .steps .disabled .progressbar-shown-before-done {
      display: block; }
    .wizard .steps .disabled .progressbar-shown-after-done-current {
      display: none; }
    .wizard .steps .done a, .wizard .steps .done a:hover, .wizard .steps .done a:active, .wizard .steps .current a, .wizard .steps .current a:hover, .wizard .steps .current a:active {
      padding: 0 0 3em 0;
      background: none;
      color: #1b4e83; }
      .wizard .steps .done a .number, .wizard .steps .done a:hover .number, .wizard .steps .done a:active .number, .wizard .steps .current a .number, .wizard .steps .current a:hover .number, .wizard .steps .current a:active .number {
        color: #ffffff;
        background: #1b4e83; }
    .wizard .steps .done .progressbar-shown-before-done, .wizard .steps .current .progressbar-shown-before-done {
      display: none; }
    .wizard .steps .done .progressbar-shown-after-done-current, .wizard .steps .current .progressbar-shown-after-done-current {
      display: block; }
  .wizard > .content {
    background: none;
    margin: 0;
    min-height: 32em;
    overflow: visible; }
    .wizard > .content > .body {
      padding: 0;
      width: 100%;
      height: 100%; }
      .wizard > .content > .body ul {
        list-style: none !important; }
      .wizard > .content > .body label {
        margin-bottom: 0;
        vertical-align: middle; }
  .wizard > .actions a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: #64ab45;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -ms-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s; }
    .wizard > .actions a:hover, .wizard > .actions a:active {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      background: #1b4e83; }

.wrapper-lease-classification-wizard .wizard .steps {
  display: none; }
.wrapper-lease-classification-wizard .wizard > .content > .body .icon {
  font-size: 1.5em;
  color: #1b4e83;
  margin-left: 1em;
  vertical-align: middle;
  cursor: pointer; }
.wrapper-lease-classification-wizard .btn.btn-calculate {
  margin-top: 10px; }
.wrapper-lease-classification-wizard .radio, .wrapper-lease-classification-wizard .checkbox {
  margin-top: 0;
  margin-bottom: 0; }

.wrapper-start-end-date-wizard .wizard > .content {
  min-height: 20em; }
.wrapper-start-end-date-wizard .input-field {
  position: relative; }
  .wrapper-start-end-date-wizard .input-field.input-field-datetimepicker .icon-calendar {
    font-size: 1em; }
  .wrapper-start-end-date-wizard .input-field.input-field-datetimepicker .input-group {
    display: block;
    margin-bottom: 15px; }
    .wrapper-start-end-date-wizard .input-field.input-field-datetimepicker .input-group .form-control {
      margin-bottom: 0;
      padding: 6px 12px;
      display: block;
      float: none; }
  .wrapper-start-end-date-wizard .input-field.input-field-datetimepicker .input-group-addon {
    font-size: 1em;
    color: #1b4e83;
    background-color: transparent;
    border: 1px solid #dfdfdf;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    z-index: 7;
    padding: 0;
    height: 1em;
    margin: auto; }

@media (min-width: 992px) {
  .form-group-calculation {
    display: table;
    width: 100%;
    margin: 0;
    margin-top: 3em; }
    .form-group-calculation > div[class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: middle; } }
.form-group-calculation .left {
  text-align: right; }
.form-group-calculation .row-data {
  display: inline-block; }
  .form-group-calculation .row-data .col-label,
  .form-group-calculation .row-data .col-value {
    display: inline-block;
    font-weight: 600;
    font-size: 0.875em;
    color: #1b4e83; }
  .form-group-calculation .row-data .col-label {
    width: 50%;
    text-align: left;
    float: left; }
  .form-group-calculation .row-data .col-value {
    width: 50%;
    text-align: right;
    float: right; }
  .form-group-calculation .row-data .separator {
    display: block;
    height: 1px;
    background: #dedede;
    width: 100%;
    margin: 15px 0;
    float: left; }
.form-group-calculation .sign-equal {
  display: inline-block; }
.form-group-calculation .col-input-field {
  display: inline-block;
  width: 60px;
  margin-left: 10%; }
.form-group-calculation .col-info {
  display: inline-block; }
  .form-group-calculation .col-info .info-txt {
    margin: 30px 0 0 0;
    font-weight: 600;
    font-size: 0.875em;
    color: #1b4e83; }
    .form-group-calculation .col-info .info-txt:first-child {
      margin-top: 0; }

.form-group-datetimepicker .input-field {
  position: relative; }
  .form-group-datetimepicker .input-field.input-field-datetimepicker .icon-calendar {
    font-size: 1em; }
  .form-group-datetimepicker .input-field.input-field-datetimepicker .input-group {
    display: block;
    margin-bottom: 15px; }
    .form-group-datetimepicker .input-field.input-field-datetimepicker .input-group .form-control {
      margin-bottom: 0;
      padding: 6px 12px;
      display: block;
      float: none;
      min-width: inherit;
      width: 100%; }
  .form-group-datetimepicker .input-field.input-field-datetimepicker .input-group-addon {
    font-size: 1em;
    color: #1b4e83;
    background-color: transparent;
    border: 1px solid #dfdfdf;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    z-index: 7;
    padding: 0;
    height: 1em;
    margin: auto; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #848486;
  color: #ffffff;
  padding: 1em 0;
  font-size: 0.875em; }

/* toaster css override date 07-Apr-2017*/
#toast-container > .toast-info,
#toast-container > .toast-error,
#toast-container > .toast-success,
#toast-container > .toast-warning {
  background-image: none !important; }

#CompanyList tbody tr td {
  cursor: alias; }

.step-indicator {
  margin-bottom: 2em; }
  .step-indicator a {
    display: inline-block;
    margin-right: 5.5em; }
    .step-indicator a:hover, .step-indicator a.active {
      text-decoration: none; }
      .step-indicator a:hover .number, .step-indicator a.active .number {
        background: #1b4e83;
        color: #ffffff; }
  .step-indicator .number {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5;
    text-align: center;
    margin-right: 1.5em;
    background: #f4f4f4;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px; }
  .step-indicator .progress {
    margin: 1.5625em -15px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .step-indicator .progress-bar {
    background-color: #1b4e83; }

/*# sourceMappingURL=style.css.map */
