@import url(bootstrap.css);
@import url(font-awesome.css);
@import url(plugin/toastr.css);
@import url(plugin/jquery.dataTables.css);
@import url(plugin/responsive.dataTables.css);
@import url(plugin/jquery.mCustomScrollbar.css);
@import url(plugin/bootstrap-datetimepicker.css);
@import url(plugin/jquery.steps.css);
@import 'toastr-override';
@import 'fonts';
@import 'forms';
@import 'modal';
@import 'nav-tabs';
@import 'helper';
@import 'variables';
@import 'colors';
@import 'buttons';

html,
body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: $color_black;
}

h2 {
	margin: 0 0 1.5em 0;
	font-weight: 600;
	color: $color_primary;
	font-size: 1.625em;
}

.top-buffer-5 {
	margin-top: 5px;
}

.top-buffer-10 {
	margin-top: 10px;
}

.top-buffer-20 {
	margin-top: 20px;
}

.top-buffer-30 {
	margin-top: 30px;
}

.top-buffer-40 {
	margin-top: 40px;
}

.top-buffer-50 {
	margin-top: 50px;
}

.pull-down-20 {
	position: relative;
	bottom: -20px;
}

@media (min-width: 1199px) {
  .no-left-padd-lg {
    padding-left: 0;
  }

  .no-right-padd-lg {
    padding-right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .no-left-padd-md {
    padding-left: 0;
  }

  .no-right-padd-md {
    padding-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .no-left-padd-sm {
    padding-left: 0;
  }

  .no-right-padd-sm {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .no-left-padd-xs {
    padding-left: 0;
  }

  .no-right-padd-xs {
    padding-right: 0;
  }
}

.no-left-padd {
	padding-left: 0;
}

.no-right-padd {
	padding-right: 0;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.header {
	background-color: $color_white;
	border-bottom-width: 1px;
	border-bottom-color: $color_mono_1;
	border-bottom-style: solid;
	position: relative;
	z-index: 1;
}

.navbar {
	margin: 0;
	border: 0;
  @include border-radius(0);
  min-height: 4.375em;
  @media (max-width: 767px) {
  	min-height: inherit;
  }
  > .container,
	> .container-fluid {
		.navbar-brand {
			margin-left: 0;
			@media (max-width: 767px) {
				margin-left: 15px;
			}
		}
	}
}

.navbar-nav {
	&.nav {
		> li > a {
			@include transition(all ease-in-out 0.15s);
			&:focus,
			&:hover {
				background-color: rgba($color_light_gray_1, 0.2);
			}
		}
	}
	.dropdown-menu > li > a {
		@include transition(all ease-in-out 0.15s);
	}
	&.navbar-account-setting {
	  margin-top: 0.5em;
	  li a {
	    font-weight: 600;
	    &:focus, &:hover {
	      //background-color: transparent;
	    }
	  }
	  .li-msgs {
	    margin-top: 0.3em;
	    margin-right: 2em;
	    a {
	      position: relative;
	      display: inline-block;
	      .icon-messages {
	        font-size: 1.6em;
	      }
	      .badge {
	        font-weight: 400;
	        position: absolute;
	        top: 0.6em;
	        right: -0.2em;
	        background-color: $color_alert;
	      }
	    }
	  }
	  li.dropdown {
		  &.user-name {
			  span.designation {
			    font-weight: 400;
			    display: block;
			    line-height: 1em;
			    font-size: 0.75em;
			  }
			  > .dropdown-menu {
			  	> li > a {
			  		padding: 8px 20px;
			  		color: $color_primary;
			  	}
			  }		  	
		  }
		  .dropdown-menu {
		  	.divider {
		  		margin: 0;
		  	}
		  }
		  &.dropdown-alert  {
		  	a {
	  		    background-color: transparent;
	  		    color: rgba($color_primary, 0.8);
	  		    &:hover {
	  		    	color: rgba($color_primary, 1);
	  		    }
		  	}
	      ul {
	        &.dropdown-menu {
	          margin-top: 0;
	          border-radius: 0;
	          padding: 0;
	          min-width: 275px;
	          h3 {
	            margin: 0;
	          }
	          li {
	            border-top: 1px solid #DBE0E4;              
	            &.external {
	              background-color: $color_primary;
	              padding: 10px;
	              border-top: 0;
	              h3 {
	                color: $color_white;
	              }
	            }
	            .msg-li-icon {
	              position: absolute;
	              top: 15px;
	              left: 10px;
	              font-size: 1.4em;
	            }
	            a {
	              white-space: normal;
	              position: relative;
	              display: inline-block;
	              padding: 10px 20px 10px 40px;
	              line-height: normal;
	              margin: 0;
	            }
	            &.dropdown-li-second-level {
	              max-height: 200px;
	              ul {
	                padding: 0;
	                margin: 0;
	                list-style: none;
	                li {
	                  a {
	                    color: $color_primary;
	                    &:focus,
	                    &:hover {
	                      text-decoration: none;
	                      background-color: #f5f5f5;
	                      color: $color_primary;
	                    }
	                  }
	                  &.unread {
	                    a {
	                      background-color: #f5f5f5;
	                    }
	                    .msg-li-icon {
	                      color: $color_alert;
	                    }
	                  }                    
	                }
	              }
	            }
	          }
	        }
	      }
	    }	  	
	  }
	}
	&.navbar-main-menu {
	  background-color: $color_primary;
	  display: block;
	  width: 100%;
	  @media (max-width: 767px) {
	  	width: auto;
	  }
	  li {
	    a {
	      color: $color_white;
	      font-weight: 600;
	      font-size: 1.2em;
	      padding-top: 1em;
	      padding-bottom: 1em;
	      @include transition(all ease-in-out .15s);
	      &:hover {
	        background-color: $color_mono_2;
	      }
	    }
	    &.active {
	    	a {
	    		background-color: $color_mono_2;
		    	&:hover {
		        background-color: $color_mono_2;
		      }	    		
	    	}
	    }
	    &.company-name {
	      float: right;
	      @media (max-width: 767px) {
	      	float: none;
	      }
	      a {
	        font-weight: 700;
	      }
	    }
	  }
	}	
}

.navbar-toggle {
	margin-top: 1em;
	.icon-bar {
		background-color: $color_primary;
	}
}

.col-main-menu {
	background-color: $color_primary;
}

.navbar-brand {
	padding: 0;
	margin: 1.2em 0 0 0;
	height: auto;
	font-size: 100%;
}

@media (max-width: 767px) {
	.navbar-brand {
		width: 75%;
	}
}

.navbar-brand img {
	max-width: 85%;
	font-size: 1em;
}

@media (max-width: 767px) {
	.navbar-brand img {
		max-width: 100%;	
	}
}

.wrapper {
	min-height: 100%;
	position: relative;
	background-color: $color_off_white;
	padding-bottom: 3em;
}

.box-table {
	display: table;
	width: 100%;
	height: 100%;
}

.box-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  &.v-align-middle {
    vertical-align: middle;
  }
  &.v-align-top {
    vertical-align: top;
  }
  &.v-align-bottom {
    vertical-align: bottom;
  }
}

.content {
	/*position: relative;
	height: 100%;*/
	padding-bottom: 1em;
}

.login {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 4.45em;
	bottom: 3em;
	.content {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin-top: 0;
	  overflow-x: hidden;
	  overflow-y: auto;
	  &::-webkit-scrollbar {
	    display: none
		}
		&::-webkit-scrollbar-thumb {
	    display: none
		}
		p {
    	font-size: 0.875em;
    	font-weight: 600;
		}
	}
}

.row-actions {
  @include display-flex;
  @include align-items(center);
  @include flex-direction(row);
  a {
		font-weight: 600;
		color: $color_black;
		font-size: 0.875em;
		float: right;
		margin-right: 1em;
	}
}

.bg-white {
	background-color: $color_white;
}

.bg-gray {
	background-color: $color_light_gray;
}

.shadow {
	@include box-shadow(1px 0 4px 1px rgba($color_light_gray_1, 0.5));
}

.row-filter-actions {
	// @media (min-width: 1250px) and (max-width: 1299px) {
	// 	> div[class*="col-"] {
	// 		height: 3.625em;
	// 		display: table;
	// 		> div[class*="col-"] {
	// 			float: none;
	// 			display: table-cell;
	// 			vertical-align: middle;
	// 			padding: 0;
	// 			width: 30em;
	// 			&:first-child {
	// 				width: 55%;
	// 			}
	// 		}
	// 	}		
	// }
	// @media (min-width: 992px) and (max-width: 1249px) {
	// 	> div[class*="col-"] {
	// 		height: 3.625em;
	// 		//margin: 0 auto;
	// 		display: table;
	// 		> div[class*="col-"] {
	// 			float: none;
	// 			display: table-cell;
	// 			vertical-align: middle;
	// 			padding: 0;
	// 			width: 50%;
	// 			&:first-child {
	// 				width: 50%;
	// 			}
	// 		}
	// 	}		
	// }
}

.row-table {
	@media (min-width: 992px) {
		display: table;
		width: 100%;	
		margin: 0;
		> div[class*="col-"] {
			float: none;
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.container-filter,
.container-entries {
	padding: 0.8em 0;
}

.container-filter,
.container-entries,
.container-disalbed-accounts {
	padding: 0.8em 0;
}

.container-filter {
	float: right;
	@media (max-width: 991px) {
		float: none;
	}
}

.brdr-right {
	border-right: 5px solid $color_off_white;
}

@media (max-width: 991px) {
	.brdr-right {
		border-right: 0px solid $color_off_white;
	}	
}

.container-filter .btn {
	float: left;
	width: 6.904em;
	margin-left: 0.89em;
	@media (max-width: 991px) {
		width: 20%;
		margin-left: 2%;
	}
}

.container-entries .btn-add {
	width: 20%;
	float: left;
}

@media (max-width: 767px) {
  .container-filter {
    .btn {
      display: block;
      width: 100%;
      margin-bottom: .5em;
      margin-left: 0;
    }
  }
  .container-entries {
    .btn-add {
      display: block;
      width: 100%;
      margin-bottom: .5em;
    }
  }
}

.title {
	font-size: 1.5625em;
	font-weight: 600;
	color: $color_primary;
	padding: 0.5em 0;
	line-height: 1;
	span {
		font-size: 0.75em;	
	}
	em {
		font-size: 0.6em;
		color: $color_black;
		font-weight: 400;
	}
	&.no-padding {
		padding: 0;
	}
}

.sub-title {
	font-size: 1.125em;
	font-weight: 700;
	color: $color_primary;
	padding: 0.5em 0;
  position: relative;
  margin-bottom: 1.2em;
	.txt {
		background-color: $color_white;
		display: inline-block;
		position: relative;
  	z-index: 1;
	}
	span {
		font-size: 0.75em;	
	}
	.line {
		display: inline-block;
		height: 1px;
		background-color: $color_mono_1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5em;
	}
}

hr {
	border-top: 1px solid $color_mono_1;
}

.table.table-listing {
  > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th {
      background-color: $color_primary;
      color: $color_white;
      font-weight: 600;      
      border-bottom-width: 0;      
      @include styling_td_th_table_listing;
    }
    thead > tr > td, tbody > tr > td, tfoot > tr > td {
      background-color: $color_white;
      font-weight: 400;
      @include styling_td_th_table_listing;
    }
    tbody > tr > td {
    	@include transition(all ease-in-out 0.15s)
    }
    tbody > tr {
    	&.selected {
	    	background-color: transparent;
	    }
	    &:hover > td {
	    	background-color: rgba($color_light_gray_1, 0.2);
	    }
	    &.selected > td {
	    	background-color: rgba($color_primary, 0.2);
	    }
	    &.disabled > td {
	    	background-color: rgba($color_light_gray_1, 0.2);
	    }
	    &.tr-options > td {
	    	background-color: rgba($color_light_gray_1, 0.2);
	    	border: 0;
	    	font-weight: 600;
	    	vertical-align: middle;
	    	.col-select-field-with-add-btn {
	    		select.form-control {
    				width: 58%;
    				background-color: $color_white;
				    height: 2.167em;
				    font-size: 0.75em;
				    font-weight: 400;
    			}
	    		.btn.btn-add {
	    			width: 40%;
	    			margin-right: 0;
	    		}
	    	}
	    }
    }
    tfoot > tr > td {
    	border: 1px solid transparent;
    }
  }
  th.actions {
    width: 13%;
  }
  td {
    .icon-edit {
      font-size: 1.3em;
      margin: 0 0.5em;
      color: $color_primary;
    }
    .icon-delete {
      font-size: 1.3em;
      color: $color_alert;
      margin: 0 0.5em;
    }
    .icon-checked {
      font-size: 1.3em;
      color: $color_secondary;
      margin: 0 0.5em;
    }
    .icon-view {
      font-size: 1.3em;
      margin: 0 0.5em;
      color: $color_secondary;
    }
    > a {
	  	color: $color_primary;
	  	cursor: pointer;
	  }
  }
  .txt-total {
		color: $color_primary;
		font-size: 0.9375em;
	}
	.col-input-with-edit-link {
		.form-control {
			float: left;
			width: 77%;
			display: inline-block;
			@media (max-width: 767px) {
				width: 62%;
			}
		}
		.link-edit {
			float: right;
			width: 30px;
			display: inline-block;
			cursor: pointer;
		}
	}
}

.pagi {
	text-align: right;
	@media (max-width: 767px) {
		text-align: center;
	}
	.pagi-info {
		display: inline-block;
		@media (max-width: 767px) {
			margin-bottom: 0.5em;
		}
	}
	nav {
		display: inline-block;
		vertical-align: middle;
		.pagination {
			margin: 0;
			> li {
				> a,
				> span {
					background: none;
					@include transition(all ease-in-out .15s);
				}				
				> a:hover,
				> span:hover,
				> a:focus,
				> span:focus {
					background: $color_primary;
					color: $color_white;
				}
			}
		}
	}
}

.popover {
	@include border-radius(0);
	@include box-shadow(0 0px 3px 3px rgba($color_black, .1));
	border: 0;
	padding: 0;
	.popover-title {
		background-color: $color_light_gray;
		border-bottom: 0;
		@include border-radius(0);
		font-size: 1.2em;
	}
	.popover-content {
		.confirmation-buttons {
			.btn-group {
				.btn {
					min-width: 5em;
					margin: 0 3px;
					text-align: center;
					padding: 0.215em 10px 0.215em;
					.glyphicon {
						display: none;
					}
					&.btn-default {
						background-color: $color_alert;
						color: $color_white;
					}
				}				
			}
		}
	}	
}

.dataTables_wrapper {
	text-align: right;
	.dataTables_length,
	.dataTables_filter,
	.dataTables_info,
	.dataTables_processing,
	.dataTables_paginate {
		color: $color_black;
	}
	> .dataTables_length {
		padding: 0;
		float: left;
		text-align: right;
		@media (max-width: 767px) {
			float: none;
			text-align: center;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
		label {
			margin: 0;
			font-size: .9375em;
			color: $color_primary;
			font-weight: 400;
		}
		&:first-child {
			display: none;				
		}
		select {
			background: $color_white;
			border: 1px solid $color_light_gray;
			@include border-radius(3px);
		}
	}
	table.dataTable {
		text-align: left;
		margin-bottom: 1em;
    border-collapse: collapse;
		&.no-footer {
			border-bottom: 0;
		}
		&.dtr-inline.collapsed>tbody>tr {
			>td:first-child:before,
			>th:first-child:before {
				background-color: $color_secondary;	
				display: none;		
			}
			&.parent>td:first-child:before,
			&.parent>th:first-child:before {
				background-color: $color_primary;
				display: none;
			}
		}		
	}
	.dataTables_info {
		font-size: .875em;
		float: none;
		display: inline-block;
	}
	.dataTables_paginate {
		float: right;
		display: inline-block;
		margin-left: 1em;
		@media (max-width: 767px) {
			float: none;
			text-align: center;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
		.paginate_button {
			border: 1px solid $color_mono_1;
			color: $color_primary !important;
			border-left: 0;
			margin-left: 0;
			font-size: .875em;
			padding: 0.434em 1em;
			@include border-radius(0);
			@include transition(all ease-in-out .15s);
			&:hover {
				background: $color_mono_1;
				color: $color_primary !important;
				border: 1px solid $color_mono_1;
				border-left: 0;
			}
			&.previous {
				border-left: 1px solid $color_mono_1;
				color: $color_primary;
				@include border-radius(4px 0 0 4px);
				&:hover {
					border: 1px solid $color_mono_1;
				}
			}
			&.current {
				background: $color_primary;
				color: $color_white !important;
				border: 1px solid $color_primary !important;
				&:hover {
					border: 1px solid $color_primary !important;
					border-left: 0;
					background: $color_primary;
					color: $color_white !important;
				}
			}
			&.next {
				color: $color_primary;
				@include border-radius(0 4px 4px 0);
				&:hover {
					border: 1px solid $color_mono_1;
					border-left: 0;
				}
			}
			&.disabled {					
				border: 1px solid $color_mono_1 !important;
				&:hover, &:active {
					border: 1px solid $color_mono_1 !important;
				}				
			}
		}
	}	
}

.data-table-with-out-dataTables_info_and_paginate {
	.dataTables_wrapper {
		.dataTables_info {
			display: none;
		}
		.dataTables_paginate {
			display: none;
		}
	}
}

.table-leases-records {
	width: 99%;
	overflow: auto;
	height: 10em;
	.dataTables_wrapper {
		width: 101%;
	}
}

.mCSB_scrollTools {
	width: 5px;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba($color_black, 0.6);
  width: 5px;
}

.col-input-custom-view {
	padding-top: 15px;
	.form-control.form-control-custom-view {
		width: 63%;
    //height: 2em;
		float: left;
		margin-bottom: 20px;		
		@media (min-width: 768px) and (max-width: 991px) {
			width: 25em;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	.btn.btn-save-custom-view {
		font-size: 0.875em;
		width: 18%;
		float: right;
		margin-bottom: 20px;
		@media (min-width: 768px) and (max-width: 1199px) {
			width: 25%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

.btn-group {
	&.open .dropdown-toggle {
		@include box-shadow(none);
		background-color: $color_primary;
		border-color: $color_primary;
		color: $color_white;
	}
	.btn {
		padding: 5px 20px 5px 10px;
		text-align: left;
		font-size: 0.875em;
		.caret {
	    margin-left: 3px;
      position: absolute;
	    right: 0.5em;
	    top: 0;
	    bottom: 0;
	    height: 0.3em;
	    margin: auto auto;
	    line-height: 1;
		}
	}
	.dropdown-menu {
		min-width: 290px;
		border: 0;
		@include box-shadow(0px 0px 4px 2px rgba($color_black, .175));
		@include border-radius(0);
		background-color: rgba($color_white, 0.98);
	}
	&.btn-group-lg {
		.btn {
			@include border-radius(0);
	    line-height: 1.42857143;			
		}
	}
}

.row-filters-my-leases {
	.filters-content {
		.left {
			float: left;
			width: 90%;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		.right {
			float: right;
			width: 10%;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		.row-add-more {
			float: left;
			width: 100%;
			display: none;
			//margin-top: 0.5em;
			margin-bottom: 1em;
			@media (max-width: 767px) {
				//margin-top: 1em;		
			}
			.content-add-more {
				//background: $color_mono_3;
				padding: 5px 15px 15px;
				border: 1px solid $color_mono_1;
				position: relative;
				min-height: 2.5em;
				.btn-close {
					background-color: $color_white;
					border: 1px solid $color_mono_1;
			    position: absolute;
			    top: 0.6em;
			    right: 1em;
			    font-weight: 700;
			    line-height: 1;
			    font-size: 1.2em;
				}
				.wrapper-add-more-search-value {
					display: inline-block;
					background: $color_white;
					font-size: .75em;
					color: $color_primary;
					border: 1px solid $color_mono_1;
					padding: 4px 30px 4px 5px;
					position: relative;
		    	min-width: 12em;
		    	margin-top: 20px;
		    	margin-right: 30px;
		    	.title {
				    font-size: 1em;
				    display: block;
				    position: absolute;
				    top: -20px;
				    left: 0;
				    padding: 0;
				    color: #000;
				    font-weight: 400;
					}
					.equal-sign {
						display: inline-block;
						margin: 0 5%;
					}
					.checkbox-value {
						position: relative;
						padding-left: 10px;
						margin-left: 5px;
						&:before {
							content: '';
					    position: absolute;
					    top: 0;
					    bottom: 0;
					    left: 0;
					    height: 1px;
					    margin: auto 0;
					    display: inline-block;
					    width: 5px;
					    background: $color_mono_3;
						}
						&:nth-of-type(1) {
							padding-left: 0;
							margin: 0;
							&:before {
								display: none;
							}
						}
					}
					.close {
				    float: right;
				    font-size: 1.5em;
				    font-weight: bold;
				    border: 1px solid $color_mono_1;
				    color: $color_mono_1;
				    line-height: 0.5;
				    display: inline-block;
				    padding: 1px;
				    margin-left: 25px;
				    opacity: 1;
				    //margin-top: 3px;
		        position: absolute;
				    right: 0.5em;
				    top: 7px;
				    @include transition(ease-in-out all .15s);
				    &:hover {
				    	color: $color_primary;
				    	border-color: $color_primary;
				    }
					}
				}
				.result-box {
					display: inline-block;
					padding-top: 5px;
				}
			} 
		}
		.btn {
			font-size: 0.875em;
		}
		.btn-group {
			display: inline-block;
			margin-left: 10px;
			float: left;
    	width: 100%;
    	max-width: 14%;
    	margin-bottom: 15px;
			&:first-child {
				margin-left: 0;
			}
			@media (min-width: 992px) and (max-width: 1250px) {
				max-width: 20%;
				margin-left: 0;
				margin-right: 15px;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				max-width: 40%;
				margin-left: 0;
				margin-right: 15px;
			}
			@media (max-width: 767px) {
				max-width: 100%;
				margin-left: 0;
			}
			&.btn-group-lg {
				max-width: 15%;
				@media (min-width: 992px) and (max-width: 1250px) {
					max-width: 20%;
					margin-left: 0;
					margin-right: 15px;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					max-width: 40%;
					margin-left: 0;
					margin-right: 15px;
				}
				@media (max-width: 767px) {
					max-width: 100%;
				}
			}
			&.btn-group-xlg {
				max-width: 23%;
				@media (min-width: 992px) and (max-width: 1250px) {
					max-width: 20%;
					margin-left: 0;
					margin-right: 15px;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					max-width: 40%;
					margin-left: 0;
					margin-right: 15px;
				}
				@media (max-width: 767px) {
					max-width: 100%;
				}
			}
		}
		.btn.btn-search {
			width: 90%;
			float: right;
			margin-bottom: 15px;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		.dropdown-menu {
			&.dropdown-menu-search-content {
				li {
					max-height: 300px;
				}
			}
		}		
		.search-content-dropdown {
			padding: 1.5em 2em;
			.form-control {
				margin-bottom: 15px;
				padding-right: 50px;
			}
			.input-field {
				position: relative;
				&.input-field-datetimepicker {
					.icon-calendar {
						// position: absolute;
						// top: 0;
						// bottom: 0;
						// right: 15px;
						// height: 1em;
						font-size: 1em;
						// z-index: 1;
						// margin: auto 0;
					}
					.input-group {
						display: block;
						margin-bottom: 15px;
						.form-control {
							margin-bottom: 0;
							padding: 6px 12px;
							//border-right: 0;
							display: block;
							float: none;
						}
					}
					.input-group-addon {
				    //padding: 6px 12px;
				    font-size: 1em;
				    //font-weight: normal;
				    //line-height: 1;
				    color: $color_primary;
				    //text-align: center;
				    background-color: transparent;
				    border: 1px solid $color_light_gray;
				    border: 0;
				    @include border-radius(0);
				    display: inline-block;
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    right: 0;
				    width: 30px;
				    z-index: 7;
				    padding: 0;
				    height: 1em;
				    margin: auto;
					}
				}
			}
			.btn {
				&.btn-add {
					position: absolute;
					right: 0;
					top: 0;
					width: 50px;
					height: 2.613em;
				}
				&.btn-add-date {
					position: static;
					right: 0;
					top: 0;
					width: 50px;
					height: 2.613em;
				}
			}
			label {
				font-size: 1em;
				font-weight: 400;
			}
			.filter-input-field {
				input {
			    display: block;
			    width: 100%;
			    padding: 6px 12px;
			    line-height: 1.42857143;
			    color: $color_primary;
			    background-color: $color_white;
			    background-image: none;
			    border: 1px solid;
			    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
			    height: 2.286em;
			    font-size: 1em;
			    @include border-radius(0);
			    @include box-shadow(none);
			    border-color: $color_light_gray;
			    &:focus {
				    @include box-shadow(none);
				    border-color: $color_mono_3;
				    outline: none;    
				  }
				}
			}
			.filter-content-table {
				tr {
					.checkbox {
						margin-bottom: 0;
						margin-top: 10px;
					}
					&:first-child {
						.checkbox {
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}

.btn-group-columns,
.btn-group-customize-journal,
.btn-group-more {
	.dropdown-menu {
		&.dropdown-menu-columns {
			li {
				max-height: 300px;
			}
		}
	}
	.columns-content-dropdown {
		padding: 1.5em 2em;
	}
	.filter-input-field {
		input {
	    display: block;
	    width: 100%;
	    padding: 6px 12px;
	    line-height: 1.42857143;
	    color: $color_primary;
	    background-color: $color_white;
	    background-image: none;
	    border: 1px solid;
	    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
	    height: 2.286em;
	    font-size: 1em;
	    @include border-radius(0);
	    @include box-shadow(none);
	    border-color: $color_light_gray;
	    &:focus {
		    @include box-shadow(none);
		    border-color: $color_mono_3;
		    outline: none;    
		  }
		}
	}
	.filter-content-table {
		width: 100%;
		tr {
			.checkbox {
				margin-bottom: 0;
				margin-top: 10px;
			}
			.heading {
				padding-top: 10px;
			}
			&:first-child {
				.checkbox {
					margin-top: 0;
				}
				.heading {
					padding-top: 0;
				}
			}
			td {
				&.heading {
					font-weight: 600;
					font-size: 1.1em;
				}
			}
		}
	}
	label {
		font-size: 1em;
		font-weight: 400;
	}
	.btn {
		&.btn-save {
			text-align: center;
			padding: 5px 10px;
			width: 50%;
			margin-top: 20px;
		}
	}
}

.btn-group-customize-journal {
	.dropdown-menu {
		&.dropdown-menu-columns {
			min-width: 100%;
			li {
				max-height: 200px;
			}
		}
	}
}

.row-reports-my-leases {
	.form-reports-my-leases {
		padding-top: 30px;
		padding-bottom: 10px;
	}
	.form-group {
		margin-bottom: 0;
	}
	.form-control,
	.btn,
	.btn-group,
	.label-control-1 {
		margin-bottom: 20px;
		.btn {
			margin-bottom: 0;
		}
	}
	.form-control {
		vertical-align: middle;
		min-width: 5em;
		width: auto;
		height: auto;
		padding-top: 0.188em;
		padding-bottom: 0.188em;
		margin-right: 0.5em;
		display: inline-block;
    font-size: 0.875em;
	}
	.label-control-1 {
		display: inline-block;
		position: relative;
		top: -0.5em;
	}
	.btn {
		&.btn-customize-journal {
		}
	}	
}

.row-add-lease-title {
	.right {
		text-align: right;
		@media (max-width: 767px) {
			text-align: left;
			padding-bottom: 15px;
		}
	}
}

.box {
	padding-top: 30px;
	padding-bottom: 20px;
	margin-bottom: 1em;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  @include border-radius(0);
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active {
  background-color: $color_primary;
}

.box-custom-fields {
  border-top: 1px solid $color_mono_1;
  .row-data {
  	margin-top: 20px;
  }
}

.col-select-field-with-add-btn {
	select {
		&.form-control {
			float: left;
			width: 84%;
			@media (max-width: 767px) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}
	.btn {
		&.btn-add {
			float: right;
			width: 12%;
			margin-right: 15px;
			@media (max-width: 767px) {
				width: 100%;
				margin-right: 0;
			}
		}
	}
}

.result-box-customization {
	min-height: 5em;
	background-color: $color_off_white;
	border: 1px solid $color_mono_1;
	padding: 0 15px 10px;
	.wrapper-content-box-customization {
		display: inline-block;
		background: $color_white;
		font-size: .75em;
		color: $color_primary;
		border: 1px solid $color_mono_1;
		padding: 4px 30px 4px 5px;
		position: relative;
  	min-width: 8em;
  	margin-top: 10px;
  	margin-right: 20px;
		.close {
	    float: right;
	    font-size: 1.5em;
	    font-weight: bold;
	    border: 1px solid $color_mono_1;
	    color: $color_mono_1;
	    line-height: 0.5;
	    display: inline-block;
	    padding: 1px;
	    margin-left: 25px;
	    opacity: 1;
	    //margin-top: 3px;
      position: absolute;
	    right: 0.5em;
	    top: 7px;
	    @include transition(ease-in-out all .15s);
	    &:hover {
	    	color: $color_primary;
	    	border-color: $color_primary;
	    }
		}
	}
}

.wizard {
	overflow: visible;
	.steps {
		//display: none;
		font-size: .875em;
		margin-bottom: 2em;
		> ul {
			> li {
				position: relative;
				.progress {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					margin-bottom: 0;
					@include border-radius(0);
					@include box-shadow(none);
				}
			}
		}
		a {
			padding: 0 0 3em 0;
			.number {
				font-size: 1em;
				display: inline-block;
				@include border-radius(100px);
				text-align: center;
				width: 40px;
				height: 40px;
				line-height: 2.7;
				margin-right: 10px;
			}
		}
		.disabled {
			a, a:hover, a:active {
				padding: 0 0 3em 0;
				background: none;
				color: $color_primary;
				.number {					
					color: $color_primary;
					background: $color_light_gray;					
				}
			}
			.progressbar-shown-before-done {
				display: block;
			}
			.progressbar-shown-after-done-current {
				display: none;
			}
		}
		.done, .current {
			a, a:hover, a:active {
				padding: 0 0 3em 0;
				background: none;
				color: $color_primary;
				.number {					
					color: $color_white;
					background: $color_primary;					
				}
			}
			.progressbar-shown-before-done {
				display: none;
			}
			.progressbar-shown-after-done-current {
				display: block;
			}
		}
	}
	> .content {
		background: none;
		margin: 0;
		min-height: 32em;
		overflow: visible;
		> .body {
			padding: 0;
			width: 100%;
			height: 100%;
			ul {
		    list-style: none !important;
			}
			label {
				margin-bottom: 0;
				vertical-align: middle;
			}
		}
	}
	> .actions {
		a {
			@include border-radius(0);
			background: $color_secondary;
			@include transition(all ease-in-out .15s);
			&:hover,
			&:active {
				@include border-radius(0);
				background: $color_primary;
			}
		}
	}
}

.wrapper-lease-classification-wizard {
	.wizard {
		.steps {
			display: none;
		}
		> .content {
			> .body {
				.icon {
					font-size: 1.5em;
					color: $color_primary;
					margin-left: 1em;
					vertical-align: middle;
					cursor: pointer;
				}
			}
		}
	}
	.btn {
		&.btn-calculate {
			margin-top: 10px;
		}
	}
	.radio, .checkbox {
		margin-top: 0;
		margin-bottom: 0;
	}	
}

.wrapper-start-end-date-wizard {
	.wizard {
		> .content {
			min-height: 20em;
		}		
	}
	.input-field {
		position: relative;
		&.input-field-datetimepicker {
			.icon-calendar {
				font-size: 1em;
			}
			.input-group {
				display: block;
				margin-bottom: 15px;
				.form-control {
					margin-bottom: 0;
					padding: 6px 12px;
					display: block;
					float: none;
				}
			}
			.input-group-addon {
		    font-size: 1em;
		    color: $color_primary;
		    background-color: transparent;
		    border: 1px solid $color_light_gray;
		    border: 0;
		    @include border-radius(0);
		    display: inline-block;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    width: 30px;
		    z-index: 7;
		    padding: 0;
		    height: 1em;
		    margin: auto;
			}
		}
	}
}

.form-group-calculation {
	@media (min-width: 992px) {
		display: table;
		width: 100%;	
		margin: 0;
		margin-top: 3em;
		> div[class*="col-"] {
			float: none;
			display: table-cell;
			vertical-align: middle;
		}
	}
	.left {
		text-align: right;
	}
	.row-data {
		display: inline-block;
		.col-label,
		.col-value {
			display: inline-block;
			font-weight: 600;
		  font-size: 0.875em;
		  color: $color_primary;
		}
		.col-label {
			width: 50%;
			text-align: left;
			float: left;
		}
		.col-value {
			width: 50%;
			text-align: right;
			float: right;
		}
		.separator {
			display: block;
			height: 1px;
			background: $color_mono_1;
			width: 100%;
			margin: 15px 0;
			float: left;
		}
	}
	.sign-equal {
		display: inline-block;
	}
	.col-input-field {
		display: inline-block;
		width: 60px;
		margin-left: 10%;
	}
	.col-info {
		display: inline-block;
		.info-txt {
			margin: 30px 0 0 0;
			font-weight: 600;
		  font-size: 0.875em;
		  color: $color_primary;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.form-group-datetimepicker {
	.input-field {
		position: relative;
		&.input-field-datetimepicker {
			.icon-calendar {
				font-size: 1em;
			}
			.input-group {
				display: block;
				margin-bottom: 15px;
				.form-control {
					margin-bottom: 0;
					padding: 6px 12px;
					display: block;
					float: none;
					min-width: inherit;
					width: 100%;
				}
			}
			.input-group-addon {
		    font-size: 1em;
		    color: $color_primary;
		    background-color: transparent;
		    border: 1px solid $color_light_gray;
		    border: 0;
		    @include border-radius(0);
		    display: inline-block;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    width: 30px;
		    z-index: 7;
		    padding: 0;
		    height: 1em;
		    margin: auto;
			}
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: $color_gray;
	color: $color_white;
	padding: 1em 0;
	font-size: 0.875em;
}