@import 'fonts';
@import 'helper';
@import 'variables';
@import 'colors';

#toast-container {	
	> div {
		@include box-shadow(none);
		@include border-radius(0);
		padding: 1.5875em;
		&:hover {
			@include box-shadow(none);
		}
	}
	> .toast-success {
		background-image: none !important;
	}
}

.toast-close-button {
	right: -0.8em;
  top: -1em;
}

.toast-title {
	font-size: 1em;
}

.toast-message {
	font-size: 1em;
}

.toast-success {
	background-color: $color_primary;
}

.toast-close-button {
	text-shadow: none;
	&:hover {
		opacity: 1;
		color: $color_white;
	}
}