@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
#toast-container > div {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 1.5875em; }
  #toast-container > div:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
#toast-container > .toast-success {
  background-image: none !important; }

.toast-close-button {
  right: -0.8em;
  top: -1em; }

.toast-title {
  font-size: 1em; }

.toast-message {
  font-size: 1em; }

.toast-success {
  background-color: #1b4e83; }

.toast-close-button {
  text-shadow: none; }
  .toast-close-button:hover {
    opacity: 1;
    color: #ffffff; }

/*# sourceMappingURL=toastr-override.css.map */
