﻿    @using System.Collections;
    @using System.Web.Mvc;
@{ 
    string companies = (string)ViewBag.companies; //(string)ViewData["companies"];
}
    <!-- Companies Tab Pane -->

    <div role="tabpanel" class="tab-pane @companies" id="companies">
        <div class="col-sm-12">
            <div class="row row-table">
                <div class="col-md-5 col-sm-12 no-left-padd-lg no-left-padd-md">
                    <div class="title js-title">
                        Companies
                    </div>
                    <div><em>Select a Company to view its Lease locations</em></div>
                </div>
                <div class="col-md-7 col-sm-12 no-right-padd-lg no-right-padd-md">
                    <div class="container-filter">
                        <div class="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="compfilter" name="compfilter">
                                <button id="showfilter" class="btn btn-primary btn-filter"><i class="fa fa-filter"></i> Filter</button>
                                <button id="add" class="btn btn-primary btn-invite" data-toggle="modal" data-target="#AddEditCompany"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-listing js-table-listing" id="CompanyList" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Accounting Standard</th>
                                    <th class="actions text-center">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div id="locationsection" style="visibility:hidden;">
                <div class="row row-table">
                    <div class="col-sm-10 no-left-padd-lg">
                        <div class="title" id="locationmsg">Locations <span>(per company) that contain Leases</span></div>
                    </div>
                    <div class="col-sm-2 no-right-padd-lg">
                        <button class="btn btn-block btn-primary" id="addloction"><i class="fa fa-plus"></i> Add Location</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">

                            <table class="table table-bordered table-listing " id="LocationList" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th width="60%">Name</th>
                                        <th class="actions text-center">Action</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- /Companies Tab Pane -->
    <!-- Modal Company Listing -->
    <div class="modal fade" id="CompanyListing" tabindex="-1" role="dialog" aria-labelledby="CompanyListingLabel">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmcompany" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="CompanyListingLabel">Add / Edit Company</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            @*@Html.Hidden("companyid")*@
                            <input id="companyid" name="companyid" type="hidden" />
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">Company Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="name" maxlength="50" required>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">Location</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="mainlocation" maxlength="50" required>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">Accounting Standard</label>
                                <div class="col-sm-7">
                                    @Html.DropDownList("accountingstandardid", null, htmlAttributes: new { @class = "form-control", required = string.Empty })
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">Country</label>
                                <div class="col-sm-7">
                                    @Html.DropDownList("countryidc", (IEnumerable<SelectListItem>)ViewBag.countryidc, new { id = "countryidc", @class = "form-control", required = string.Empty })
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">Address Line 1</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="address1" maxlength="350" required>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Address Line 2</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="address2" maxlength="350" required>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">ZIP</label>
                                <div class="col-sm-7">
                                    <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="zip" maxlength="5" required>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">City</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="city" maxlength="10" required>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">State</label>
                                <div class="col-sm-7">
                                    @Html.DropDownList("stateidc", (IEnumerable<SelectListItem>)ViewBag.stateidc, new { id = "stateidc", @class = "form-control", required = string.Empty })
                                    <div class="required-staric">*</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-2">
                                    <button class="btn btn-block btn-primary" id="savecompany">SAVE</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /Modal Company Listing -->
    <!-- Modal Company location Listing -->
    <div class="modal fade" id="CompanyLocation" tabindex="-1" role="dialog" aria-labelledby="CompanyListingLabel">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmlocation" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="CompanyListingLabel">Add / Edit Company location</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            @*@Html.Hidden("companyid")*@
                            <input id="locationid" name="locationid" type="hidden" />
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">Location</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="location" name="location" maxlength="250" required>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">Country</label>
                                <div class="col-sm-7">
                                    @Html.DropDownList("countryidl", (IEnumerable<SelectListItem>)ViewBag.countryidl, new { id = "countryidl", @class = "form-control", required = string.Empty })
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">Address 1</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="address1location" maxlength="250" name="address1location" required>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Address 2</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="address2location" maxlength="250" name="address2location" required>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">ZIP</label>
                                <div class="col-sm-7">
                                    <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="ziplocation" name="ziplocation" maxlength="5" required>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">City</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" maxlength="10" id="citylocation" name="citylocation" required>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="" class="col-sm-4 control-label">State</label>
                                <div class="col-sm-7">
                                    @Html.DropDownList("stateidl", (IEnumerable<SelectListItem>)ViewBag.stateidl, new { id = "stateidl", @class = "form-control", required = string.Empty })
                                    <div class="required-staric">*</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-2">
                                    <button class="btn btn-block btn-primary" id="savelocation">SAVE</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /Modal Company location Listing -->


    <script type="text/javascript">
    $(document).ready(function () {
        var dp = JSON.parse('@Html.Raw(ViewBag.accountingStandardServiceJson)');

        var baseUrl = "@Url.Action("ListResellerCustomer", "Users")";
        var url = getURL(baseUrl);

        //*************Company Starts
        var companyid = 0;
        // toastr.success('Invitation sent Successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
        //var $class = $(this), $active = $class.find('.fa-pencil');

        //display companies in a list
        var table = $('#CompanyList').DataTable({
            bPaginate: false,
            serverSide: false,
            bFilter: false,
            destroy: true,
            processing: true,
            ajax: "@Url.Action("ListCompany", "Companies")",
            columns: [
                { "data": "name", "orderable": true },
                { "data": "accountingstandardid", "orderable": true }
            ],
            columnDefs: [{
                "targets": 2,
                "data": null,
                "class": "text-center",
                //"defaultContent": '<i class="fa fa-pencil icon-edit"></i><i class="fa fa-ban icon-delete"></i>'
                "defaultContent": '<i class="fa fa-pencil icon-edit"></i>'
            }]
        });


        //$('#button').click(function () {
        //    table.row('.selected').remove().draw(false);
        //});

        //Show modal to add company
        $('body').on('click', '#add', function () {
            var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
            if (text == "Companies") {
                $('input[name="companyid"]').attr('value', "-1");
                $("#CompanyListing").modal('show');
            }
        });

        //Show modal to add company
        $('body').on('click', '#showfilter', function () {
            var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
            if (text == "Companies") {
                table.ajax.reload();
            }
        });

        //Edit & delete company
        $('#CompanyList tbody').on('click', 'i', function () {

            //var $class = $(this), $active = $class.find('.fa-pencil');
            var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();

            if (text == "Companies") {
                var type = $(this).attr("class");
                var data = table.row($(this).parents('tr')).data();
                if (type == 'fa fa-pencil icon-edit') {

                    $("#companyid").val(data.id);
                    $("#name").val(data.name);
                    $("#mainlocation").val(data.location);
                    $("#accountingstandardid option").each(function () { this.selected = $(this).text() == data.accountingstandardid; });
                    $("#countryidc option").each(function () { this.selected = $(this).text() == data.countryidc; });
                    $("#address1").val(data.address1);
                    $("#address2").val(data.address2);
                    $("#zip").val(data.zip);
                    $("#city").val(data.city);
                    $("#stateidc option").each(function () { this.selected = $(this).text() == data.stateidc; });
                    $("#Status").val(data.satus);
                    $("#CompanyListing").modal('show');
                }
                else if (type == 'fa fa-ban icon-delete') {

                    $(this).confirmation({
                        onConfirm: function () {
                            $.ajax({
                                url: '@Url.Action("DeleteCompany", "Companies")',
                                type: 'POST',
                                data: {
                                    id: data.id
                                },
                                success: function (response) {
                                    table.ajax.reload();
                                    // user configuration of all toastmessages to come:
                                    toastr.success($('#name').val() + ' deleted successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                                }
                            });
                        }
                    });
                }
            }
        });

        $('body').on('click', '#savecompany', function () {
            $('#frmcompany').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                } else {
                    $.ajax({
                        url: '@Url.Action("SaveCompany", "Companies")',
                        type: 'POST',
                        data: {
                            id: $('#companyid').val(),
                            name: $('#name').val(),
                            location: $('#mainlocation').val(),
                            AccountingStandardId: $('#accountingstandardid').val(),
                            countryidc: $('#countryidc').val(),
                            address1: $('#address1').val(),
                            address2: $('#address2').val(),
                            zip: $('#zip').val(),
                            city: $('#city').val(),
                            stateidc: $('#stateidc').val(),
                            Status: "1"
                        },
                        success: function (response) {
                            table.ajax.reload();
                            // user configuration of all toastmessages to come:
                            toastr.success($('#name').val() + ' updated successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                            $("#CompanyListing").modal('hide');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                        }
                    });
                }
                return false;
            });
        });

        //*************Location Starts
        //display location in a list
        @*var tablelocation = $('#LocationList').DataTable({
            bPaginate: false,
            serverSide: false,
            searching: false,
            destroy: true,
            processing: true,
            ajax:
                {
                    "url": "@Url.Action("ListLocation", "Companies")?companyid=" + companyid
                },
            columns: [
                    { "data": "locationname", "orderable": true }
            ],
            columnDefs: [{
                "targets": 1,
                "data": null,
                "class": "text-center",
                //"defaultContent": '<i class="fa fa-pencil icon-edit"></i><i class="fa fa-ban icon-delete"></i>'
                "defaultContent": '<i class="fa fa-pencil icon-edit"></i>'
            }]
        });*@

        //Display location of the selected company
        $('#CompanyList tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            //$("#locationmsg").html("Locations <span>(per company) that contain Leases</span>");
            companyid = data.id;
            $('#CompanyList').each(function () {
                $(this).find('tr').each(function () {
                    $(this).find('td').each(function () {
                        $(this).css("background-color", "");
                    });
                });
            });

            $(this).find('td').each(function () {
                $(this).css("background-color", "#e0e0e0");
                $("#locationsection").css('visibility', 'visible');
                //$("#locationmsg").html("Locations <span>(" + data.name + ") that contain Leases</span>");
            });
            var url = "@Url.Action("ListLocation", "Companies")?companyid=" + companyid;
            tablelocation.ajax.url(url).load();
        });

        $("#addloction").on("click", function () {
            if (companyid == 0) { toastr.success('Please select a company first', 'ERROR', { timeOut: 3000, closeButton: true }); return; }
            var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
            if (text == "Companies") {
                $('input[name="locationid"]').attr('value', "-1");
                $("#location").val('');
                $("#countryidl option").val('');
                $("#address1location").val('');
                $("#address2location").val('');
                $("#ziplocation").val('');
                $("#citylocation").val('');
                $("#stateidl option").val('');

                $("#CompanyLocation").modal('show');
            }
        });

        $('#LocationList tbody').on('click', 'i', function () {
            var datalocation = tablelocation.row($(this).parents('tr')).data();
            var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
            if (text == "Companies") {
                var type = $(this).attr("class");

                if (type == 'fa fa-pencil icon-edit') {
                    $('input[name="locationid"]').attr('value', datalocation.id);
                    $("#location").val(datalocation.locationname);
                    $("#countryidl option").each(function () { this.selected = $(this).text() == datalocation.countryidl; });
                    $("#address1location").val(datalocation.address1);
                    $("#address2location").val(datalocation.address2);
                    $("#ziplocation").val(datalocation.zip);
                    $("#citylocation").val(datalocation.city);
                    $("#stateidl option").each(function () { this.selected = $(this).text() == datalocation.stateidl; });
                    $("#CompanyLocation").modal('show');
                }
                else if (type == 'fa fa-ban icon-delete') {

                    $(this).confirmation({
                        onConfirm: function () {
                            $.ajax({
                                url: '@Url.Action("DeleteLocation", "Companies")',
                                type: 'POST',
                                data: {
                                    id: datalocation.id
                                },
                                success: function (response) {
                                    var url = "@Url.Action("ListLocation", "Companies")?companyid=" + companyid;
                                    tablelocation.ajax.reload();
                                    toastr.success($('#location').val() + ' deleted successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                                }
                            });
                        }
                    });
                }
            }
        });
        $('body').on('click', '#savelocation', function () {
            $('#frmlocation').validator().on('submit', function (e) {
                
                if (e.isDefaultPrevented()) return;

                $.ajax({
                    url: '@Url.Action("SaveLocation", "Companies")',
                    type: 'POST',
                    data: {
                        locationid: $("#locationid").val(),
                        companyid: companyid,
                        location: $('#location').val(),
                        countryidl: $('#countryidl').val(),
                        address1location: $('#address1location').val(),
                        address2location: $('#address2location').val(),
                        ziplocation: $('#ziplocation').val(),
                        citylocation: $('#citylocation').val(),
                        stateidl: $('#stateidl').val()
                    },
                    success: function (response) {
                        var url = "@Url.Action("ListLocation", "Companies")?companyid=" + companyid;
                        tablelocation.ajax.reload();
                        $("#CompanyLocation").modal('hide');
                        toastr.success($('#location').val() + ' updated successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                    }

                });
                //});
                //   }
                return false;
            });
        });
    });

    var getURL = function (baseUrl) {
        var url = baseUrl + "?filter=" + $("#compfilter").val();
       // alert(url);
        return url;
    }


    var checkTab = function () {
        var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
        return text;
    };

    var deleteCompany = function (a) {
        alert(a);
    }

    </script>