﻿<div role="tabpanel" class="tab-pane" id="customization">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="title js-title">Customization</div>
            </div>
        </div>
        <!-- Customization Tab Pane -->
        <div role="tabpanel" class="tab-pane" id="customization">
            <div class="col-sm-12">
                <!-- Asset Types -->
                <div class="row row-table">
                    <div class="col-md-10 col-sm-8 no-left-padd-lg">
                        <div class="title">Asset Types</div>
                    </div>
                    <div class="col-md-2 col-sm-4 no-right-padd-lg">
                        <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#AddAsset"><i class="fa fa-plus"></i> Add New Asset Type</button>
                    </div>
                    <div class="col-xs-12 visible-xs"><div class="top-buffer-20"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="js-result-box-asset result-box-customization"></div>
                    </div>
                </div>
                <!-- /Asset Types -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="top-buffer-30"></div>
                    </div>
                </div>

                <!-- Cost Centers -->
                <div class="row row-table">
                    <div class="col-md-10 col-sm-8 no-left-padd-lg">
                        <div class="title">Cost Centers</div>
                    </div>
                    <div class="col-md-2 col-sm-4 no-right-padd-lg">
                        <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#AddCostCenter"><i class="fa fa-plus"></i> Add Cost Center</button>
                    </div>
                    <div class="col-xs-12 visible-xs"><div class="top-buffer-20"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="js-result-box-cost-center result-box-customization"></div>
                    </div>
                </div>
                <!-- /Cost Centers -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="top-buffer-30"></div>
                    </div>
                </div>

                <!-- Custom Fields -->
                <div class="row row-table">
                    <div class="col-md-10 col-sm-8 no-left-padd-lg">
                        <div class="title">Custom Fields</div>
                    </div>
                    <div class="col-md-2 col-sm-4 no-right-padd-lg">
                        @*<button class="btn btn-block btn-primary" data-toggle="modal" data-target="#AddCustomField"><i class="fa fa-plus"></i> Add Custom Field</button>*@
                        <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#AddCustomField"><i class="fa fa-plus"></i> Add Custom Field</button>
                    </div>
                    <div class="col-xs-12 visible-xs"><div class="top-buffer-20"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="js-result-box-custom-field result-box-customization" id="resultsBoxCustomFields"></div>
                    </div>
                </div>
                <!-- /Custom Fields -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="top-buffer-30"></div>
                    </div>
                </div>

                <div class="row row-table">
                    <div class="col-md-10 col-sm-8 no-left-padd-lg">
                        <div class="title">Lessors</div>
                    </div>
                    <div class="col-md-2 col-sm-4 no-right-padd-lg">
                        <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#AddLessor" id="addlessor"><i class="fa fa-plus"></i> Add Lessor</button>
                    </div>
                    <div class="col-xs-12 visible-xs"><div class="top-buffer-20"></div></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-listing js-table-listing" id="LessorList">
                                <thead>
                                    <tr>
                                        <th width="60%">Name</th>
                                        <th class="actions text-center">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /Customization Tab Pane -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- /Customization Tab Pane -->
<!-- Modal Add Asset -->
<div class="modal fade" id="AddAsset" tabindex="-1" role="dialog" aria-labelledby="AddAssetLabel">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmcustomizationassettypes" }))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="AddAssetLabel">Add New Asset Type</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Asset Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control js-input-value-asset" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary js-btn-add-asset" data-dismiss="modal">SAVE</button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }
</div>
<!-- /Modal Add Asset -->
<!-- Modal Add Custom Field -->
<div class="modal fade" id="AddCustomField" tabindex="-1" role="dialog" aria-labelledby="AddCustomFieldLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddCustomFieldLabel">Add Custom Field</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Custom Feild</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control js-input-value-custom-field">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-2">
                            <button class="btn btn-block btn-primary js-btn-add-custom-field" data-dismiss="modal">SAVE</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Add Custom Field -->
<!-- Modal Add Cost Center -->
<div class="modal fade" id="AddCostCenter" tabindex="-1" role="dialog" aria-labelledby="AddCostCenterLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddCostCenterLabel">Add Cost Center</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Cost Center</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control js-input-value-cost-center">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-2">
                            <button class="btn btn-block btn-primary js-btn-add-cost-center" data-dismiss="modal">SAVE</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Add Cost Center -->
<!-- Modal Add Lessor -->
<div class="modal fade" id="AddLessor" tabindex="-1" role="dialog" aria-labelledby="AddLessorLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddLessorLabel">Lessor</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group required">
                        <label for="" class="col-sm-4 control-label">Lessor Name</label>
                        <div class="col-sm-7">
                            <input type="hidden" id="lessorid" name="lessorid" />
                            <input type="text" class="form-control js-input-value-lessor">
                            <div class="required-staric">*</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-2">
                            <button class="btn btn-block btn-primary" data-dismiss="modal" id="savelessor">SAVE</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Add Lessor -->

<script type="text/javascript">
    $(document).ready(function () {
        /*************************************************************************************************
        /***************************************Populate Asset Type***************************************
        /*************************************************************************************************/
        @foreach (var assettype in ViewBag.customizationAssetTypeService) {
                @:var html = "<div class='wrapper-content-box-customization js-wrapper-asset'><span class='inpValTxt' id='@assettype.Id'>" + '@assettype.Name' + "</span><div class='close js-add-more-close'>&times;</div></div>";
                                                 @:$(".js-result-box-asset").append(html);
       }

        $(".js-btn-add-asset").click(function () {
            $.ajax({
                url: '@Url.Action("Save", "CustomizationAssetTypes")',
                type: 'POST',
                data: {
                    inpTxt: $('.js-input-value-asset').val(),
                    customerid: @Session["customerid"].ToString(),
                },
                success: function (response) {
                    var inpTxt = $('.js-input-value-asset').val();
                    var html = '<div class="wrapper-content-box-customization js-wrapper-asset"><span class="inpValTxt">' + inpTxt + '</span><div class="close js-add-more-close">&times;</div></div>';
                    $('.js-result-box-asset').append(html);
                },
                error: function (response) {
                    // alert('Exception \n' + response.status);
                    toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                }
            });

        });

        $('body').on('click', '.js-wrapper-asset .js-add-more-close', function () {

            $.ajax({
                url: '@Url.Action("Delete", "CustomizationAssetTypes")',
                type: 'POST',
                data: {
                    id: $($(this).parent().html()).attr("Id")
                },
                success: function (response) {
                    //  table.ajax.url(getURL(baseUrl)).load();
                },
                error: function (response) {
                    // alert('Exception \n' + response.status);
                }
            });
            $(this).closest('.js-wrapper-asset').remove();
        });
        /*************************************************************************************************
        /*************************************Populate Cost Center***************************************
        /*************************************************************************************************/
        @foreach (var costCenters in ViewBag.CustomizationCostCenters) {
            @:var html = "<div class='wrapper-content-box-customization js-wrapper-cost-center'><span class='inpValTxt' id='@costCenters.Id'>" + '@costCenters.Name' + "</span><div class='close js-add-more-close'>&times;</div></div>";
            @:$('.js-result-box-cost-center').append(html);
        }


        $(".js-btn-add-cost-center").click(function () {
            $.ajax({
                url: '@Url.Action("Save", "CustomizationCostCenter")',
                type: 'POST',
                data: {
                    inpTxt: $('.js-input-value-cost-center').val(),
                    customerid: @Session["customerid"].ToString(),
                },
                success: function (response) {
                    alert(2);
                    var inpTxt = $('.js-input-value-cost-center').val();
                    var html = '<div class="wrapper-content-box-customization js-wrapper-cost-center"><span class="inpValTxt">' + inpTxt + '</span><div class="close js-add-more-close">&times;</div></div>';
                    $('.js-result-box-cost-center').append(html);
                },
                error: function (response) {
                    alert(3);
                    // alert('Exception \n' + response.status);
                    toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                }
            });
        });
        $('body').on('click', '.js-wrapper-cost-center .js-add-more-close', function () {
            $.ajax({
                url: '@Url.Action("Delete", "CustomizationCostCenter")',
                type: 'POST',
                data: {
                    id: $($(this).parent().html()).attr("id")
                },
                success: function (response) {
                    //  table.ajax.url(getURL(baseUrl)).load();
                },
                error: function (response) {
                    // alert('Exception \n' + response.status);
                }
            });
            $(this).closest('.js-wrapper-cost-center').remove();
        });


        /*************************************************************************************************
        /*************************************Populate Custom Field***************************************
        /*************************************************************************************************/
        @foreach (var customFields in ViewBag.customizationCustomFields) {
                @:var html = "<div class='wrapper-content-box-customization js-wrapper-custom-field'><span class='inpValTxt' id='@customFields.Id'>" + '@customFields.Name' + "</span><div class='close js-add-more-close'>&times;</div></div>";
                        @: $('.js-result-box-custom-field').append(html);
                           }
                      $(".js-btn-add-custom-field").click(function () {

            $.ajax({
                url: '@Url.Action("Save", "CustomizationCustomField")',
                type: 'POST',
                data: {
                    inpTxt: $('.js-input-value-custom-field').val(),
                    customerid: @Session["customerid"].ToString(),
                },
                success: function (response) {
                    var inpTxt = $('.js-input-value-custom-field').val();
                    var html = "<div class='wrapper-content-box-customization js-wrapper-custom-field'><span class='inpValTxt' >" + inpTxt + "</span><div class='close js-add-more-close'>&times;</div></div>";
                    $('.js-result-box-custom-field').append(html);
                },
                error: function (response) {
                    // alert('Exception \n' + response.status);
                    toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                }
            });
        });

        $('body').on('click', '.js-wrapper-custom-field .js-add-more-close', function () {
            //alert($($(this).parent().html()).attr("Id"));
            $.ajax({
                url: '@Url.Action("Delete", "CustomizationCustomField")',
                type: 'POST',
                data: {
                    id: $($(this).parent().html()).attr("Id")
                },
                success: function (response) {
                    //  table.ajax.url(getURL(baseUrl)).load();
                },
                error: function (response) {
                    // alert('Exception \n' + response.status);
                }
            });
            $(this).closest('.js-wrapper-custom-field').remove();
        });
        /*************************************************************************************************
        /*************************************Populate Lessors********************************************
        /*************************************************************************************************/

        var url = "@Url.Action("List", "CustomizationLessor")";

        var table = $('#LessorList').DataTable({
            bPaginate: true,
            bLengthChange: false,
            bFilter: false,
            bInfo: false,
            bAutoWidth: false,
            serverSide: false,
            searching: false,
            destroy: true,
            processing: true,
            oLanguage: {
                oPaginate: {
                    sNext: '<i class="fa fa-angle-double-right" ></i>',
                    sPrevious: '<i class="fa fa-angle-double-left" ></i>'
                }
            },
            ajax:
                {
                    "url": url
                },
            columns: [
                { "data": "name", "orderable": true },
                { "data":null, "orderable": true }
            ],
            columnDefs: [
                 {
                    "targets": 1,
                    "data": null,
                    "class": "text-center",
                    "defaultContent": '<i class="fa fa-pencil icon-edit"></i>'
                }
            ]
        });

        $('body').on('click', '#addlessor', function () {
            $("#lessorid").val('-1');
        });
        $('#LessorList tbody').on('click', 'i', function () {
            var type = $(this).attr("class");
            var data = table.row($(this).parents('tr')).data();
            if (type == 'fa fa-pencil icon-edit') {
                $("#lessorid").val(data.id);
                $(".js-input-value-lessor").val(data.name);
                $("#AddLessor").modal('show');
            }
        });

        $('body').on('click', '#savelessor', function () {

            $.ajax({
                url: '@Url.Action("Save", "CustomizationLessor")',
                type: 'POST',
                data: {
                    lessorid: $("#lessorid").val(),
                    name: $('.js-input-value-lessor').val(),
                    customerid: @Session["customerid"].ToString(),
                },
                success: function (response) {
                    table.ajax.url(url).load();
                },
                error: function (response) {
                    // alert('Exception \n' + response.status);
                    toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                }
            });
        });


    });
</script>