﻿@using Newtonsoft.Json;
@{
    ViewBag.Title = "GL Account - LeaseCrunch";
}
<!-- GL Accounts Tab Pane -->
<div role="tabpanel" class="tab-pane" id="gl-accounts">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            <div class="box-table">
                                <div class="box-table-cell v-align-middle">
                                    Select Company
                                </div>
                            </div>
                        </label>
                        <div class="col-sm-6 col-select-field-with-add-btn">
                            @Html.DropDownList("company", null, htmlAttributes: new { @class = "form-control", required = string.Empty })
                            <button class="btn btn-primary btn-add" id="btnCompany">Add</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row"><hr class="no-margin"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-listing js-table-listing" id="leasesOL">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /GL Accounts Tab Pane -->
<!-- Lease (Operating Leases) -->
<div class="modal fade" id="modalleasesOL" tabindex="-1" role="dialog" aria-labelledby="CompanyListingLabel">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmleasesOL" }))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalheading"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @*@Html.Hidden("userid")*@
                        <input id="btnid" name="btnid" type="hidden" />
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">GL Account Type</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("Leases_Operating_Leases", null, htmlAttributes: new { @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Customer GL Description</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="CustomerGLDescription" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">GL Number</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="GLNumber" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required" style="display:none;">
                            <label for="" class="col-sm-4 control-label">Classification</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("Classification", null, htmlAttributes: new { @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>

                        <div class="form-group required" id="divuserstatus">
                            <label for="" class="col-sm-4 control-label">Financial Statement</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("FinancialStatement", null, htmlAttributes: new { @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary" id="save">Save</button>

                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- Lease (Operating Leases) -->

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnCompany").click(function(){ $('a[href="#companies"]').tab('show');});

        $( "#company" ).change(function() {
            DisplayLease();
        });

        $('#myTab').on('click','li a', function () {
            if (this.innerHTML == "GL Accounts") {
                $.ajax({
                    url: "@Url.Action("PopulateCompany", "Companies")",
                    datatype: "JSON",
                    type: "Get",
                    success: function (data) {
                        $("#company").empty();
                        var mySelect = $('#company');
                        $.each(data, function (index) {
                            mySelect.append(
                                $('<option value=' + data[index].id + '>' + data[index].name + '</option>')
                            );
                        });
                        DisplayLease();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError );
                    }
                });
            }
        });


        function DisplayLease(){

            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("DisplayAccounts", "Companies")?id=" + $("#company").val(),
                dataType:"json",
                success:function(data)
                {
                    $('#leasesOL tbody').html('');

                    $.each(data, function(oIndex) {
                        var lease = data[oIndex].LeaseTypes;
                        //alert(JSON.stringify(data[oIndex].IsLease));

                        //var leaseDetail = lease[oIndex].LeaseDetail;

                        var heading = '<tr><td colspan="5"><div class="title">' + data[oIndex].Name + '</div></td></tr>';
                        heading += '<tr>';
                        heading += '<th>GL Account Type</th>';
                        heading += '<th>Customer GL Description</th>';
                        heading += '<th class=text-center" width="15%">GL Number</th>';
                        heading += '<th class="text-center">Classification</th>';
                        heading += ' <th class="text-center">Financial Statement</th>';
                        heading += '/tr>';
                        $('#leasesOL tbody').append(heading);
                        $.each(lease, function(iIndex) {

                            var leaseDetail = lease[iIndex].LeaseDetail;
                            var leaseList = lease[iIndex].LeaseList;

                            var IsLease = Boolean(data[oIndex].IsLease) ? 1 : 0;
                            var btnid = 'btn-' + IsLease.toString() + '-' + lease[iIndex].btn ;
                            var optid = 'opt-' + IsLease.toString() + '-' + lease[iIndex].btn ;
                            var trFirstRowLease = "<tr class='tr-options'>\n";
                            trFirstRowLease += "\t<td colspan='3'>" + lease[iIndex].Name + "</td>\n";
                            trFirstRowLease += "\t<td colspan='2'>\n";
                            trFirstRowLease += "\t<div class='col-select-field-with-add-btn'>\n";
                            trFirstRowLease += "\t<select id='" + optid + "'  name='" + optid + "' >\n";

                            $.each(leaseList, function(zIndex) {
                                trFirstRowLease += "<option value='" + leaseList[zIndex].Value + "'>" + leaseList[zIndex].Text + "</option>";
                            });

                            trFirstRowLease += "\t</select>\n";

                            trFirstRowLease += "\t\t<button class='btn btn-primary btn-add js-add' id='" + btnid.toString() + "'  name='" + btnid.toString() + "'>" + lease[iIndex].BtnCaption   + "</button>\n";
                            trFirstRowLease += "\t<div class='clearfix'></div>\n";
                            trFirstRowLease += "\t</div>\n";
                            trFirstRowLease += "\t</td>\n";
                            trFirstRowLease += "</tr>\n";
                            $('#leasesOL tbody').append(trFirstRowLease);



                            $.each(leaseDetail, function(i) {
                                var object = leaseDetail[i];
                                var financelease = "<tr role='row'>\n";
                                financelease += "\t\t<td>" + object.GLAccountType + "</td>\n";
                                financelease += "\t\t<td class='col1'><div class='col-input-with-edit-link'><input id='Description_" + leaseDetail[i].Id + "' type='text'  class='form-control js-input-field' value='" + object.CustomerGLDescription + "' readonly='readonly'> <a class='link-edit js-btn-edit-gl-account' id='Description_" + leaseDetail[i].Id + "'><i class='fa fa-pencil icon-edit'></i></a></div></td>\n";
                                financelease += "\t\t<td class='text-center col2'><div class='col-input-with-edit-link'><input id='Number_" + leaseDetail[i].Id + "' type='text'  class='form-control js-input-field' value='" + object.GLNumber + "' readonly='readonly'> <a class='link-edit js-btn-edit-gl-account' id='Number_" + leaseDetail[i].Id + "'><i class='fa fa-pencil icon-edit'></i></a></div></td>\n";
                                financelease += "\t\t<td>" + object.Classification + "</td>\n";
                                financelease += "\t\t<td>" + object.FinancialStatement + "</td>\n";
                                financelease += "</tr>";
                                $('#leasesOL tbody').append(financelease);
                            });
                        });
                    });
                }
            });
        }
        $(window).bind("load",DisplayLease());
        //popup modals

        /*******************************************************************************************************************************************************/
        /********************************************************LEASE OPERATING LEASE**************************************************************************/
        /*******************************************************************************************************************************************************/
        //Popup Modal
        $('body').on('click', '.js-add', function () {

            var optid = '#' + this.id.replace("btn", "opt");
            $('#Leases_Operating_Leases').empty()
            var $options = $(optid + " > option").clone();
            $('#Leases_Operating_Leases').append($options);
            $("#Leases_Operating_Leases option").each(function () { this.selected = $(this).val() == $(optid).val(); })

            $("#btnid").val(this.id);
            $("#modalleasesOL").modal('show');
            var isLease = parseInt(this.id.substring(4,5));
            var isFinance = parseInt(this.id.substring(6,7));
            var financeHeading = isFinance == 1 ? " (Finance Leases)" : " (Operating Leases)";
            var leaseHeading =  isLease == 1 ? "GL Accounts for Lease Components " :  "GL Ledger Accounts for Variable Expenses & Non-Lease Payments ";
            if (isFinance == 1)
                $("#Classification option").each(function () { this.selected = $(this).text() == "Financial"; })
            else
                $("#Classification option").each(function () { this.selected = $(this).text() == "Operating"; })

            $(".modal-header h4").html(leaseHeading + financeHeading );

        });
        $('#frmleasesOL').validator().on('submit', function (e) {

            if (e.isDefaultPrevented()) {
            } else {
                $.ajax({
                    url: '@Url.Action("SaveLease", "CompanyAccount")',
                    type: 'POST',
                    data: {
                        company : $("#company").val(),
                        customerid: @Session["customerid"].ToString(),
                        leases_operating_leases: $('#Leases_Operating_Leases').val(),
                        CustomerGLDescription: $("#CustomerGLDescription").val(),
                        GLNumber: $("#GLNumber").val(),
                        Classification: $("#Classification").val(),
                        FinancialStatement: $("#FinancialStatement").val(),
                        btnid:  $("#btnid").val()
                    },
                    success: function (response, tableleases) {
                        $("#modalleasesOL").modal('hide');
                        DisplayLease();
                        if (response.Status == false) {
                            toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                        } else {
                            toastr.success(response.message, 'SUCCESS', { timeOut: 3000, closeButton: true });
                        }
                    },
                    error: function (response) {
                        toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                    }
                });
            }
            return false;
        });
        //"opt-1-0", Leases_Operating_Leases
        //"opt-1-1", Leases_Operating_Leases
        //"opt-0-0", Leases_Operating_Leases
        //"opt-0-1",Leases_Operating_Leases

        //$("#company").empty();
        //var mySelect = $('#company');
        //$.each(data, function (index) {
        //    mySelect.append(
        //        $('<option value=' + data[index].id + '>' + data[index].name + '</option>')
        //    );
        //});


        $('#leasesOL').on('keypress', '.js-input-field', function(e) {
            if(e.which == 13) {
                var id = $(this).attr('id');
                $('#'+id).prop('readonly',false);
                //
                var detailid = id.split('_')[1];
                $.ajax({
                    url: '@Url.Action("UpdateLease", "CompanyAccount")',
                    type: 'POST',
                    data: {
                        id: detailid,
                        CustomerGLDescription: $('#Description_' + detailid).val(),
                        GLNumber: $('#Number_' + detailid).val()
                    },
                    success: function (response) {
                        //alert(response.Status);
                        if (response.Status == false) {
                            //  alert(response.message);
                            toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                        } else {
                            //  toastr.success(response.message, 'SUCCESS', { timeOut: 3000, closeButton: true });
                        }
                    },
                    error: function (response) {
                        // alert('Exception \n' + response.status);
                        //alert(response.message);
                        toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                    }
                });
                $(this).prop('readonly',true);
            }
        });
    });

    var checkTab = function () {
        var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
        return text;
    };

    var deleteCompany = function (a) {
        alert(a);
    }

    var loadGrid = function () {

    }

    var getURL = function (baseUrl) {
        //var url = baseUrl + "?disabledaccount=" + $('#disabledaccount').is(':checked') + "&filter=" + $("#filter").val() + "&userstatus=" + $("#status").val();
        var url = baseUrl + "?filter=" + $("#filter").val() + "&userstatus=" + $('#disabledaccount').is(':checked');
        // alert(url);
        return url;
    }


</script>



@section scripts{
    @Scripts.Render("~/bundles/datatable", "~/content/validator/js")
    @Styles.Render("~/content/validator/css", "~/Content/css/Datatables")

}