﻿ <!-- Policies Tab Pane -->
<div role="tabpanel" class="tab-pane" id="policies">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="title">Customer Account Policies</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" id="EnableResellerAccesstomyAccount" name="EnableResellerAccesstomyAccount">
                        Enable Reseller Access to my Account
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" id="RequireLeaseTermGuidanceWizardforeveryLease" name="RequireLeaseTermGuidanceWizardforeveryLease">
                        Require Lease Term Guidance Wizard for every Lease
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" id="RequireClassificationWizardforeveryLease" name="RequireClassificationWizardforeveryLease">
                        Require Classification Wizard for every Lease
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /Policies Tab Pane -->
<script type="text/javascript">
    $(document).ready(function () {

        var baseUrl = "@Url.Action("PopulatePolicy", "Companies")";

        $(function () {
            var table = $.ajax({
                url: baseUrl,
                type: 'POST',
                data: {
                },
                success: function (response) {
                    $('#EnableResellerAccesstomyAccount').prop('checked', response.EnableResellerAccesstomyAccount);
                    $('#RequireLeaseTermGuidanceWizardforeveryLease').prop('checked', response.RequireLeaseTermGuidanceWizardforeveryLease);
                    $('#RequireClassificationWizardforeveryLease').prop('checked', response.RequireClassificationWizardforeveryLease);
                },
                complete: function () {
                    // alert('Complete: Do something.');
                },
                error: function (response) {
                    //alert(response.email);
                }
            });
        });

        $('body').on('click', 'input:checkbox', function () {
            //alert(this.id);
            UpdatePlolicy();
        });


        function UpdatePlolicy() {
            $.ajax({
                url: '@Url.Action("UpdatePolicy", "Companies")',
                type: 'POST',
                data: {
                    //customerid: $('#customerid').val(),
                    enablereselleraccesstomyaccount:  $('#EnableResellerAccesstomyAccount').is(':checked'),
                    requireleasetermguidancewizardforeverylease: $('#RequireLeaseTermGuidanceWizardforeveryLease').is(':checked'),
                    requireclassificationwizardforeverylease: $('#RequireClassificationWizardforeveryLease').is(':checked'),
                },
                success: function (response) {
                    table.ajax.reload();
                    // user configuration of all toastmessages to come:
                    //toastr.success($('#name').val() + ' updated successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                    //$("#CompanyListing").modal('hide');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                }
            });
        }//End of UpdatePlolicy
    });
</script>