﻿@using System.Collections;
@using System.Web.Mvc;
@using LeaseCrunch.Common;
@{
    string users = (string)ViewBag.users; //(string)ViewData["companies"];
}
<div role="tabpanel" class="tab-pane @users" id="users">
    <div class="col-sm-12">

        <div class="col-sm-12">
            <div class="row row-filter-actions">
                <div class="col-md-5 col-sm-12">
                    <div class="container-disalbed-accounts">
                        <div class="form">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="disabledaccount"> Include disabled accounts
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="container-filter">
                        <div class="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="filter">
                                <button class="btn btn-primary btn-filter" id="showfilter"><i class="fa fa-filter"></i> Filter</button>
                                <button class="btn btn-primary btn-invite" id="showinvite"><i class="fa fa-envelope-o"></i> Invite</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-listing js-data-table" id="UserList">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email Address</th>
                                <th>Role</th>
                                <th class="actions text-center">Action</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- /User Tab Pane -->

<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="CompanyListingLabel">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frm" }))
    {
        @*<form class="cmxform" id="frm" method="get" action="">*@
        @*@Html.AntiForgeryToken()*@
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalheading">Add / Edit User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @*@Html.Hidden("userid")*@
                        <input id="userid" name="userid" type="hidden" />
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="firstname" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="lastname" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Email Address</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="email" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Role</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("roles", null, htmlAttributes: new { @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required" id="divuserstatus">
                            <label for="" class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-7">
                                @{
                                    IList<SelectListItem> list = Enum.GetValues(typeof(UserStatus)).Cast<UserStatus>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }).ToList();
                                    SelectList data = new SelectList(list, "Value", "Text");
                                }
                                @Html.DropDownList("status", data, htmlAttributes: new { @class = "form-control", required = string.Empty })

                                <div class="required-staric">*</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary" id="save">Save</button>

                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        @*</form>*@
                                    }
</div>
<!-- /Modal Company Listing -->



<script type="text/javascript">
    $(document).ready(function () {
        //*************user Starts
        var userid = 0;
        var dp = JSON.parse('@Html.Raw(ViewBag.rolesJson)');

        var baseUrl = "@Url.Action("ListResellerCustomer", "Users")";
        var url = getURL1(baseUrl);

        var table = $('#UserList').DataTable({
            bPaginate: true,
            bLengthChange: false,
            bFilter: false,
            bInfo: false,
            bAutoWidth: false,
            serverSide: false,
            searching: false,
            destroy: true,
            processing: true,
            oLanguage: {
                oPaginate: {
                    sNext: '<i class="fa fa-angle-double-right" ></i>',
                    sPrevious: '<i class="fa fa-angle-double-left" ></i>'
                }
            },
            ajax:
                {
                    "url": url
                },
            columns: [
                { "data": "name", "orderable": true },
                { "data": "email", "orderable": true },
                { "data": "role", "orderable": true }
            ],
            columnDefs: [
                {
                    "targets": 1,
                    "data": null,
                    "render": function (data, type, full, meta) {
                        var href = '#';
                        return '<a href=' + href + '>' + data + '</a>';
                    }
                },
                {
                    "targets": 3,
                    "data": null,
                    "class": "text-center",
                    //"defaultContent": '<i class="fa fa-pencil icon-edit"></i><i class="fa fa-ban icon-delete"></i>'
                    "defaultContent": '<i class="fa fa-pencil icon-edit"></i>'
                },
                 {
                     "targets": 3,
                     "data": null,
                     "class": "text-center",
                     //"defaultContent": '<i class="fa fa-pencil icon-edit"></i><i class="fa fa-ban icon-delete"></i><i class="fa fa-trash-o" aria-hidden="true"></i>'
                     "defaultContent": '<i class="fa fa-pencil icon-edit"></i>'
                 }],
            "order": [[1, 'asc']],
            createdRow: function (row, data, dataIndex) {
                //Hightlight the row of disabled user
                if (data.status == 0) {
                    $(row).addClass('disabled');
                }
            }
        });


        //$('#button').click(function () {
        //    table.row('.selected').remove().draw(false);
        //});

        //Show modal to add user
        $('body').on('click', '#showinvite', function () {
            var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
            if (text == "Users") {
                $("#modalheading").val("Invite User");
                $('input[name="userid"]').attr('value', "00000000-0000-0000-0000-000000000000");
                $("#divuserstatus").hide();
                $("#save").html("Invite");
                $("#modalheading").html("Invite User");
                $("#UserModal").modal('show');
            }
        })

        //Edit & delete user
        $('#UserList tbody').on('click', 'i', function () {
            //var $class = $(this), $active = $class.find('.fa-pencil');
            var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
            if (text == "Users") {
                var type = $(this).attr("class");
                var data = table.row($(this).parents('tr')).data();
                if (type == 'fa fa-pencil icon-edit') {
                    $("#divuserstatus").show();
                    $("#modalheading").html("Edit User");
                    $("#save").html("Save");
                    $("#userid").val(data.id);
                    $("#firstname").val(data.firstname);
                    $("#lastname").val(data.lastname);
                    $("#email").val(data.email);
                    $("#status option").each(function () { this.selected = $(this).val() == data.status; });
                    $("#roles option").each(function () { this.selected = $(this).text() == data.roles; });
                    $("#UserModal").modal('show');
                }
                else if (type == 'fa fa-ban icon-delete') {

                    $(this).confirmation({
                        onConfirm: function () {
                            $.ajax({
                                url: '@Url.Action("Deleteuser", "Companies")',
                                type: 'POST',
                                data: {
                                    id: data.id
                                },
                                success: function (response) {
                                    table.ajax.url(url).load();
                                    // user configuration of all toastmessages to come:
                                    toastr.success($('#name').val() + ' deleted successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                                }
                            });
                        }
                    });
                }
            }
        });


        //Include disabled accounts
        $('body').on('click', '#showfilter', function () {
            var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
            if (text == "Users") {
                disable = $('#disabledaccount').is(':checked');
                filter = $('#filter').val();
                table.ajax.url(url).load();
            }
        });

        //Include disabled accounts
        $('body').on('click', '#disabledaccount', function () {
            var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
            if (text == "Users") {
                disable = $('#disabledaccount').is(':checked');
                filter = $('#filter').val();
            table.ajax.url(url).load();
            table.ajax.url(getURL1(baseUrl)).load();
            }
        });

        $('body').on('click', '#save', function () {
            //alert($("#userid").val() + '\n' + $('#firstname').val() + '\n' + $('#lastname').val() + '\n' + $('#email').val() + '\n' + $('#roles').val());
            $('#frm').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                } else {
                    $.ajax({
                        url: '@Url.Action("SaveCustomer", "Account")',
                        type: 'POST',
                        data: {
                            id: $("#userid").val(),
                            firstname: $('#firstname').val(),
                            lastname: $('#lastname').val(),
                            email: $('#email').val(),
                            roles: $('#roles').val(),
                            userstatus: $("#status").val()
                        },
                        success: function (response) {
                            table.ajax.url(url).load();
                            $("#UserModal").modal('hide');
                            if (response.Status == false) {
                                toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                            } else {
                                toastr.success(response.message, 'SUCCESS', { timeOut: 3000, closeButton: true });
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                        }
                    });
                }
                return false;
            });
        });
    });

    var getURL1 = function (baseUrl) {
        var url = baseUrl + "?disable=" + $('#disabledaccount').is(':checked') + "&filter=" + $("#filter").val();
       // alert(url);
        return url;
    }


    var checkTab = function () {
        var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
        //alert($tab);
        return text;
    };

    var deleteuser = function (a) {
        alert(a);
    }

</script>