﻿@model LeaseCrunch.Entities.Company
@{
    ViewBag.Title = "Register";
}

<div class="content">
    <div class="box-table">
        <div class="box-table-cell v-align-middle">
            <div class="container-fluid">
                <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">
                    <div class="form">
                        <h2>EDIT COMPANY</h2>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AccountingStandardId, "Accounting Standard", htmlAttributes: new { @class = "" })
                                @Html.DropDownList("AccountingStandardId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AccountingStandardId, "", new { @class = "text-danger" })
                            </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CountryId, "Country", htmlAttributes: new { @class = "" })
                                    @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StateId, "State", htmlAttributes: new { @class = "" })
                                        @Html.DropDownList("StateId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "" } })
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="row row-actions">
                                            <div class="col-sm-6">
                                                <button type="submit" class="btn btn-primary btn-block">UPDATE COMPANY</button>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-secondary btn-block">CANCEL</button>
                                            </div>
                                        </div>
                                    </div>
                        }
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}