﻿@using Microsoft.AspNet.Identity;
@using LeaseCrunch.Web.Models;
@using LeaseCrunch.Common;
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    var selected = "";
    var userLevel = (int)ViewBag.UserLevel;
    string companies = "";
    string users = "";

    switch (userLevel)
    {
        case (int)UserLevel.Customer:
            {
                users = "active";
                companies = "";
                break;
            }
        case (int)UserLevel.Customer_Readonly:
            {
                companies = "active";
                break;
            }
        case (int)UserLevel.Customer_User:
            {
                companies = "active";
                break;
            }
        default:
            {
                users = "active";
                break;
            }
    }

    ViewBag.companies = companies;
    ViewBag.users = users;
}

@section styles
            {
    @Styles.Render("~/Content/datatable/css")
}

<!-- Content -->
<div class="content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12 bg-white shadow">
                <div class="title js-title" id="#Maintitle">System Users(PKWARE)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="top-buffer-20"></div>
            </div>
        </div>
        <div class="row row-filter-actions">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="col-md-7 no-left-padd-xs no-right-padd-xs no-left-padd-sm no-right-padd-sm no-left-padd-md no-left-padd-lg">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-company-location" role="tablist" id="myTab">
                       
                        @if (companies == "")
                        {
                        <li role="presentation" class="@users"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
                        <li role="presentation" id="policy"><a href="#policies" aria-controls="policies" role="tab" data-toggle="tab">Policies</a></li>
                        }

                        <li role="presentation" class="tab-pane @companies"><a href="#companies" aria-controls="companies" role="tab" data-toggle="tab" aria-expanded="true">Companies</a></li>
                        <li role="presentation"><a href="#customization" aria-controls="customization" role="tab" data-toggle="tab">Customization</a></li>
                        <li role="presentation"><a href="#gl-accounts" aria-controls="gl-accounts" role="tab" data-toggle="tab">GL Accounts</a></li>
                    </ul>


                </div>
                <div class="col-md-5 col-sm-12 no-left-padd-xs no-right-padd-xs no-left-padd-sm no-right-padd-sm no-right-padd-md no-right-padd-lg">
                    <div class="container-filter">
                        <div class="form">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <!-- Tab panes -->
                <div id="myTabContent" class="tab-content bg-white shadow">
                   

                    @if (companies == "")
                    {
                        @Html.Partial("_UsersPartial")
                    }
                   
                    @Html.Partial("_PoliciesPartial")
                    @*@Html.Partial("_CompaniesPartial", new ViewDataDictionary { { "companies", @companies } })*@
                    @Html.Partial("_CompaniesPartial")
                    @Html.Partial("_CustomizationPartial")
                    @Html.Partial("_GLAccountsPartial")
                </div>
                <!-- /Tab panes -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
        $('#myTab').on('click','li a', function () {
            $("div.js-title").html(this.innerHTML);
            if (this.innerHTML != "Companies") {
                $("#locationsection").css('visibility', 'hidden');
            }
        });
    });

    //
</script>
<!-- /Content -->

@section scripts
    {
    @Scripts.Render("~/bundles/datatable", "~/content/validator/js")
    @Styles.Render("~/content/validator/css")
}