﻿@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frm" }))
{
<!-- Content -->
<div class="content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12 bg-white shadow">
                <div class="title">Billing Account Information</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="top-buffer-30"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="box bg-white shadow">
                    <div class="row">
                        <div class="col-md-offset-1 col-sm-offset-0 col-md-8 col-sm-11">
                            <input type="hidden" id="resellerid" name="resellerid" />
                            <div class="form-horizontal">
                                <div class="form-group required">
                                    <label for="" class="col-sm-4 control-label">
                                        <div class="box-table">
                                            <div class="box-table-cell v-align-middle">
                                                Name
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-sm-8">
                                        <input id="name" name="name" type="text" class="form-control" placeholder="" required>
                                        <div class="required-staric">*</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="" class="col-sm-4 control-label">
                                        <div class="box-table">
                                            <div class="box-table-cell v-align-middle">
                                                Billing Email
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="email" id="billingemail" name="billingemail" class="form-control" placeholder="" required>
                                        <div class="required-staric">*</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="" class="col-sm-4 control-label">
                                        <div class="box-table">
                                            <div class="box-table-cell v-align-middle">
                                                Country
                                            </div>
                                        </div>
                                    </label>
                                    
                                    <div class="col-sm-8">
                                       @Html.DropDownList("countryid", (IEnumerable<SelectListItem>)ViewBag.CountryId, new { id = "countryid", @class = "form-control", required = string.Empty })
                                        <div class="required-staric">*</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="" class="col-sm-4 control-label">
                                        <div class="box-table">
                                            <div class="box-table-cell v-align-middle">
                                                Address Line 1
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" id="addressline1" name="addressline1" class="form-control" placeholder="" required>
                                        <div class="required-staric">*</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">
                                        <div class="box-table">
                                            <div class="box-table-cell v-align-middle">
                                                Address Line 2
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" id="addressline2" name="addressline2" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="" class="col-sm-4 control-label">
                                        <div class="box-table">
                                            <div class="box-table-cell v-align-middle">
                                                ZIP
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" id="zip" name="zip" class="form-control" placeholder="" required>
                                        <div class="required-staric">*</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="" class="col-sm-4 control-label">
                                        <div class="box-table">
                                            <div class="box-table-cell v-align-middle">
                                                City
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" id="city" name="city" class="form-control" placeholder="" required>
                                        <div class="required-staric">*</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="" class="col-sm-4 control-label">
                                        <div class="box-table">
                                            <div class="box-table-cell v-align-middle">
                                                State
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-sm-8">
                                       @Html.DropDownList("state", (IEnumerable<SelectListItem>)ViewBag.state, new { id = "state", @class = "form-control", required = string.Empty })
                                        <div class="required-staric">*</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-2">
                                        <button class="btn btn-block btn-primary">SAVE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="top-buffer-20"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /Content -->
<script type="text/javascript">
    $(document).ready(function () {
        var baseUrl = "@Url.Action("PopulateAccountInfo", "Users")";
        //var url = getURL(baseUrl);
        $(function () {
            var table = $.ajax({
                url: baseUrl,
                type: 'POST',
                data: {
                },
                success: function (response) {
                    $("#resellerid").val(response.Id);
                    $("#name").val(response.Name);
                    $("#billingemail").val(response.BillingEmail);
                    $("#countryid option").each(function () { this.selected = $(this).val() == response.Country; });
                    $("#addressline1").val(response.AddressLine1);
                    $("#addressline2").val(response.AddressLine2);
                    $("#zip").val(response.Zip);
                    $("#city").val(response.City);
                    $("#state option").each(function () { this.selected = $(this).val() == response.State; });
                },
                complete: function () {
                    // alert('Complete: Do something.');
                },
                error: function (response) {
                    //alert(response.email);
                }
            });

            $('#frm').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                } else {
                    $.ajax({
                        url: '@Url.Action("SaveAccountInfo", "Users")',
                        type: 'POST',
                        data: {
                            Id: $('#resellerid').val(),
                            Name: $('#name').val(),
                            BillingEmail: $('#billingemail').val(),
                            Country: $('#countryid').val(),
                            AddressLine1: $('#addressline1').val(),
                            AddressLine2: $('#addressline2').val(),
                            Zip: $('#zip').val(),
                            City: $('#city').val(),
                            State: $('#state').val()
                        },
                        success: function (response) {
                            //table.ajax.url(baseUrl).load();
                            if (response.Status == false) {
                                toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                            } else {
                                toastr.success(response.message, 'SUCCESS', { timeOut: 3000, closeButton: true });
                            }

                        },
                        error: function (response) {
                            // alert('Exception \n' + response.status);
                            toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                        }
                    });
                }
                return false;
            });
        });
    });
    </script>
}
@section scripts{
    @Scripts.Render("~/bundles/datatable", "~/content/validator/js", "~/bundles/jqueryval")
    @Styles.Render("~/content/validator/css", "~/Content/css/Datatables")
}