﻿
<!-- Content -->
<div class="content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12 bg-white shadow">
                <div class="title">Leases</div>
            </div>
        </div>
        <div class="row row-filter-actions">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="col-md-offset-5 col-md-7 col-sm-12 no-left-padd-xs no-right-padd-xs no-left-padd-sm no-right-padd-sm no-right-padd-md no-right-padd-lg">
                    <div class="container-filter">
                        <div class="form">
                            <div class="form-group">
                                <input type="text" class="form-control">
                                <button class="btn btn-primary btn-filter"><i class="fa fa-filter"></i> Filter</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <table class="table table-bordered table-listing js-data-table">
                    <thead>
                        <tr>
                            <th class="text-center">Lease ID</th>
                            <th>Lease Name</th>
                            <th>Reseller Account</th>
                            <th>Customer Account</th>
                            <th>Company Name</th>
                            <th class="text-center">Lease End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                        <tr>
                            <td class="text-center">2112</td>
                            <td><a href="#">Jenney H.</a></td>
                            <td><a href="#">SVA Consulting</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td><a href="#">PK ware</a></td>
                            <td class="text-center">03/01/2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /Content -->
