﻿ <!-- Content -->
<div class="content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12 bg-white shadow">
                <div class="title">CPA Firms / Reseller Accounts</div>
            </div>
        </div>
        <div class="row row-filter-actions">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="col-md-5 col-sm-12 no-left-padd-xs no-right-padd-xs no-left-padd-sm no-right-padd-sm no-left-padd-md no-left-padd-lg">
                    <div class="container-disalbed-accounts">
                        <div class="form">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="disabledaccount"> Include disabled resellers
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 no-left-padd-xs no-right-padd-xs no-left-padd-sm no-right-padd-sm no-right-padd-md no-right-padd-lg">
                    <div class="container-filter">
                        <div class="form">
                            <div class="form-group">
                                @*@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmFilter" }))
                                    {*@
                                <input type="text" class="form-control" id="filter" name="filter">
                                <button class="btn btn-primary btn-filter" id="showfilter"><i class="fa fa-filter"></i> Filter</button>
                                <button class="btn btn-primary btn-invite" id="showinvite"><i class="fa fa-envelope-o"></i> Add</button>
                                @*}*@
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <table class="table table-bordered table-listing js-data-table" id="UserList">
                    <thead>
                        <tr>
                            <th>Reseller ID #</th>
                            <th>Name</th>
                            <th># of Customer Accounts</th>
                            <th>Total # of Leases</th>
                            <th class="actions text-center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /Content -->
<!-- Modal Company Listing -->

<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="CompanyListingLabel">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frm" }))
    {
        @*<form class="cmxform" id="frm" method="get" action="">*@
        @*@Html.AntiForgeryToken()*@
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalheading">Add Reseller</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @*@Html.Hidden("userid")*@
                        <input id="resellerid" name="resellerid" type="text" style="visibility:hidden;" />
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="name" name="name" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary" id="save">Save</button>

                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        @*</form>*@
    }
</div>
<!-- /Modal Company Listing -->


<script type="text/javascript">
    $(document).ready(function () {
        var baseUrl = "@Url.Action("ListResllers", "Users")";
        var url = getURL(baseUrl);


        var table = $('#UserList').DataTable({
            bPaginate: true,
            bLengthChange: false,
            bFilter: false,
            bInfo: false,
            bAutoWidth: false,
            serverSide: false,
            searching: false,
            destroy: true,
            processing: true,
            oLanguage: {
                oPaginate: {
                    sNext: '<i class="fa fa-angle-double-right" ></i>',
                    sPrevious: '<i class="fa fa-angle-double-left" ></i>'
                }
            },
            ajax:
                {
                    "url": url
                },
            columns: [
                { "data": null, "orderable": true },
                { "data": "name", "orderable": true },
               { "data": "accounts", "orderable": true },
               { "data": "leases", "orderable": true }
            ],
            columnDefs: [
                {
                    "targets": 2,
                    "class": "text-center"
                }, {
                    "targets": 3,
                    "class": "text-center"
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0,
                    "class": "text-center"
                },
                {
                    "targets": 1,
                    "data": null,
                    "render": function (data, type, full, meta) {
                        //var url = '@Url.Action("LCCustomer", "Users", new {id = "id", disable =false, filter = string.Empty})'.replace("id", parseInt(full.id));
                        var url = '@Url.Action("LCResellerUsers", "Users", new {id = "id"})'.replace("id", parseInt(full.id));
                        return '<a href=' + url + '>' + data + '</a>';
                    }
                },
            {
                "targets": 4,
                "data": null,
                "class": "text-center",
                //"defaultContent": '<i class="fa fa-pencil icon-edit"></i><i class="fa fa-ban icon-delete"></i><i class="fa fa-trash-o" aria-hidden="true"></i>'
                "defaultContent": '<i class="fa fa-pencil icon-edit"></i>'
            }],
            "order": [[1, 'asc']]
        });

        table.on('order.dt search.dt', function () {
            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();


        //Include disabled accounts
        $('body').on('click', '#showfilter', function () {
            status = $('#disabledaccount').is(':checked');
            filter = $('#filter').val();
            table.ajax.url(getURL(baseUrl)).load();
        });

        //Include disabled accounts
        $('body').on('click', '#disabledaccount', function () {
            status = $('#disabledaccount').is(':checked');
            filter = $('#filter').val();
            table.ajax.url(getURL(baseUrl)).load();
        });

        //invite new LC admin
        $('body').on('click', '#showinvite', function () {
            $('input[name="resellerid"]').attr('value', "-1");
            //$("#resellerid").val('-1');
            $("#name").val('');
            $("#UserModal").modal('show');
        });

        $('#UserList tbody').on('click', 'i', function () {

            var type = $(this).attr("class");
            var data = table.row($(this).parents('tr')).data();

            if (type == 'fa fa-pencil icon-edit') {
                $("#modalheading").text("Add / Edit User");
                $("#resellerid").val(data.id);
                $("#name").val(data.name);
                $("#UserModal").modal('show');
            }
            else if (type == 'fa fa-ban icon-delete') {

            } else if (type == 'fa fa-trash-o') {
                $(this).confirmation({
                    onConfirm: function () {
                        $.ajax({
                            url: '@Url.Action("DeleteResllers", "Users")',
                            type: 'POST',
                            data: {
                                id: data.id
                            },
                            success: function (response) {
                                table.ajax.url(getURL(baseUrl)).load();
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                toastr.error(thrownError, 'ERROR', { timeOut: 5000, closeButton: true })
                            }
                        });
                    }
                });
            }
        });

        $('body').on('click', '#save', function () {
            $('#frm').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                } else {
                    $.ajax({
                        url: '@Url.Action("SaveResllers", "Users")',
                        type: 'POST',
                        data: {
                            id: $("#resellerid").val(),
                            name: $('#name').val()
                        },
                        success: function () {
                            status = $('#disabledaccount').is(':checked');
                            filter = $('#filter').val();
                            table.ajax.url(getURL(baseUrl)).load();
                            $("#UserModal").modal('hide');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            toastr.error(thrownError, 'ERROR', { timeOut: 5000, closeButton: true })
                        }
                    });
                }
                return false;
            });
        });
    });

    var checkTab = function () {
        var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
        return text;
    };

    var deleteCompany = function (a) {
        alert(a);
    }

    var loadGrid = function () {

    }

    var getURL = function (baseUrl) {
        var url = baseUrl + "?disable=" + $('#disabledaccount').is(':checked') + "&filter=" + $("#filter").val();
        //alert(url);
        return url;
    }

</script>

@section scripts{
    @Scripts.Render("~/bundles/datatable", "~/content/validator/js")
    @Styles.Render("~/content/validator/css", "~/Content/css/Datatables")

}