﻿@model LeaseCrunch.Entities.RouteControl

<div class="row">
    <div class="col-md-5">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Title :  Route Control</h3>
                <div class="box-tools">
                    <div class="btn-group pull-right">
                        <button id="list" type="button" class="btn btn btn-info" onclick='window.open("@Url.Content("~/Bank")", "_self");'>Back to List</button>
                    </div>
                </div>

            </div><!-- /.box-header -->
            <hr />
            <div class="box-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="row invoice-info">
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ModuleId, "ModuleId")
                                @Html.DropDownList("ModuleId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ModuleId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-sm-6 ">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Controller, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Controller, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Controller, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-sm-6 ">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.status)
                                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 invoice-col">
                        <div class="form-group">
                            @if (ViewBag.Title != "View")
                            {
                                <input type="submit" value="Save" class="btn btn-default pull-right" />
                            }
                        </div>
                    </div>

                }
            </div><!-- /.box-body -->
            
        </div><!-- /.b-->

    </div>

</div>
