﻿@section styles{
    @Styles.Render("~/Content/datatable/css")
}
@model IEnumerable<LeaseCrunch.Entities.RouteControl>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Route Controls</h3>
        <div class="box-tools">
            <div class="btn-group pull-right">
                <button id="list" type="button" class="btn btn btn-info" onclick='window.open("@Url.Content("~/RouteControls/Create")", "_self");'>Create</button>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="grid" class="table table-bordered table-striped">
            <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Module.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Controller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>
            </thead>
            <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Module.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Controller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}
            </tbody>

        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
@section scripts{
    @Scripts.Render("~/bundles/datatable")
}
<script type="text/javascript">
    $(function () {
        $("#grid").dataTable();

    });
</script>