﻿@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frm" }))
{
    <!-- Content -->
    <div class="content">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-12 bg-white shadow">
                    <div class="title">Edit Profile</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="top-buffer-30"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="box bg-white shadow">
                        <div class="row">
                            <div class="col-md-offset-1 col-sm-offset-0 col-md-8 col-sm-11">
                                <div class="form-horizontal">
                                    <div class="form-group required">
                                        <label for="" class="col-sm-4 control-label">
                                            <div class="box-table">
                                                <div class="box-table-cell v-align-middle">
                                                    Email
                                                </div>
                                            </div>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="email" name="email" maxlength="200" readonly="readonly">
                                            <div class="required-staric">*</div>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="" class="col-sm-4 control-label">
                                            <div class="box-table">
                                                <div class="box-table-cell v-align-middle">
                                                    First Name
                                                </div>
                                            </div>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" id="firstname" name="firstname" class="form-control" maxlength="50">
                                            <div class="required-staric">*</div>
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label for="" class="col-sm-4 control-label">
                                            <div class="box-table">
                                                <div class="box-table-cell v-align-middle">
                                                    Last Name
                                                </div>
                                            </div>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" id="lastname" name="lastname" class="form-control" maxlength="50">
                                            <div class="required-staric">*</div>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="" class="col-sm-4 control-label">
                                            <div class="box-table">
                                                <div class="box-table-cell v-align-middle">
                                                    Password
                                                </div>
                                            </div>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="password" name="password">
                                            <div class="required-staric">*</div>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="" class="col-sm-4 control-label">
                                            <div class="box-table">
                                                <div class="box-table-cell v-align-middle">
                                                    Confirm Password
                                                </div>
                                            </div>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" data-match="#password" data-match-error="Password does not match">
                                            <div class="required-staric">*</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-2">
                                            <button class="btn btn-block btn-primary">UPDATE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="top-buffer-20"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- /Content -->
}
<script type="text/javascript">
    $(document).ready(function () {
        var baseUrl = "@Url.Action("PopulateProfile", "Account")";
        //var url = getURL(baseUrl);
        $(function () {
            var table = $.ajax({
                url: baseUrl,
                type: 'POST',
                data: {
                },
                success: function (response) {
                    $("#email").val(response.email);
                    $("#firstname").val(response.firstname);
                    $("#lastname").val(response.lastname);
                },
                complete: function () {
                    // alert('Complete: Do something.');
                },
                error: function (response) {
                    //alert(response.email);
                }
            });

            $('#frm').validator().on('submit', function (e) {
                if ($("#password").val() != $("#confirmpassword").val()) {
                    toastr.error("Password and confirm password does not match", 'ERROR', { timeOut: 3000, closeButton: true });
                    return false;
                }

                if (e.isDefaultPrevented()) {
                } else {
                    $.ajax({
                        url: '@Url.Action("SaveProfile", "Account")',
                        type: 'POST',
                        data: {
                            id: $('#userid').val(),
                            firstname: $('#firstname').val(),
                            lastname: $('#lastname').val(),
                            email: $('#email').val(),
                            password: $('#password').val()
                        },
                        success: function (response) {
                            //table.ajax.url(baseUrl).load();
                            if (response.Status == false) {
                                toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                            } else {
                                $("#confirmpassword").val("");
                                $("#password").val("");
                                toastr.success(response.message, 'SUCCESS', { timeOut: 3000, closeButton: true });
                                $("#UserModal").modal('hide');
                            }

                        },
                        error: function (response) {
                            // alert('Exception \n' + response.status);
                            toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                        }
                    });
                }
                return false;
            });
        });
    });
</script>

@section scripts{
    @Scripts.Render("~/bundles/datatable", "~/content/validator/js", "~/bundles/jqueryval")
    @Styles.Render("~/content/validator/css", "~/Content/css/Datatables")

}