﻿@model LeaseCrunch.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="login">
    <div class="content">
        <div class="box-table">
            <div class="box-table-cell v-align-middle">
                <div class="container-fluid">
                    <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">
                        <h2>FORGOT PASSWORD CONFIRMATION</h2>
                        <p>We will send you an email with instructions on how to reset your password.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
