﻿@model LeaseCrunch.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="login">
    <div class="content">
        <div class="box-table">
            <div class="box-table-cell v-align-middle">
                <div class="container-fluid">
                    <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">
                        <h2>FORGOT PASSWORD</h2>
                        @*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "frm", @class = "form", role = "form" }))*@
                        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frm" }))
                        {
                            @*@Html.AntiForgeryToken()*@
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <p>Please enter your email address. You will recieve a link to create a new password via email.</p>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", required = string.Empty })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="row row-actions">
                                    <div class="col-xs-6 col-sm-4 col-md-5">
                                        <button type="submit" class="btn btn-primary btn-block" id="btnSend">SEND</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSend').on('click', function () {
            $('#frm').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                } else {
                    $.ajax({
                        url: '@Url.Action("SendForgotEmail", "Account")',
                        type: 'POST',
                        data: {
                            email: $('#Email').val()
                        },
                        success: function (response) {
                            if (response.Status == false) {
                                toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                            } else {
                                toastr.success(response.message, 'SUCCESS', { timeOut: 3000, closeButton: true });
                            }
                        },
                        error: function (request, status, error) {
                            toastr.error(request.responseText, 'ERROR', { timeOut: 3000, closeButton: true });
                        }
                    });
                }
                return false;
            });
        });
    });
</script>



@section scripts{
    @Scripts.Render("~/bundles/datatable", "~/content/validator/js")
    @Styles.Render("~/content/validator/css", "~/Content/css/Datatables")

}