﻿ <!-- Content -->


<div class="content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12 bg-white shadow">
                <div class="title">LeaseCrunch Admin</div>
            </div>
        </div>
        <div class="row row-filter-actions">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="col-md-5 col-sm-12 no-left-padd-xs no-right-padd-xs no-left-padd-sm no-right-padd-sm no-left-padd-md no-left-padd-lg">
                    <div class="container-disalbed-accounts">
                        <div class="form">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="disabledaccount"> Include disabled accounts
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 no-left-padd-xs no-right-padd-xs no-left-padd-sm no-right-padd-sm no-right-padd-md no-right-padd-lg">
                    <div class="container-filter">
                        <div class="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="filter">
                                <button class="btn btn-primary btn-filter" id="showfilter"><i class="fa fa-filter"></i> Filter</button>
                                <button class="btn btn-primary btn-invite" id="showinvite"><i class="fa fa-envelope-o"></i> Invite</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <table class="table table-bordered table-listing js-data-table" id="UserList">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Role</th>
                            <th class="actions text-center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /Content -->
<!-- Modal Company Listing -->

<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="CompanyListingLabel">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frm" }))
    {
        @*<form class="cmxform" id="frm" method="get" action="">*@
        @*@Html.AntiForgeryToken()*@
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalheading">Add / Edit User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @*@Html.Hidden("userid")*@
                        <input id="userid" name="userid" type="hidden" />
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="firstname" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="lastname" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Email Address</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="email" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Role</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("roles", null, htmlAttributes: new { @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary" id="save">Invite</button>

                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        @*</form>*@
    }
</div>
<!-- /Modal Company Listing -->


<script type="text/javascript">
    $(document).ready(function () {
        var baseUrl = "@Url.Action("List", "Account")";
        var url = getURL(baseUrl);

        var table = $('#UserList').DataTable({
            bPaginate: false,
            serverSide: false,
            searching: false,
            destroy: true,
            processing: true,
            ajax:
                {
                    "url": url
                },
            columns: [
        { "data": "name", "orderable": true },
        { "data": "email", "orderable": true },
        { "data": "role", "orderable": true }
            ],
            columnDefs: [{
                "targets": 3,
                "data": null,
                "defaultContent": '<i class="fa fa-pencil icon-edit"></i><i class="fa fa-ban icon-delete"></i>'
            }]
        });
        //Include disabled accounts
        $('body').on('click', '#showfilter', function () {
            status = $('#disabledaccount').is(':checked');
            filter = $('#filter').val();
            table.ajax.url(getURL(baseUrl)).load();

            if (filter.trim() == '') {
                message = 'No search criteria to perform';
            } else {
                message = 'Record has been filtered';
            }
            toastr.success(message, 'SUCCESS', { timeOut: 3000, closeButton: true });

        });

        //Include disabled accounts
        $('body').on('click', '#disabledaccount', function () {
            status = $('#disabledaccount').is(':checked');
            filter = $('#filter').val();
            table.ajax.url(getURL(baseUrl)).load();
            if (status == 'true') {
                message = 'Disabled users included in grid';
            } else {
                message = 'Disabled users excluded from grid';
            }
            toastr.success(message, 'SUCCESS', { timeOut: 3000, closeButton: true });
        });

        // table.ajax.reload();
        //invite new LC admin
        $('body').on('click', '#showinvite', function () {
            $("#modalheading").text("LeaseCrunch Admin");
            //$('input[name="userid"]').attr('value', "-1");
            $("#userid").val('00000000-0000-0000-0000-000000000000');
            $("#firstname").val('');
            $("#lastname").val('');
            $("#email").val('');
            $("#UserModal").modal('show');
        });

        $('#UserList tbody').on('click', 'i', function () {

            var type = $(this).attr("class");
            var data = table.row($(this).parents('tr')).data();

            if (type == 'fa fa-pencil icon-edit') {
                $("#modalheading").text("Add / Edit User");
                $("#userid").val(data.id);
                $("#firstname").val(data.firstname);
                $("#lastname").val(data.lastname);
                $("#email").val(data.email);
                $("#roles option").each(function () { this.selected = $(this).text() == data.roles; });
                $("#UserModal").modal('show');
            }
            else if (type == 'fa fa-ban icon-delete') {
                $(this).confirmation({
                    onConfirm: function () {
                        $.ajax({
                            url: '@Url.Action("Delete", "Account")',
                            type: 'POST',
                            data: {
                                id: data.id
                            },
                            success: function (response) {
                                table.ajax.url(getURL(baseUrl)).load();
                            },
                            error: function (response) {
                               // alert('Exception \n' + response.status);
                            }
                        });
                    }
                });
            }
        });

        $('#frm').validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) {
            } else {
                $.ajax({
                    url: '@Url.Action("Save", "Account")',
                     type: 'POST',
                    data: {
                        id: $('#userid').val(),
                        firstname: $('#firstname').val(),
                        lastname: $('#lastname').val(),
                        email: $('#email').val(),
                        roles: $('#roles').text()
                    },
                    success: function () {
                        status = $('#disabledaccount').is(':checked');
                        filter = $('#filter').val();
                        table.ajax.url(getURL(baseUrl)).load();
//                        alert($("#userid").val());
                       if ($("#userid").val('00000000-0000-0000-0000-000000000000')){
                           message = 'Record has been inserted';
                        }else{
                           message = 'Record has been updated';
                        }
                       toastr.success(message, 'SUCCESS', { timeOut: 3000, closeButton: true });
                       $("#UserModal").modal('hide');
                    },
                    error: function (response) {
                       // alert('Exception \n' + response.status);
                    }
                });
            }
        });
    });

    var checkTab = function () {
        var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
        return text;
    };

    var deleteCompany = function (a) {
        alert(a);
    }

    var loadGrid = function () {

    }

    var getURL = function (baseUrl) {
        var url = baseUrl + "?disable=" + $('#disabledaccount').is(':checked') + "&filter=" + $("#filter").val();
        //alert(url);
        return url;
    }

</script>



@section scripts{
    @Scripts.Render("~/bundles/datatable", "~/content/validator/js")
    @Styles.Render("~/content/validator/css")
}