﻿
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-main-menu">
            <!-- Main Navigation -->
            <ul class="nav navbar-nav navbar-main-menu hidden-xs">
                <li><a href="#">LC Admin</a></li>
                <li><a href="#">Resellers</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Leases</a></li>
            </ul>

            <!-- /Main Navigation -->
        </div>
    </div>
</div>

<!-- Content -->
<div class="content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12 bg-white shadow">
                <div class="title">Leases (System Wide)</div>
            </div>
        </div>
        <div class="row row-filter-actions">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="col-md-offset-5 col-md-7 col-sm-12 no-left-padd-xs no-right-padd-xs no-left-padd-sm no-right-padd-sm no-right-padd-md no-right-padd-lg">
                    <div class="container-filter">
                        <div class="form">
                            <div class="form-group">
                                <input type="text" class="form-control">
                                <button class="btn btn-primary btn-filter"><i class="fa fa-filter"></i> Filter</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-listing">
                        <thead>
                            <tr>
                                <th class="text-center">Lease ID</th>
                                <th>Lease Title</th>
                                <th>Reseller Account</th>
                                <th>Customer Account</th>
                                <th>Company Name</th>
                                <th class="actions text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">2112</td>
                                <td><a href="#">Jenney H.</a></td>
                                <td><a href="#">SVA Consulting</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td><a href="#">PK ware</a></td>
                                <td class="text-center"><a href=""><i class="fa fa-pencil icon-edit"></i></a> <a href=""><i class="fa fa-eye icon-view"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagi">
                    <div class="pagi-info">1-100 of 200 records</div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /Content -->