﻿@model LeaseCrunch.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Create an Account";
}
<div class="login">
    <div class="content">
        <div class="box-table">
            <div class="box-table-cell v-align-middle">
                <div class="container-fluid">
                    <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">
                        <h2>CREATE AN ACCOUNT</h2>
                        @using (Html.BeginForm("LCRegister", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.HiddenFor(model => model.Code)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "" })
                                @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", ViewBag.Email } )*@
                                @Html.TextBoxFor(m => m.Email, new { @Value = ViewBag.Email, @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="row row-actions">
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary btn-block">CREATE AN ACOUNT</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-secondary btn-block" onclick="document.location='@Url.Action("Login", "Account")'">CANCEL</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<style>
    #navigation, #logoutForm {
        display: none;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
