
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-main-menu">
            <!-- Main Navigation -->
            <ul class="nav navbar-nav navbar-main-menu hidden-xs">
                <li><a href="#">LC Admin</a></li>
                <li><a href="#">Resellers</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Leases</a></li>
                <li class="company-name">
                    <a href=""></a>
                </li>
            </ul>

            <!-- /Main Navigation -->
        </div>
    </div>
</div>

<div class="content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12 bg-white shadow">
                <div class="title">Leases (System Wide)</div>
            </div>
        </div>
        <div class="row row-filter-actions">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="col-md-6 col-sm-12 bg-gray brdr-right">
                    <div class="container-filter">
                        <div class="form">
                            <div class="form-group">
                                <input type="text" class="form-control">
                                <button class="btn btn-primary btn-filter"><i class="fa fa-filter"></i> Filter</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 bg-gray">
                    <div class="container-entries">
                        <div class="form">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-input" placeholder="Enter Name">
                                <select class="form-control form-control-select">
                                    <option># of Leases</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                                <button class="btn btn-primary btn-add"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-listing">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Reseller Name</th>
                                <th>Company Name</th>
                                <th class="actions text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                            <tr>
                                <td>Jenney H.</td>
                                <td>SVA Consulting</td>
                                <td>PK ware</td>
                                <td class="text-center"><a href=""><i class="fa fa-wrench icon-edit"></i></a> <a href=""><i class="fa fa-remove icon-delete"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

