﻿@using LeaseCrunch.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="login">
    <div class="content">
        <div class="box-table">
            <div class="box-table-cell v-align-middle">
                <div class="container-fluid">
                    <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">
                        <h2>LOGIN</h2>
                        @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))*@
                        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frm" }))
{
                            @*@Html.AntiForgeryToken()*@
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "" })
                                @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address", required = string.Empty })*@
                                <input type="email" class="form-control" id="email" name="email" required>
                                @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "" })
                                @*@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = string.Empty })*@
                                <input type="password" class="form-control" id="password" name="password" required>
                                @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="form-group">
                                <div class="row row-actions">
                                    <div class="col-xs-6 col-sm-4 col-md-5">
                                        <button type="submit" class="btn btn-primary btn-block" id="btnlogin"> <i class="fa fa-key icon" aria-hidden="true"></i>LOGIN</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-8 col-md-7">
                                        @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.RememberMe) Remember Me
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnlogin').on('click', function () {
            $('#frm').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                } else {
                    $.ajax({
                        url: '@Url.Action("Login", "Account")',
                        type: 'POST',
                        data: {
                          //  returnurl: $("$returnUrl").val(),
                            email: $('#email').val(),
                            password: $('#password').val()
                        },
                        success: function (response) {
                            //alert(response.redirectUrl);
                            if (response.isRedirect)
                                window.location.href = response.redirectUrl;
                            else {
                                toastr.error("Invalid username or password", 'ERROR', { timeOut: 3000, closeButton: true });
                                return false;
                            }
                            if (response.Status == false) {
                                toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                            } else {
                            //    toastr.success(response.message, 'SUCCESS', { timeOut: 3000, closeButton: true });
                       
                            }
                        },
                        error: function (request, status, error) {
                            toastr.error(request.responseText, 'ERROR', { timeOut: 3000, closeButton: true });
                        }
                    });
                }
                return false;
            });
        });
    });
</script>

<style>
    #navigation, #logoutForm {
        display: none;
    }
</style>


@section scripts{
    @Scripts.Render("~/bundles/datatable", "~/content/validator/js")
    @Styles.Render("~/content/validator/css", "~/Content/css/Datatables")

}