﻿@model LeaseCrunch.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}
<div class="login">
    <div class="content">
        <div class="box-table">
            <div class="box-table-cell v-align-middle">
                <div class="container-fluid">
                    <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">
                        <h2>RESET PASSWORD</h2>
                        @*@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
                        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frm" }))
                        {
                            @Html.HiddenFor(model => model.Code)
                            @*@Html.AntiForgeryToken()*@
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "" })
                                @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", ViewBag.Email } )*@
                                @Html.TextBoxFor(m => m.Email, new { @Value = ViewBag.Email, @class = "form-control", @readonly = "readonly" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, "New Password", new { @class = "" })
                                @*@Html.PasswordFor(m => m.Password, new { @class = "form-control", required = string.Empty })*@
                                <input type="password" class="form-control" id="password" name="password" required>

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", new { @class = "" })
                                @*@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = string.Empty })*@
                                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" data-match="#password" data-match-error="Password does not match" required>
                            </div>

                            <div class="form-group">
                                <div class="row row-actions">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-primary btn-block" id="btnupdate">Update</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-secondary btn-block" onclick="document.location='@Url.Action("Login", "Account")'">CANCEL</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnupdate').on('click', function () {
            if ($("#password").val() != $("#confirmpassword").val()) {
                toastr.error("password and confirm password does not match", 'ERROR', { timeOut: 3000, closeButton: true });
                return false;
            }
            $('#frm').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                  
                } else {
                    $.ajax({
                        url: '@Url.Action("ResetPassword", "Account")',
                        type: 'POST',
                        data: {
                            email: $("#Email").val(),
                            password: $('#password').val(),
                            code: $("#Code").val()
                        },
                        success: function (response) {
                            if (response.Status == false) {
                                toastr.error(response.message, 'ERROR', { timeOut: 3000, closeButton: true });
                            } else {
                                toastr.success(response.message, 'SUCCESS', { timeOut: 3000, closeButton: true });
                            }
                        },
                        error: function (request, status, error) {
                            toastr.error(request.responseText, 'ERROR', { timeOut: 3000, closeButton: true });
                        }
                    });
                }
                return false;
            });
        });
    });
</script>



@section scripts{
    @Scripts.Render("~/bundles/datatable", "~/content/validator/js")
    @Styles.Render("~/content/validator/css", "~/Content/css/Datatables")

}