﻿<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lease Chruch</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/content/toastr")
    @*@Scripts.Render("~/content/validator")*@  
    @RenderSection("styles", required: false)
</head>

<body>
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Header -->
        <header class="header">
            <!-- Navbar -->
            <nav class="navbar">
                <div class="container-fluid">   
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="~/content/img/lc-logo.png" alt="Lease Chruch"></a>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        @Html.Partial("_LoginPartial")
                    }
                </div><!-- /.container-fluid -->
            </nav>
            <!-- /Navbar -->
        </header>
        
            @if (Request.IsAuthenticated)
            {
                @Html.Partial("_Navigation")
            }
            <!-- /Header -->
            
            @RenderBody()
        

        <!-- Footer -->

        <footer class="footer">
            <div class="container-fluid text-center">
                &copy; 2017 LeaseCrunch - All Rights Reserved.
            </div>
        </footer>

        <!-- /Footer -->

    </div>
    <!-- /Wrapper -->
   
    @RenderSection("scripts", required: false)
</body>
</html>
