﻿@using Microsoft.AspNet.Identity;
@using LeaseCrunch.Web.Models;
@using LeaseCrunch.Common;
@using Microsoft.AspNet.Identity.EntityFramework;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        string FullName = string.Empty;
        string UserName = string.Empty;
        UserManager<ApplicationUser> UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        var user = UserManager.FindById(User.Identity.GetUserId());
        string BackButtonText = string.Empty;
        string url = string.Empty;
        string style = HttpUtility.HtmlDecode("style=display:none");
        if (user != null)
        {
            FullName = user.FirstName + ' ' + user.LastName;

            string _url = Request.Url.GetLeftPart(UriPartial.Path);

            if (user.UserLevel == (int)UserLevel.LCAdmin)
            {
                if (_url.ToLower().Contains("users/lcresellerusers") || _url.ToLower().Contains("users/lcresellercustomers") || _url.ToLower().Contains("companies/index") || _url.ToLower().EndsWith("companies") || _url.ToLower().EndsWith("users/accountinfo") || _url.ToLower().EndsWith("users/lcleases") | _url.ToLower().Contains("leases/myleases") | _url.ToLower().Contains("leases/addleases")) 

                {
                    BackButtonText = "Back to Admin";
                    url = @Url.Action("LCAdmin", "Users");
                    style = string.Empty;
                }
            }
            else if (user.UserLevel == (int)UserLevel.Reseller)
            {
                if (_url.ToLower().Contains("companies/index") || _url.ToLower().Contains("companies") || _url.ToLower().Contains("leases/myleases") || _url.ToLower().Contains("leases/addleases"))
                {
                    BackButtonText = "Back to Reseller";
                    url = @Url.Action("LCReselllers", "Users");
                    style = string.Empty;
                }
            }
        }

            @Html.AntiForgeryToken()
            <div class="collapse navbar-collapse" id="navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right navbar-account-setting">
                <li class="li-btn-back" @style >
                    <a href="@url" class="btn btn-primary btn-back">
                        <i class="fa fa-arrow-left icon"></i>
                        @BackButtonText
                    </a>
                </li>

                @*<li class="dropdown li-msgs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-exclamation-triangle icon-messages" aria-hidden="true"></i><span class="badge">42</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="~/Roles">Roles</a></li>
                        <li><a href="~/RouteControls">Roles Controls</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>*@
                
                <li class="dropdown user-name">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@FullName<span class="caret"></span> <span class="designation">Administrator</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Account/EditProfile">Edit Profile</a></li>
                        @*<li><a href="~/Roles">Roles</a></li>
                        <li><a href="~/RouteControls">Roles Controls</a></li>*@
                        <li role="separator" class="divider"></li>
                        <li>
                            @Html.ActionLink("Sign Out", "Logoff", "Account")
                        </li>
                        
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-main-menu visible-xs">
                <li><a href="~/Account/Index">LC Admin</a></li>
                <li><a href="~/Account/IndexResllers">Resellers</a></li>
                <li><a href="~/Account/IndexLCCustomer">Customers</a></li>
                <li><a href="#">Leases</a></li>
                <li class="company-name">
                    <a href=""></a>
                </li>
            </ul>
        </div>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

