﻿@using Microsoft.AspNet.Identity;
@using LeaseCrunch.Web.Models;
@using LeaseCrunch.Common;
@using Microsoft.AspNet.Identity.EntityFramework;
@using LeaseCrunch.Web.Controllers;
<div class="container-fluid">


    <div class="row">
        <div class="col-sm-12 col-main-menu" id="navigation">
            <!-- Main Navigation -->
            <ul class="nav navbar-nav navbar-main-menu hidden-xs">
                @{
                    string url = Request.Url.GetLeftPart(UriPartial.Path);
                    //if (url.EndsWith("/Account/Login")) {
                    //    AccountController accountController = new AccountController();
                    //    accountController.LogOff();
                    //}


                    string FullName = string.Empty;
                    string UserName = string.Empty;
                    UserManager<ApplicationUser> UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                    var user = UserManager.FindById(User.Identity.GetUserId());
                    string BackButtonText = string.Empty;
                    string style = HttpUtility.HtmlDecode("style=display:none");
                    string Customer = string.Empty;
                    if (user != null)
                    {
                        switch (user.UserLevel)
                        {
                            case (int)UserLevel.LCAdmin:
                                //Go to navigation according to LCLeases

                                if (url.ToLower().Contains("companies/index") || url.ToLower().Contains("companies") || url.ToLower().Contains("leases/myleases") || url.ToLower().Contains("leases/addleases")) { goto case (int)UserLevel.Customer; }
                                if (url.ToLower().Contains("users/lcresellercustomers")) { goto case (int)UserLevel.Reseller; }
                                if (url.ToLower().Contains("users/accountinfo")) { goto case (int)UserLevel.Reseller; }
                                if (url.ToLower().Contains("users/lcresellerusers")) { goto case (int)UserLevel.Reseller; }
                                if (url.ToLower().Contains("users/lcleases")) { goto case (int)UserLevel.Reseller; }

                                <li @(url.ToLower().Contains("users/lcadmin") ? Html.Raw(" class=\"active\"") : null)><a href="~/Users/LCAdmin">LC Admin</a></li>
                                <li @(url.ToLower().Contains("users/lcreselllers") ? Html.Raw(" class=\"active\"") : null)><a href="~/Users/LCReselllers">Reseller Accounts</a></li>
                                <li @(url.ToLower().Contains("users/lccustomer") ? Html.Raw(" class=\"active\"") : null)><a href="~/Users/LCCustomer">Customers Accounts</a></li>
                                <li @(url.ToLower().Contains("users/lcmainleasesadmin") ? Html.Raw(" class=\"active\"") : null)><a href="~/Users/LCMainLeasesAdmin">Leases</a></li>
                                break;
                            case (int)UserLevel.Reseller:
                                if (url.ToLower().Contains("companies/index") | url.ToLower().Contains("companies") | url.ToLower().Contains("leases/myleases") | url.ToLower().Contains("leases/addleases")) { goto case (int)UserLevel.Customer; }
                                <li @(url.ToLower().Contains("users/lcresellercustomers") ? Html.Raw(" class=\"active\"") : null)><a href="~/Users/LCResellerCustomers">Customer Accounts</a></li>
                                <li @(url.ToLower().Contains("users/lcleases") ? Html.Raw(" class=\"active\"") : null)><a href="~/Users/LCLeases">Leases</a></li>
                                <li @(url.ToLower().Contains("users/lcresellerusers") ? Html.Raw(" class=\"active\"") : null)><a href="~/Users/LCResellerUsers">Users</a></li>
                                <li @(url.ToLower().Contains("users/accountinfo") ? Html.Raw(" class=\"active\"") : null)><a href="~/Users/AccountInfo">Account Info</a></li>
                                break;
                            case (int)UserLevel.Customer_User:
                                goto case (int)UserLevel.Customer;
                            case (int)UserLevel.Customer:
                                Customer = Session["customer"].ToString();
                                <li @(url.ToLower().Contains("leases/myleases") ? Html.Raw(" class=\"active\"") : null)><a href="~/Leases/MyLeases">My Leases</a></li>
                                <li @(url.ToLower().Contains("leases/addleases") ? Html.Raw(" class=\"active\"") : null)><a href="~/Leases/AddLeases">Add Leases</a></li>
                                <li @((url.ToLower().Contains("companies/index") || url.ToLower().Contains("companies")) ? Html.Raw(" class=\"active\"") : null)><a href="~/companies/Index">Administration</a></li>
                                break;
                            case (int)UserLevel.Customer_Readonly:
                                Customer = Session["customer"].ToString();
                                <li @(url.ToLower().Contains("leases/myleases") ? Html.Raw(" class=\"active\"") : null)><a href="~/Leases/MyLeases">My Leases</a></li>
                                <li @(url.ToLower().Contains("leases/addleases") ? Html.Raw(" class=\"active\"") : null)><a href="~/Leases/AddLeases">Add Leases</a></li>
                                break;
                        }
                    }

                    if (url.ToLower().Contains("companies/index") || url.ToLower().Contains("companies") || url.ToLower().Contains("leases/myleases") || url.ToLower().Contains("leases/addleases"))
                    {
                        Customer = Session["customer"].ToString();
                    }

                }
                <li class="company-name"><a href="#"></a></li>
                <li class="company-name">
                    <a href="">@Customer</a>
                </li>
            </ul>
            <!-- /Main Navigation -->
        </div>
    </div>
</div>
@*<div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-main-menu">
                <!-- Main Navigation -->
                <ul class="nav navbar-nav navbar-main-menu hidden-xs">
                    <li @(url.ToLower().Contains("#") ? Html.Raw(" class=\"active\"") : null)><a href="#">Customer Accounts</a></li>
                    <li @(url.ToLower().Contains("#") ? Html.Raw(" class=\"active\"") : null)><a href="#">Leases</a></li>
                    <li @(url.ToLower().Contains("#") ? Html.Raw(" class=\"active\"") : null)><a href="#">Users</a></li>
                    <li @(url.ToLower().Contains("#") ? Html.Raw(" class=\"active\"") : null)><a href="#">Account Info</a></li>
                </ul>
                <!-- /Main Navigation -->
            </div>
        </div>
    </div>*@
