﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Create Role</h3>
        <div class="box-tools">
            <div class="btn-group pull-right">
                <button id="list" type="button" class="btn btn btn-info" onclick='window.open("@Url.Content("~/Roles")", "_self");'>Back to List</button>
            </div>
        </div>

    </div><!-- /.box-header -->
    <hr />
    <div class="box-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div><!-- /.box-body -->
</div><!-- /.box -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}