﻿
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Roles</h3>
        <div class="box-tools">
            <div class="btn-group pull-right">
                <button id="list" type="button" class="btn btn btn-info" onclick='window.open("@Url.Content("~/Roles/Create")", "_self");'>Create</button>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="grid" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Manage", "ManageRole", new { id = item.Id })

                            
                            
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">
    $(function () {
        $("#grid").dataTable();

    });
</script>
