﻿@using LeaseCrunch.Entities


@model IEnumerable<Module>
@{

    List<int> rolesRouteControls = ViewBag.SelectedRoles;
}

<div class="content">


    <div class="col-sm-offset-1 col-sm-10">
        <div class="row">
            <button id="list" type="button" class="btn btn btn-info" onclick='window.open("@Url.Content("~/Roles")", "_self");'>Back to List</button>

            <hr />

            @using (Html.BeginForm())
            {
                <input type="hidden" name="RoleId" value="@ViewBag.RoleId" />

                        <div class="box-group" id="accordion">
                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                            @foreach (var item in Model)
                            {
                                <!--Start-->
                                <div class="panel box box-primary">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                                @item.Name
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="@item.Id" class="panel-collapse collapse">
                                        <div class="box-body">
                                            <div class="row">

                                                @foreach (var route in item.RouteControls)
                                                {<div class="col-md-3">
                                                    <div class="checkbox">
                                                        @if (rolesRouteControls.Contains(route.Id))
                                                        {
                                                            <label><input type="checkbox" name="@route.Id" value="" checked="checked">@route.Description</label>
                                                        }
                                                        else
                                                        {
                                                            <label><input type="checkbox" name="@route.Id" value="">@route.Description</label>
                                                        }
                                                    </div>
                                                </div>
                                                }

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                        <div class="col-sm-12">
                            <br />

                            <input type="submit" value="Submit" class="btn btn-default pull-right" />

                        </div>
            }




        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
