﻿@model LeaseCrunch.Web.Models.LeasePaymentsProvisionalViewModel
@using LeaseCrunch.Common;
@using (Ajax.BeginForm("AddLeasePayments", "Leases", new AjaxOptions { HttpMethod = "POST", OnComplete = "CompletePaymentClassification", OnSuccess = "LeasePaymentsSucess" }))
{
    <input type="hidden" id="LeasePaymentLeaseId" name="LeasePaymentLeaseId" />
 
    <!-- Lease Payment and Classification Title Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="title">Lease Payment and Classification</div>
        </div>
        <div class="col-xs-12 visible-sm visible-xs">
            <div class="top-buffer-20"></div>
        </div>
    </div>
    <!-- Lease Payment and Classification Title Row -->
    <!-- Lease Payment and Classification Form Row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-white shadow">
                <div class="col-xs-12">
                    <div class="row form-horizontal">
                        <div class="col-sm-4">
                            <div class="form-group required">
                                <label class="control-label col-sm-6"><div class="box-table"><div class="box-table-cell v-align-middle">Discount Rate:</div></div></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control numeric" name="DiscountRate" placeholder="%" />
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-6"><div class="box-table"><div class="box-table-cell v-align-middle">Incentives received:</div></div></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control numeric" name="IncentivesReceived" placeholder="$0.00" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-6"><div class="box-table"><div class="box-table-cell v-align-middle">Initial Direct Costs:</div></div></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control numeric" name="InitialDirectCosts" placeholder="$0.00" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr></div>
                    <div class="container-fluid no-right-padd-xs no-left-padd-xs">
                        <div class="col-xs-12">
                            <div class="sub-title"><div class="txt">Add Payment Stream</div><div class="line"></div></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Payment Frequency:</div></div></label>
                                    <div class="col-sm-3">
                                        @{
                                            IList<SelectListItem> list = Enum.GetValues(typeof(PaymentFrequency)).Cast<PaymentFrequency>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }).ToList();
                                            SelectList data = new SelectList(list, "Value", "Text");
                                        }
                                        @Html.DropDownList("PaymentFrequency", data, htmlAttributes: new { @class = "form-control", required = string.Empty })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 data-table-with-out-dataTables_info_and_paginate">
                            <table id="customFieldsAddPaymentStream" class="table table-bordered table-listing js-data-table table table-striped">
                                <tr>
                                    <th class="detail" style="display:none">Payment Stream</th>
                                    <th col="payamt" class="amount">Payment Amount</th>
                                    <th col="pay" class="amount">Payments</th>
                                    <th col="totalpay" class="amount" formula="(pay*payamt)" summary="sum">Total Payments</th>
                                    <th col="paystart" class="amount">Payment Start</th>
                                    <th col="payend" class="amount">Payment End</th>
                                    <th col="action" class="amount">Action</th>
                                </tr>
                                <tr>
                                    <td style="display:none" class="amount"></td>
                                    <td><input name="det[0][payamt]" type="text" class="form-control numeric" value="" /></td>
                                    <td><input name="det[0][pay]" type="text" class="form-control numeric js-cal" value="" /></td>
                                    <td>&nbsp;</td>
                                    <td><input name="det[0][paystart]" type="text" class="form-control paystart js-cal" value="" /></td>
                                    <td><input name="det[0][payend]" type="text" class="form-control" value="" readonly /></td>
                                </tr>
                            </table>
                        </div>
                        
                        <!-- GL Account Row Title Row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="sub-title"><div class="txt">Classification</div><div class="line"></div></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-horizontal">
                                    <div class="form-group required">
                                        <label for="" class="col-sm-3 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Classification:</div></div></label>
                                        <div class="col-sm-5 required">
                                            @Html.DropDownList("Classification", null, htmlAttributes: new { id = "Classification", @class = "form-control" })
                                            <div class="required-staric">*</div>
                                        </div>
                                        <div class="col-xs-12 visible-xs"><div class="top-buffer-20"></div></div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-block btn-tertiary" data-toggle="modal" data-target="#LeaseClassificationWizard">
                                                <i class="fa fa-tasks"></i> Open Classification Wizard
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix">

                </div>
            </div>
        </div>
    </div>

                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <button type="button" id="btnPrevLeasePayments" class="btn btn-block btn-primary pull-left">Prev</button>
                                                </div>
                                                <div class="col-sm-2 pull-right">
                                                    <button type="submit" class="btn btn-block btn-primary">Save & Next</button>
                                                </div>
                                            </div>
                                            <!-- Modal Lease Classification Wizard -->
                                            <div class="modal fade" id="LeaseClassificationWizard" tabindex="-1" role="dialog" aria-labelledby="LeaseClassificationWizardLabel">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="LeaseClassificationWizardLabel">Lease Classification</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="wrapper-lease-classification-wizard">
                                                                <div class="js-lease-classification-wizard">
                                                                    <h3>Lease Classification</h3>
                                                                    <section>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-12">
                                                                                <div class="row">
                                                                                    <p>Will ownership transfer to Lessee at the end of lease term?</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="ownershipTransfer" id="ownershipTransfer1" value="option1">
                                                                                        Yes
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="ownershipTransfer" id="ownershipTransfer2" value="option2">
                                                                                        No
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-offset-8 col-sm-1">
                                                                                <i class="fa fa-question-circle icon icon-question"></i>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-12">
                                                                                <div class="row">
                                                                                    <p>Is Lessee reasonably certain to exercise a purchase option?</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="leaseResonably" id="leaseResonably3" value="option3">
                                                                                        Yes
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="leaseResonably" id="leaseResonably4" value="option4">
                                                                                        No
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-offset-8 col-sm-1">
                                                                                <i class="fa fa-question-circle icon icon-question"></i>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-12">
                                                                                <div class="row">
                                                                                    <p>Will leased asset have no alternative use to the lessor at the end of the lease?</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="leasedAsset" id="leasedAsset5" value="option5">
                                                                                        Yes
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="leasedAsset" id="leasedAsset6" value="option6">
                                                                                        No
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-offset-8 col-sm-1">
                                                                                <i class="fa fa-question-circle icon icon-question"></i>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-12">
                                                                                <div class="row">
                                                                                    <p>Is the lease term a major part (>=75%) of the economic life of the underlying asset? Answer "No" if the lease start date is within the last 25% of the life of the underlying asset?</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="leaseTerm" id="leaseTerm7" value="option7">
                                                                                        Yes
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="leaseTerm" id="leaseTerm8" value="option8">
                                                                                        No
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-offset-8 col-sm-2"><a class="btn btn-block btn-primary btn-calculate">Calculate</a></div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-12">
                                                                                <div class="row">
                                                                                    <p>Is present value of lease payments equals (or exceeds) substantially all of the fair value of the leased asset?</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="leasePayment" id="leasePayment9" value="option9">
                                                                                        Yes
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        <input type="radio" name="leasePayment" id="leasePayment10" value="option10">
                                                                                        No
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-offset-8 col-sm-2"><a class="btn btn-block btn-primary btn-calculate">Calculate</a></div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                    </section>

                                                                    <h3>Is lease term is a major part of the economic life the underlying asset?</h3>
                                                                    <section>
                                                                        <div class="form-horizontal">
                                                                            <div class="form-group">
                                                                                <div class="col-sm-12">
                                                                                    <p>Is lease term is a major part of the economic life the underlying asset?</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="top-buffer-10"></div>
                                                                            <div class="form-group">
                                                                                <label class="control-label col-sm-4"><div class="box-table"><div class="box-table-cell v-align-middle">Enter life of asset (in months):</div></div></label>
                                                                                <div class="col-sm-4">
                                                                                    <input type="text" class="form-control" value="" placeholder="xxx">
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <label class="control-label"><div class="box-table"><div class="box-table-cell v-align-middle">in months</div></div></label>
                                                                                    <i class="fa fa-repeat icon icon-refresh"></i>
                                                                                    <i class="fa fa-question-circle icon icon-question"></i>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                            <div class="form-group form-group-calculation">
                                                                                <div class="col-sm-4 left">
                                                                                    <div class="row-data">
                                                                                        <div class="col-label">Term</div>
                                                                                        <div class="col-value">60</div>
                                                                                        <div class="separator"></div>
                                                                                        <div class="col-label">Life</div>
                                                                                        <div class="col-value">xxx</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-2 right">
                                                                                    <div class="sign-equal">=</div>
                                                                                    <div class="col-input-field">
                                                                                        <input type="text" value="" class="form-control" placeholder="50%">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6 right">
                                                                                    <div class="col-info">
                                                                                        <div class="info-txt">Calulates "Yes" if &gt;=75%</div>
                                                                                        <div class="info-txt">Calulates "No" if &lt; 75%</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </div>
                                                                    </section>

                                                                    <h3>Does the present value (ROU Asset Value) of lease payments equals (or exceeds) substantially all of the fair value of leased asset?</h3>
                                                                    <section>
                                                                        <div class="form-horizontal">
                                                                            <div class="form-group">
                                                                                <div class="col-sm-12">
                                                                                    <p>Does the present value (ROU Asset Value) of lease payments equals (or exceeds) substantially all of the fair value of leased asset?</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="top-buffer-10"></div>
                                                                            <div class="form-group">
                                                                                <label class="control-label col-sm-4"><div class="box-table"><div class="box-table-cell v-align-middle">Enter fair value of leased asset:</div></div></label>
                                                                                <div class="col-sm-4">
                                                                                    <input type="text" class="form-control" value="" placeholder="xxx">
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <label class="control-label"><div class="box-table"><div class="box-table-cell v-align-middle">in months</div></div></label>
                                                                                    <i class="fa fa-repeat icon icon-refresh"></i>
                                                                                    <i class="fa fa-question-circle icon icon-question"></i>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                            <div class="form-group form-group-calculation">
                                                                                <div class="col-sm-4 left">
                                                                                    <div class="row-data">
                                                                                        <div class="col-label">Present Value</div>
                                                                                        <div class="col-value">60</div>
                                                                                        <div class="separator"></div>
                                                                                        <div class="col-label">Fair Value</div>
                                                                                        <div class="col-value">xxx</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-2 right">
                                                                                    <div class="sign-equal">=</div>
                                                                                    <div class="col-input-field">
                                                                                        <input type="text" value="" class="form-control" placeholder="50%">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6 right">
                                                                                    <div class="col-info">
                                                                                        <div class="info-txt">Calulates "Yes" if &gt;=90%</div>
                                                                                        <div class="info-txt">Calulates "No" if &lt; 90%</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Modal Lease Classification Wizard -->
                                            }



<script type="text/javascript">

    $("#btnPrevLeasePayments").click(function () {
        $("#LeasePaymentsDiv").hide();
        $("#LeaseInfoDiv").show();
        $("#LeasePaymentStep").removeClass("active")
        $("#LeaseInfoStep").addClass("active")
        $("#progressDiv").css("width", '5%');
    });

    function LeasePaymentsSucess(data)
    {
        if (data.Id != 0)
        {
            toastr.success('Lease Payments added successfully....!', 'SUCCESS',
                {
                    timeOut: 3000,
                    closeButton: true
                });
            setTimeout(function (d) {
                $("#LeasePaymentsDiv").hide();
                $("#LeaseGLAccountsDiv").show();
                $("#LeasePaymentStep").removeClass("active")
                $("#LeaseGLAccounts").addClass("active")
                $("#progressDiv").css("width", '40%');
            }, 2000);
          
        }
        else
        {
            toastr.error("Some error occured", 'ERROR', { timeOut: 3000, closeButton: true });
        }
      
    }
    $(document).ready(function () {

        /**********************************************/
        /******************IsNumeric*******************/
        /**********************************************/
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            //document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }//End of IsNumeric(e)
        $('.js-numeric').keyup(function () {
            alert(1);
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });
        /**********************************************/
        /********************Grid**********************/
        /**********************************************/
        Grider = {
            defaults: {
                initCalc: true,
                addRow: true,
                addRowWithTab: true,
                delRow: true,
                decimals: 2,
                delRowText: '<td><a href="javascript:void(0);" class="delete btn1 btn-danger1 btn-sm1 fa fa-trash icon-delete"></a></td>',
                countRow: true,
                countRowCol: 0,
                countRowText: '#',
                countRowAdd: false,
                addedRow: false
            }
        }
        $('#customFieldsAddPaymentStream').grider({ countRow: true, countRowAdd: true });
        $(".numeric").numeric();
        $('body').on('focus', '.paystart', function (event) {
            $('.paystart').datepicker({
                format: "mm/dd/yyyy",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,

            });
        });
        $('#payStreemFrequency').on('change', function (ev) {

        });
        $('body').on('change', '.js-cal', function (ev) {
            var name = '';
            var paymentName = '';
            var selectedDateName = '';
            var payend = '';
            if (this.name.indexOf("paystart") >= 0) {
                paymentName = this.name.replace('paystart', 'pay');
                payend = this.name.replace("paystart", "payend");
                selectedDateName = this.name;
            }
            else {
                paymentName = this.name;
                selectedDateName = this.name.replace('pay', 'paystart');
                payend = this.name.replace("pay", "payend");
            }
            var selectedDate = new Date($("input[name*='" + selectedDateName + "']").val());
            var payment = $("input[name*='" + paymentName + "']").val();
            if (selectedDate == "") {
                return;
            }
            var CurrentDate = new Date();
            var selectedText = $('#payStreemFrequency :selected').text();
            if (selectedText == "Monthly") {
                selectedDate = add_months(selectedDate, payment);

            } else if (selectedText == "Quarterly") {
                selectedDate = add_quarterly(selectedDate, payment);
            } else if (selectedText == "Yearly") {
                selectedDate = add_years(selectedDate, payment);
            }
            $("input[name*='" + payend + "']").val(selectedDate);
        });
        function add_months(dt, n) {
            n = n - 1;
            return moment(dt).add(n, 'M').format('MM/DD/YYYY');
        }
        function add_years(dt, n) {
            n = n - 1;
            return moment(dt).add(n, 'year').format('MM/DD/YYYY');
        }
        function add_quarterly(dt, n) {
            n = (n - 1) * 3;
            return moment(dt).add(n, 'M').format('MM/DD/YYYY');
        }

        function SuccessPaymentClassification() {
            alert("succ")
            //if (data.Status == "0") {
            //    alert(data.Id);
            //    $("#Id").val(data.Id);
            //    alert("OK");
            //}
        }

        function CompletePaymentClassification() {
            alert("Complete");
        }
    });
</script>