﻿@model LeaseCrunch.Web.Models.AddLeaseInformation


<div class="row" id="frmLeaseInformation">
    @*@@using (Html.BeginForm("AddLeases", "Leases", FormMethod.Post, new { id = "frmLeaseInformation" }))*@

    @using (Ajax.BeginForm("AddLeases", "Leases", new AjaxOptions { HttpMethod = "POST", OnComplete = "Complete", OnSuccess = "SuccessLease" }))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="col-xs-12">
            <div class="box bg-white shadow">
                <div class="col-xs-12">
                    <div class="form-horizontal">
                        <div class="form-group required">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Company:</div></div></label>
                            <div class="col-sm-9 no-right-padd-lg no-right-padd-md col-select-field-with-add-btn">
                                @Html.DropDownList("CompanyId", null, htmlAttributes: new
                       {
                           id = "CompanyId",
                           @class = "form-control",
                           required = string.Empty
                       })

                                <input type="button" value="Add" class="btn btn-block btn-primary btn-add" id="AddCompany" />
                                <div class="clearfix"></div>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Name:</div></div></label>
                            <div class="col-sm-9">
                                @*<input type="text" class="form-control" id="Title">*@
                                @Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Description:</div></div></label>
                            <div class="col-sm-9">
                                @*<textarea class="form-control" id="Description" placeholder="Serial Number, Number of assets in this lease, security deposity amount, etc." cols="4" rows="4"></textarea>*@
                                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Manufacturer:</div></div></label>
                            <div class="col-sm-9">
                                @*<input type="text" class="form-control" placeholder="Konica, Ford, etc." id="Manufacturer" >*@
                                @Html.TextBoxFor(model => model.Manufacturer, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Asset Type:</div></div></label>
                            <div class="col-sm-9 no-right-padd-lg no-right-padd-md col-select-field-with-add-btn">
                                @Html.DropDownList("AssetTypeId", null, htmlAttributes: new { id = "AssetTypeId", @class = "form-control", required = string.Empty })

                                <input type="button" value="Add" class="btn btn-block btn-primary btn-add" id="btnSaveLease" />

                                <div class="clearfix"></div>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Size:</div></div></label>
                            <div class="col-sm-2">
                                @*<input type="text" class="form-control numeric" id="Size">*@
                                @Html.TextBoxFor(model => model.Size, htmlAttributes: new { @class = "form-control numeric" })
                                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2 no-left-padd-lg no-left-padd-md no-left-padd-sm">
                                <label class="control-label"><div class="box-table"><div class="box-table-cell v-align-middle">e.g. sq/ft or m^2</div></div></label>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Location:</div></div></label>
                            <div class="col-sm-9 no-right-padd-lg no-right-padd-md col-select-field-with-add-btn">
                                @*@Html.DropDownList("Location", null, htmlAttributes: new { id = "Location", @class = "form-control", required = string.Empty })*@
                                @Html.DropDownList("CompanyLocationId", null, htmlAttributes: new { id = "CompanyLocationId", @class = "form-control" })

                                <input type="button" value="Add" class="btn btn-block btn-primary btn-add" id="btnCompanyLocation" />
                                <div class="clearfix"></div>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Lessor:</div></div></label>
                            <div class="col-sm-9 no-right-padd-lg no-right-padd-md col-select-field-with-add-btn">
                                @Html.DropDownList("LesserId", null, htmlAttributes: new { id = "LesserId", @class = "form-control", required = string.Empty })

                                <input type="button" value="Add" class="btn btn-block btn-primary btn-add" id="btnLessor" />
                                <div class="clearfix"></div>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-md-2 col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Start Date:</div></div></label>
                            <div class="col-md-2 col-sm-2">
                                @*<input type="text" class="form-control js-datetimepicker" placeholder="mm/dd/yyyy" id="BeginDate"  >*@
                                @Html.TextBoxFor(model => model.BeginDate, htmlAttributes: new { @class = "form-control js-datetimepicker" })
                                @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
                                <div class="required-staric">*</div>
                            </div>
                            <div class="col-xs-12 visible-xs"><div class="top-buffer-20"></div></div>
                            <label for="" class="no-right-padd-lg no-left-padd-lg no-right-padd-md no-left-padd-md no-right-padd-sm no-left-padd-sm col-md-1 col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">End Date:</div></div></label>
                            <div class="col-md-2 col-sm-2">
                                @*<input type="text" class="form-control js-datetimepicker" placeholder="mm/dd/yyyy" id="EndDate"  >*@
                                @Html.TextBoxFor(model => model.EndDate, htmlAttributes: new { @class = "form-control  js-datetimepicker" })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                <div class="required-staric">*</div>
                            </div>
                            <div class="col-xs-12 visible-xs visible-sm"><div class="top-buffer-20"></div></div>
                            <div class="col-sm-offset-2 col-md-offset-0 no-left-padd-md col-md-4 col-sm-6">
                                <button class="btn btn-block btn-tertiary" data-toggle="modal" data-target="#StartEndDateWizard">
                                    <i class="fa fa-tasks"></i> Run Lease Term Guidance Wizard
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Term:</div></div></label>
                            <div class="col-sm-1 no-right-padd-lg no-right-padd-md no-right-padd-sm">
                                @*<input type="text" class="form-control numeric" placeholder="XXX" maxlength="3" id="Terms"  >*@
                                @Html.TextBoxFor(model => model.Terms, htmlAttributes: new { @class = "form-control numeric" })
                                @Html.ValidationMessageFor(model => model.Terms, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label"><div class="box-table"><div class="box-table-cell v-align-middle">in months</div></div></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">ROU Asset Life:</div></div></label>
                            <div class="col-sm-1 no-right-padd-lg no-right-padd-md no-right-padd-sm">
                                @*<input type="text" class="form-control numeric" placeholder="XXX" maxlength="3" id="ROUAssetLife" >*@
                                @Html.TextBoxFor(model => model.ROUAssetLife, htmlAttributes: new { @class = "form-control numeric" })
                                @Html.ValidationMessageFor(model => model.ROUAssetLife, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label"><div class="box-table"><div class="box-table-cell v-align-middle">in months</div></div></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Comment:</div></div></label>
                            <div class="col-sm-9">
                                @*<textarea class="form-control" cols="4" rows="4" id="Comments" placeholder="Notes on renewal options and termination options"  ></textarea>*@
                                @Html.TextAreaFor(model => model.Comments, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Cost Center:</div></div></label>
                            <div class="col-sm-9 no-right-padd-lg no-right-padd-md col-select-field-with-add-btn">
                                @Html.DropDownList("CostCenterId", null, htmlAttributes: new { id = "CostCenterId", @class = "form-control", required = string.Empty })
                                <button class="btn btn-block btn-primary btn-add" id="btncostcenter">Add</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Custom Fields:</div></div></label>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-block btn-primary" id="btnCustomFields"><i class="fa fa-plus icon"></i> Add Custom Field</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-2">
                                <div class="box-custom-fields" id="addFields">

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-9 col-sm-2">
                                <button class="btn btn-block btn-primary" id="saveLeaseInformation">Save Lease</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

    }
</div>














<div class="js-data-table"></div>

<!-- Modal Company Listing -->
<div class="modal fade" id="CompanyListing" tabindex="-1" role="dialog" aria-labelledby="CompanyListingLabel">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmcompany" }))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="CompanyListingLabel">Add Company</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @*@Html.Hidden("companyid")*@
                        <input id="companyid" name="companyid" type="hidden" />
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Company Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="name" maxlength="50" >
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="mainlocation" maxlength="50" >
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Accounting Standard</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("accountingstandardid", null, htmlAttributes: new { @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Country</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("countryidc", (IEnumerable<SelectListItem>)ViewBag.countryidc, new { id = "countryidc", @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Address Line 1</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="address1" maxlength="350" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Address Line 2</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="address2" maxlength="350" required>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">ZIP</label>
                            <div class="col-sm-7">
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="zip" maxlength="5" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">City</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="city" maxlength="10" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">State</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("stateidc", (IEnumerable<SelectListItem>)ViewBag.stateidc, new { id = "stateidc", @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary" id="savecompany">SAVE</button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Modal Add Asset -->
<!-- /Modal Add Asset -->
<!-- /Modal Company Listing -->
<div class="modal fade" id="AddAsset" tabindex="-1" role="dialog" aria-labelledby="assetListingLabel">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmassettypes" }))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="CompanyListingLabel">Add Asset</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Asset Type</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="assettype" maxlength="50" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary" id="btnAssetTypeSave">SAVE</button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- Modal Company location Listing -->
<div class="modal fade" id="CompanyLocation" tabindex="-1" role="dialog" aria-labelledby="CompanyListingLabel">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmlocation" }))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="CompanyListingLabel">Add / Edit Company location</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @*@Html.Hidden("companyid")*@
                        <input id="locationid" name="locationid" type="hidden" />
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="location" name="location" maxlength="250" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Country</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("countryidl", (IEnumerable<SelectListItem>)ViewBag.countryidl, new { id = "countryidl", @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Address 1</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="address1location" maxlength="250" name="address1location" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Address 2</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="address2location" maxlength="250" name="address2location" required>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">ZIP</label>
                            <div class="col-sm-7">
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="ziplocation" name="ziplocation" maxlength="5" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">City</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" maxlength="10" id="citylocation" name="citylocation" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">State</label>
                            <div class="col-sm-7">
                                @Html.DropDownList("stateidl", (IEnumerable<SelectListItem>)ViewBag.stateidl, new { id = "stateidl", @class = "form-control", required = string.Empty })
                                <div class="required-staric">*</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary" id="savelocation">SAVE</button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- /Modal Company location Listing -->
<!-- Modal Add Lessor -->
<div class="modal fade" id="AddLessor" tabindex="-1" role="dialog" aria-labelledby="AddLessorLabel">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmLessor" }))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="AddLessorLabel">Lessor</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group required">
                            <label for="" class="col-sm-4 control-label">Lessor Name</label>
                            <div class="col-sm-7">
                                <input type="hidden" id="lessorid" name="lessorid" value="-1" />
                                <input type="text" class="form-control" id="lessorName" name="lessorName" required>
                                <div class="required-staric">*</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary" id="savelessor">SAVE</button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }
</div>
<!-- /Modal Add Lessor -->


<!-- Modal Add Cost Center -->
<div class="modal fade" id="AddCostCenter" tabindex="-1" role="dialog" aria-labelledby="AddCostCenterLabel">
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmCostCenter" }))
{
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="AddCostCenterLabel">Add Cost Center</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Cost Center</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="costcenter" name="costcenter">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2">
                                <button class="btn btn-block btn-primary" id="savelessor">SAVE</button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }
</div>
<!-- /Modal Add Cost Center -->
<!-- Modal Add Custom Field -->
<div class="modal fade" id="AddCustomField" tabindex="-1" role="dialog" aria-labelledby="AddCustomFieldLabel">
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmCustomField" }))
{
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddCustomFieldLabel">Add Custom Field</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Field Name:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="customfield" name="customfield" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-2">
                            <button class="btn btn-block btn-primary js-btn-add-custom-field" id="btnsavecustom">SAVE</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}
</div>
<!-- /Modal Add Custom Field -->

    <!-- Modal Start End Date Wizard -->
<div class="modal fade" id="StartEndDateWizard" tabindex="-1" role="dialog" aria-labelledby="StartEndDateWizardLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="StartEndDateWizardLabel">Lease Term Wizard</h4>
            </div>
            <div class="modal-body">
                <div class="wrapper-start-end-date-wizard">
                    <div class="js-start-end-date-wizard">
                        <h3>START / END</h3>
                        <section>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <p>Enter the Start (Commencement) Date and End Date below. These should be on the first page or in the "Term" section of the lease. Note: The Start Date is not necessarily the date the lease was signed.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label">
                                                <div class="box-table">
                                                    <div class="box-table-cell v-align-middle">
                                                        Start Date:
                                                    </div>
                                                </div>
                                            </label>
                                            <div class="col-sm-6">
                                                <div class="input-field input-field-datetimepicker">
                                                    <div class='input-group date js-datetimepicker'>
                                                        <input type='text' class="form-control js-input-value-date" placeholder="mm/dd/yyyy">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar icon-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="required-staric">*</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label">
                                                <div class="box-table">
                                                    <div class="box-table-cell v-align-middle">
                                                        End Date:
                                                    </div>
                                                </div>
                                            </label>
                                            <div class="col-sm-6">
                                                <div class="input-field input-field-datetimepicker">
                                                    <div class='input-group date js-datetimepicker'>
                                                        <input type='text' class="form-control js-input-value-date" placeholder="mm/dd/yyyy">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar icon-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="required-staric">*</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <p>If the lease DOES NOT have a <strong><u>specified</u></strong> End Date, enter the term below in months:</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label">
                                                <div class="box-table">
                                                    <div class="box-table-cell v-align-middle">
                                                        Term (months):
                                                    </div>
                                                </div>
                                            </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="XXX">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <h3>EARLY TERMINATION</h3>
                        <section>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <p>Are you reasonably certain you will bypass any early termination option(s)?</p>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="help-block">Hint: Answer "Yes" if there is an economic incentive to continue the lease beyond early termination option(s) through to the contractual end date (or longer with a renewal option)</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </section>

                        <h3>RENEWAL</h3>
                        <section>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <p>Are you reasonably certain you will bypass any early termination option(s)?</p>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="terminationOption" id="terminationOption1" value="option1">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="terminationOption" id="terminationOption2" value="option2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <p>Are you reasonably certain to exercise a renewal option(s)?</p>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="renewalOption" id="renewalOption1" value="option1">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="renewalOption" id="renewalOption2" value="option2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </section>

                        <h3>FINISH</h3>
                        <section>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <p>Are you reasonably certain you will bypass any early termination option(s)?</p>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="terminationOption" id="terminationOption1" value="option1">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="terminationOption" id="terminationOption2" value="option2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <p>Enter date you are reasonably certain to terminate:</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label">
                                                <div class="box-table">
                                                    <div class="box-table-cell v-align-middle">
                                                        End Date:
                                                    </div>
                                                </div>
                                            </label>
                                            <div class="col-sm-6">
                                                <div class="input-field input-field-datetimepicker">
                                                    <div class='input-group date js-datetimepicker'>
                                                        <input type='text' class="form-control js-input-value-date">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar icon-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <p>This is the new End Date of your lease. Next, you will be asked to enter Payment Stream through this date.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Start End Date Wizard -->
<script type="text/javascript">



    $(document).ready(function () {

        $("#progressDiv").css("width",'5%');

        //calculating end month     
        $("#Terms").change(function(){
            var fromDate =new Date($("#BeginDate").val());
            if($("#BeginDate").val().length>0)
            {
                var months=parseInt($("#Terms").val());
                var result1 = fromDate.addMonths(months);
                var eDate=new Date(result1);
                $("#EndDate").val(eDate.getMonth()+"/"+eDate.getDate()+"/"+eDate.getFullYear())
            }          
        });
        //end

        //calculating startDate, endDate and terms
        $('#EndDate').on('dp.change', function(e){ 
            var fromDate =new Date($("#BeginDate").val()); //datepicker (text fields)
            var toDate = new Date(e.date.format(e.date._f)); // datepicker
            if($("#BeginDate").val().length>0)
            {
                if(toDate.getMonth() == fromDate.getMonth() && toDate.getFullYear() == fromDate.getFullYear())
                {

                    $("#Terms").val(1);
                }
                else
                {
                    var months=1+toDate.getMonth() - fromDate.getMonth()+ (12 * (toDate.getFullYear() - fromDate.getFullYear()));
                    $("#Terms").val(months);
                }
            }
            else{
                $("#Terms").val('');
            }
        })

        //onchage start date
        $('#BeginDate').on('dp.change', function(e){ 
            var toDate =new Date($("#EndDate").val()); //datepicker (text fields)
            var fromDate = new Date(e.date.format(e.date._f)); // datepicker
            if($("#EndDate").val().length>0)
            {
                if(toDate.getMonth() == fromDate.getMonth() && toDate.getFullYear() == fromDate.getFullYear())
                {

                    $("#Terms").val(1);
                }
                else
                {
                    var months=1+toDate.getMonth() - fromDate.getMonth()+ (12 * (toDate.getFullYear() - fromDate.getFullYear()));
                    $("#Terms").val(months);
                }
            }
            else{
                $("#Terms").val('');
            }
        })
        //end
      



        // var dp = JSON.parse('@Html.Raw(ViewBag.accountingStandardServiceJson)');

        var baseUrl = "@Url.Action("ListResellerCustomer", "Users")";
        var url = getURL(baseUrl);

        //**********************************************************************
        //****************************Company Starts****************************
        //**********************************************************************
        //display companies in a list
        function DisplayCompanyList() {
            var url = '@Url.Action("ListCompany", "Companies")';
            jQuery.ajax({
                type: "GET",
                url: "@Url.Action("ListCompany", "Companies")",
                // data: {},
                success: function (data) {
                    $("#CompanyId").empty();
                    var mySelect = $('#CompanyId');
                    $.each(data, function (index) {
                        mySelect.append(
                            $('<option value=' + data[index].id + '>' + data[index].name + '</option>')
                        );
                    });
                },
                error: function (xhr, ajaxOptions, thrownError, request, error) {
                    //alert('xrs.status = ' + xhr.status + '\n' +
                    //      'thrown error = ' + thrownError + '\n' +
                    //      'xhr.statusText = ' + xhr.statusText + '\n' +
                    //      'request = ' + request + '\n' +
                    //      'error = ' + error);
                }
            });
        }

        $(document).ready(function () {
            DisplayCompanyList();
        });
        //Show modal to add company
        $('body').on('click', '#AddCompany', function () {
            $("#CompanyListing").modal('show');
        });

        $('body').on('click', '#savecompany', function () {
            $('#frmcompany').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                } else {
                    $.ajax({
                        url: '@Url.Action("SaveCompany", "Companies")',
                        type: 'POST',
                        data: {
                            id: $('#companyid').val(),
                            name: $('#name').val(),
                            location: $('#mainlocation').val(),
                            AccountingStandardId: $('#accountingstandardid').val(),
                            countryidc: $('#countryidc').val(),
                            address1: $('#address1').val(),
                            address2: $('#address2').val(),
                            zip: $('#zip').val(),
                            city: $('#city').val(),
                            stateidc: $('#stateidc').val(),
                            Status: "1"
                        },
                        success: function (data) {
                            DisplayCompanyList();

                            // user configuration of all toastmessages to come:
                            toastr.success('Company added successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                            $("#CompanyListing").modal('hide');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                        }
                    });
                }
                return false;
            });
        });


        //**********************************************************************
        //***************Customization Asset Type ******************************
        //**********************************************************************
        //display companies in a list
        function DisplayCustomizationAssetType() {
            jQuery.ajax({
                type: "GET",
                url: '@Url.Action("List", "CustomizationAssetTypes")',
                //data: {},
                success: function (data) {
                    $("#AssetTypeId").empty();
                    var mySelect = $('#AssetTypeId');
                    //alert(JSON.stringify(data));
                    $.each(data, function (index) {
                        mySelect.append(
                            $('<option value=' + data[index].id + '>' + data[index].name + '</option>')
                        );
                    });
                },
                error: function (xhr, ajaxOptions, thrownError, request, error) {
                    //alert('xrs.status = ' + xhr.status + '\n' +
                    //      'thrown error = ' + thrownError + '\n' +
                    //      'xhr.statusText = ' + xhr.statusText + '\n' +
                    //      'request = ' + request + '\n' +
                    //      'error = ' + error);
                }
            });
        }

        $('body').on('click', '#btnAssetTypeSave', function () {
            $('#frmassettypes').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                } else {
                    $.ajax({
                        url: '@Url.Action("Save", "CustomizationAssetTypes")',
                        type: 'POST',
                        data: {
                            inpTxt: $('#AssetTypeId').val(),
                            customerid: @Session["customerid"].ToString(),
                            },
                success: function (data) {
                    DisplayCustomizationAssetType();

                    // user configuration of all toastmessages to come:
                    toastr.success($('#name').val() + ' updated successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                    $("#AddAsset").modal('hide');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                }
            });
        }
                return false;
    });
    });

    $(document).ready(function () {
        DisplayCustomizationAssetType();
    });
    //Show modal to add company
    $('body').on('click', '#btnSaveLease', function () {
        $("#AddAsset").modal('show');
    });

    //**********************************************************************
    //******************************Location********************************
    //**********************************************************************
    function DisplayLocation() {

        jQuery.ajax({
            type: "GET",
            url: "@Url.Action("ListLocation", "Companies")?companyid=" + $("#CompanyId").val(),
            // data: {},
            success: function (data) {
                $("#CompanyLocationId").empty();
                var mySelect = $('#CompanyLocationId');
                $.each(data, function (index) {
                    mySelect.append(
                        $('<option value=' + data[index].id + '>' + data[index].locationname + '</option>')
                    );
                });
            },
            error: function (xhr, ajaxOptions, thrownError, request, error) {
                //alert('xrs.status = ' + xhr.status + '\n' +
                //      'thrown error = ' + thrownError + '\n' +
                //      'xhr.statusText = ' + xhr.statusText + '\n' +
                //      'request = ' + request + '\n' +
                //      'error = ' + error);
            }
        });
    }

    $('body').on('click', '#savelocation', function () {
        $('#frmlocation').validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) return;
            $.ajax({
                url: '@Url.Action("SaveLocation", "Companies")',

                type: 'POST',
                data: {
                    locationid: $("#locationid").val(),
                    companyid: $("#CompanyId").val(),
                    location: $('#location').val(),
                    countryidl: $('#countryidl').val(),
                    address1location: $('#address1location').val(),
                    address2location: $('#address2location').val(),
                    ziplocation: $('#ziplocation').val(),
                    citylocation: $('#citylocation').val(),
                    stateidl: $('#stateidl').val()
                },
                success: function (response) {
                    $("#CompanyLocation").modal('hide');
                    toastr.success('Location added successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                }

            });
            //});
            //   }
            return false;
        });
    });

    $(document).ready(function () {
        DisplayCustomizationAssetType();
    });
    //Show modal to add company

    $('body').on('click', '#btnCompanyLocation', function () {
        $("#CompanyLocation").modal('show');
    });

    $('#CompanyId').change(function() {
        DisplayLocation();
        //var val1 = $('#pick option:selected').val();
        //var val2 = $('#drop option:selected').val();
    });
    //**********************************************************************
    //*******************************Lessor*********************************
    //**********************************************************************
    function DisplayLessor() {
        jQuery.ajax({
            type: "GET",
            url: "@Url.Action("List", "CustomizationLessor")",
            // data: {},
            success: function (data) {
                $("#lessor").empty();
                var mySelect = $('#lessor');
                $.each(data, function (index) {
                    mySelect.append(
                        $('<option value=' + data[index].id + '>' + data[index].name + '</option>')
                    );
                });
            },
            error: function (xhr, ajaxOptions, thrownError, request, error) {
                //alert('xrs.status = ' + xhr.status + '\n' +
                //      'thrown error = ' + thrownError + '\n' +
                //      'xhr.statusText = ' + xhr.statusText + '\n' +
                //      'request = ' + request + '\n' +
                //      'error = ' + error);
            }
        });
    }


    $('#frmLessor').validator().on('submit', function (e) {
        if (e.isDefaultPrevented()) {
        } else {
            $.ajax({

                url: '@Url.Action("Save", "CustomizationLessor")',
                type: 'POST',
                data: {
                    lessorid: '-1',
                    name: $('#lessorName').val(),
                    customerid: @Session["customerid"].ToString(),
                },
                success: function (data) {
                    DisplayLessor();
                    $("#AddLessor").modal('hide');
                    // user configuration of all toastmessages to come:
                    if (data.Status)
                        toastr.success('Lessor added successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                    else
                        toastr.error(data.message, 'ERROR', { timeOut: 3000, closeButton: true })

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                }
            });
        }
        return false;
    });



    $('body').on('click', '#btnLessor', function () {
        $("#AddLessor").modal('show');
    });
    //**********************************************************************
    //**************************COST CENTER*********************************
    //**********************************************************************
    function DisplayCostCenter() {
        jQuery.ajax({
            type: "GET",
            url: "@Url.Action("List", "CustomizationCostCenter")",
            // data: {},
            success: function (data) {
                $("#CostCenters").empty();
                var mySelect = $('#CostCenters');
                $.each(data, function (index) {
                    mySelect.append(
                        $('<option value=' + data[index].id + '>' + data[index].name + '</option>')
                    );
                });
            },
            error: function (xhr, ajaxOptions, thrownError, request, error) {
                //alert('xrs.status = ' + xhr.status + '\n' +
                //      'thrown error = ' + thrownError + '\n' +
                //      'xhr.statusText = ' + xhr.statusText + '\n' +
                //      'request = ' + request + '\n' +
                //      'error = ' + error);
            }
        });
    }


    $('#frmCostCenter').validator().on('submit', function (e) {
        if (e.isDefaultPrevented()) {
        } else {
            $.ajax({
                url: '@Url.Action("Save", "CustomizationCostCenter")',
                type: 'POST',
                data: {
                    lessorid: '-1',
                    inpTxt: $('#costcenter').val(),
                    customerid: @Session["customerid"].ToString(),
                },
                success: function (data) {
                    DisplayCostCenter();
                    $("#AddCostCenter").modal('hide');
                    // user configuration of all toastmessages to come:
                    if (data.Status)
                        toastr.success('Cost Center added successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                    else
                        toastr.error(data.message, 'ERROR', { timeOut: 3000, closeButton: true })

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                }
            });
        }
        return false;
    });
    $('body').on('click', '#btncostcenter', function () {
        $("#AddCostCenter").modal('show');
    });
    //**********************************************************************
    //**************************Custom Field********************************
    //**********************************************************************

    function DisplayCustomFields() {
        jQuery.ajax({
            type: "GET",
            url: "@Url.Action("List", "CustomizationCustomField")",
            // data: {},
            success: function (data) {

                $('#addFields').html('');
                var customFields = new Array();
                var div = '';
                $.each(data, function (index) {
                    div = "<div class='col-sm-6'>\n";
                    div += "\t\t\t<label class='col-sm-4 control-label'><div class='box-table'><div class='box-table-cell v-align-middle'>" + data[index].name + "</div></div></label>\n";
                    div += "\t\t\t<div class='col-sm-8 no-right-padd-lg no-right-padd-md no-right-padd-sm'>\n";
                    div += "\t\t\t<input type='text' class='form-control' id='custom" + '_' + data[index].id + "' name='custom" + '_' + data[index].id + "'>\n";
                    div += "\t\t\t</div>\n";
                    div += "</div>";
                    customFields[index] = div;
                });

                for (var start = 0; start < customFields.length; start+=2 )
                {
                    var end = 2 + start;
                    if ( end === customFields.length ) {
                        end = undefined;
                    }
                    results = [];
                    if (end) {
                        results = customFields.slice(start,end);
                    } else {
                        results = customFields.slice(start);
                    }
                    var divid = "#addFields";
                    var div = "<div class='row row-data'>";
                    $.each(results, function (index){
                       // $(divid).append(results[index]);
                        div += results[index]
                    });
                    div += "</div>";
                    $(divid).append( div);
                }
            },
            error: function (xhr, ajaxOptions, thrownError, request, error) {
                //alert('xrs.status = ' + xhr.status + '\n' +
                //      'thrown error = ' + thrownError + '\n' +
                //      'xhr.statusText = ' + xhr.statusText + '\n' +
                //      'request = ' + request + '\n' +
                //      'error = ' + error);
            }
        });
    }


     $('#frmCustomField').validator().on('submit', function (e) {
        if (e.isDefaultPrevented()) {
        } else {
            $.ajax({
                url: '@Url.Action("Save", "CustomizationCustomField")',
                type: 'POST',
                data: {
                    lessorid: '-1',
                    inpTxt: $('#customfield').val(),
                    customerid: @Session["customerid"].ToString(),
                },
                success: function (data) {
                    DisplayCustomFields();
                    $("#AddCustomField").modal('hide');
                    // user configuration of all toastmessages to come:
                    if (data.Status)
                        toastr.success('Custom Field added successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                    else
                        toastr.error(data.message, 'ERROR', { timeOut: 3000, closeButton: true })
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                }
            });
        }
        return false;
    });
        $('body').on('click', '#btnCustomFields', function () {
             $("#AddCustomField").modal('show');
        });

    DisplayCustomFields();

    //*************Location Starts
    //display location in a list
    @*var tablelocation = $('#LocationList').DataTable({
        bPaginate: false,
        serverSide: false,
        searching: false,
        destroy: true,
        processing: true,
        ajax:
            {
                "url": "@Url.Action("ListLocation", "Companies")?companyid=" + companyid
            },
        columns: [
                { "data": "locationname", "orderable": true }
        ],
        columnDefs: [{
            "targets": 1,
            "data": null,
            "class": "text-center",
            //"defaultContent": '<i class="fa fa-pencil icon-edit"></i><i class="fa fa-ban icon-delete"></i>'
            "defaultContent": '<i class="fa fa-pencil icon-edit"></i>'
        }]
    });*@

    //Display location of the selected company
    $('#CompanyList tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
        //$("#locationmsg").html("Locations <span>(per company) that contain Leases</span>");
        companyid = data.id;
        $('#CompanyList').each(function () {
            $(this).find('tr').each(function () {
                $(this).find('td').each(function () {
                    $(this).css("background-color", "");
                });
            });
        });

        $(this).find('td').each(function () {
            $(this).css("background-color", "#e0e0e0");
            $("#locationsection").css('visibility', 'visible');
            //$("#locationmsg").html("Locations <span>(" + data.name + ") that contain Leases</span>");
        });
        var url = "@Url.Action("ListLocation", "Companies")?companyid=" + companyid;
        tablelocation.ajax.url(url).load();
    });

    $("#addloction").on("click", function () {
        if (companyid == 0) { toastr.success('Please select a company first', 'ERROR', { timeOut: 3000, closeButton: true }); return; }
        var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
        if (text == "Companies") {
            $('input[name="locationid"]').attr('value', "-1");
            $("#location").val('');
            $("#countryidl option").val('');
            $("#address1location").val('');
            $("#address2location").val('');
            $("#ziplocation").val('');
            $("#citylocation").val('');
            $("#stateidl option").val('');

            $("#CompanyLocation").modal('show');
        }
    });

    $('#LocationList tbody').on('click', 'i', function () {
        var datalocation = tablelocation.row($(this).parents('tr')).data();
        var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
        if (text == "Companies") {
            var type = $(this).attr("class");

            if (type == 'fa fa-pencil icon-edit') {
                $('input[name="locationid"]').attr('value', datalocation.id);
                $("#location").val(datalocation.locationname);
                $("#countryidl option").each(function () { this.selected = $(this).text() == datalocation.countryidl; });
                $("#address1location").val(datalocation.address1);
                $("#address2location").val(datalocation.address2);
                $("#ziplocation").val(datalocation.zip);
                $("#citylocation").val(datalocation.city);
                $("#stateidl option").each(function () { this.selected = $(this).text() == datalocation.stateidl; });
                $("#CompanyLocation").modal('show');
            }
            else if (type == 'fa fa-ban icon-delete') {

                $(this).confirmation({
                    onConfirm: function () {
                        $.ajax({
                            url: '@Url.Action("DeleteLocation", "Companies")',
                            type: 'POST',
                            data: {
                                id: datalocation.id
                            },
                            success: function (response) {
                                var url = "@Url.Action("ListLocation", "Companies")?companyid=" + companyid;
                                tablelocation.ajax.reload();
                                toastr.success($('#location').val() + ' deleted successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true })
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                toastr.error(thrownError, 'ERROR', { timeOut: 3000, closeButton: true })
                            }
                        });
                    }
                });
            }
        }
    });

        //**********************************************************************
        //**************************Add Lease********************************
        //**********************************************************************



    });

    var getURL = function (baseUrl) {
        var url = baseUrl + "?filter=" + $("#compfilter").val();
        // alert(url);
        return url;
    }


    var checkTab = function () {
        var $tab = $('#myTab'), $active = $tab.find('.active'), text = $active.find('a').text();
        return text;
    };

    var deleteCompany = function (a) {
        alert(a);
    }

    $(document).ready(function () {
        $("#LeasePaymentsDiv").hide();
        $("#NonLeasePaymentsDiv").hide();
        $("#LeaseDocumentsDiv").hide();
        $("#LeaseGLAccountsDiv").hide();
    });

    function SuccessLease(data) {
        if(data.Id!=0)
        {
            $("#Id").val(data.Id);
            $("#LeaseId").val(data.Id);
            $("#NonLeasePaymentLeaseId").val(data.Id);
            $("#LeasePaymentLeaseId").val(data.Id);
            $("#DocumentLeaseId").val(data.Id);
            $("#GLAccountsLeaseId").val(data.Id);
            toastr.success('Lease info added successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true });
            //hiding leaseinfo div and moving to laesepayments
            setTimeout(function(d){
                $("#LeaseInfoDiv").hide();
                $("#LeasePaymentsDiv").show();
                $("#LeaseInfoStep").removeClass("active")
                $("#LeasePaymentStep").addClass("active")
                $("#progressDiv").css("width",'20%');
            }, 2000);
           
            
        }
        else
        {
            toastr.error("Some error occured", 'ERROR', { timeOut: 3000, closeButton: true });
        }
    }
    function Complete() {
        //alert("Complete");
    }
</script>