﻿@model LeaseCrunch.Web.Models.NonLeasePaymentsProvisionalViewModel
@using LeaseCrunch.Common;
<!-- GL Account Row Title Row -->

@using (Ajax.BeginForm("AddNonLeasePayments", "Leases", new AjaxOptions { HttpMethod = "POST", OnComplete = "CompleteNonLease", OnSuccess = "NonLeasePaymentsSucess", OnFailure="NonLeasePaymentFailure" }))
{
    @*@Html.HiddenFor(model => model.LeaseId, htmlAttributes: new { @class = ".LeaseId" })*@
    <input type="hidden" id="NonLeasePaymentLeaseId" name="NonLeasePaymentLeaseId" />
    <input type="hidden" name="GridCount" id="GridCount" value="0" />


    <!-- Payment Stream for varible Title Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="title">Non-Lease Payments</div>
           
           
        </div>
        <div class="col-xs-12 visible-sm visible-xs">
            <div class="top-buffer-20"></div>
        </div>
    </div>
    <!-- Payment Stream for varible Title Row -->
    <!-- Payment Stream for varible Form Row -->
    <div class="row" id="NonLeasePaymentsDiv">
        <div class="col-xs-12">
            <div class="container-fluid box bg-white shadow no-right-padd-xs no-left-padd-xs">
                <div class="row" id="GridContainer">
                    <div class="row gr" id="Grid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group required">
                                    <div class="col-sm-5">
                                        @Html.DropDownList("GLAccountTypeNonLease", null, htmlAttributes: new { id = "GLAccountTypeNonLease", @class = "form-control" })
                                    </div>

                                    <div class="col-xs-12">
                                        <p class="help-block"><em>GL Descriptions / Numbers can be added or edited in <a href="">Settings</a></em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="sub-title"><div class="txt">Add Payment Stream</div><div class="line"></div></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label"><div class="box-table"><div class="box-table-cell v-align-middle">Payment Frequency:</div></div></label>
                                    <div class="col-sm-3">
                                        @Html.DropDownList("PaymentFrequencyNonLease", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 data-table-with-out-dataTables_info_and_paginate">
                            <table id="tblNonLeasePayments" class="table table-bordered table-listing js-data-table table table-striped">
                                <tr>
                                    <th class="detail" style="display:none">Payment Stream</th>
                                    <th col="paymentamount" class="amount">Payment Amount</th>
                                    <th col="payments" class="amount">Payments</th>
                                    <th col="totalpayments" class="amount" formula="(payments*paymentamount)" summary="sum">Total Payments</th>
                                    <th col="paymentstart" class="amount">Payment Start</th>
                                    <th col="paymentend" class="amount">Payment End</th>
                                    @*<th col="action" class="amount">Action</th>*@
                                </tr>
                                <tr id="x">
                                    <td ng-data="0" style="display:none" class="amount"></td>
                                    <td ng-data="0"><input name="det[0][paymentamount]" type="text" class="form-control numeric pAmount" value="" /></td>
                                    <td ng-data="0"><input name="det[0][payments]" type="text" class="form-control numeric js-calculation pNoOfAmount" value="" /></td>
                                    <td ng-data="0" class="pTotalAmounts">&nbsp;</td>
                                    <td ng-data="0"><input name="det[0][paymentstart]" type="text" class="form-control paymentstart" value="" /></td>
                                    <td ng-data="0"><input name="det[0][paymentend]" type="text" class="form-control paymentend" value="" readonly /></td>
                                    @*<td ng-data="0"><a href="javascript:void(0);" id="btnRemoveRow" class="delete btn1 btn-danger1 btn-sm1 fa fa-trash icon-delete"></a></td>*@
                                </tr>
                            </table>
                        </div>
                        <hr />
                        <div id="btnDiv" class="col-sm-offset-10 col-sm-2">
                            <button type="button" id="btnRemoveRow" class="btn btn-block btn-danger">Delete Row</button>
                            <button type="button" id="btnAddRow" class="btn btn-block btn-info">Add Row</button>
                        </div>
                    </div>
                </div>
               
              
                <div class="col-xs-12"><div class="top-buffer-20"></div></div>
                <div class="row">
                    <div class="col-sm-2">
                        <button type="button" id="btnPrevNonLease" class="btn btn-block btn-primary">Prev</button>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <button type="submit" class="btn btn-block btn-primary">Save & Next</button>
                    </div>
                </div>
              
                <div class="clearfix"></div>
            </div>
        </div>
       
    </div>
}
    <!-- /Payment Stream for varible Form Row -->
                                    <!-- Add Another Payment Stream Button Row -->
                                    <div class="row">
                                        <div class="col-sm-offset-8 col-sm-4">
                                            <button id="btnCopyGrid" class="btn btn-block btn-quaternary">Add Another Payment Stream</button>
                                        </div>
                                    </div>
                                    <!-- /Add Another Payment Stream Button Row -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="top-buffer-50"></div>
                                        </div>
                                        
                                    </div>

                                   


<script type="text/javascript">

    $("#btnPrevNonLease").click(function () {
        $("#NonLeasePaymentsDiv").hide();
        $("#LeaseGLAccountsDiv").show();
        $("#NonLeasePaymentStep").removeClass("active")
        $("#LeaseGLAccounts").addClass("active")
        $("#progressDiv").css("width", '40%');
    });

    function NonLeasePaymentsSucess(data) {
        if (data.Id != 0) {
            toastr.success('NonLease Payments added successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true });
            //hiding leaseinfo div and moving to laesepayments
            setTimeout(function (d) {
                $("#NonLeasePaymentsDiv").hide();
                $("#LeaseDocumentsDiv").show();
                $("#NonLeasePaymentStep").removeClass("active")
                $("#LeaseDocStep").addClass("active")
                $("#progressDiv").css("width", '80%');
            }, 2000);
          
        }
        else {
            toastr.error("Some error occured", 'ERROR', { timeOut: 3000, closeButton: true });
        }

    }

    function NonLeasePaymentFailure()
    {
        toastr.error("Some error occured", 'ERROR', { timeOut: 3000, closeButton: true });
    }

    $(document).ready(function () {

        var cloneCount = 1;
        var cloneTableid = 1;
        //coping non payment grid
        $("#btnCopyGrid").click(function () {
            var clone = $("#Grid").clone().attr('id', 'Grid' + cloneCount++).insertAfter(".gr:last");
            var newFrequencyId = clone.find("#PaymentFrequencyNonLease").attr("id", "PaymentFrequencyNonLease" + cloneTableid);
            newFrequencyId.attr("name", "PaymentFrequencyNonLease" + cloneTableid)
            var newGLAccount = clone.find("#GLAccountTypeNonLease").attr("id", "GLAccountTypeNonLease" + cloneTableid);
            newGLAccount.attr("name", "GLAccountTypeNonLease" + cloneTableid)
            //clone.find("#tblNonLeasePayments tbody tr:not(:first-child)").remove();
          
            //end

           var table = clone.find('#tblNonLeasePayments');
           table.find("tr:gt(1)").remove();
            table.find('tr').each(function () {
                    $(this).find('input[type="text"]').each(function () {
                        var oldFullName = $(this).attr("name");
                        var newname = oldFullName.replace("det", "det" + "" + cloneTableid)
                        $(this).attr("name", newname);
                    });
            });

            var newtableid = clone.find('#tblNonLeasePayments').attr('id') + cloneTableid; //getting new table id

           table.attr("id", newtableid);
           $("#GridCount").val(cloneTableid);
           cloneTableid++;
        });
        //end

        //adding table rows
        //var countRow=1;
        var nextRowNumber = 0;
        $('body').on('click', '#btnAddRow', function (ev) {
            var parentDiv = $(this).parent().parent().closest("div");
            var tbl = parentDiv.find('table');
            var rowNo = tbl.find("tr:last > td").eq(0).attr('ng-data');
            rowNo++;
            var startStringName = tbl.find("tr > td").eq(1).find("input").attr('Name').split('[')[0];
            tbl.find("tbody").append('<tr><td ng-data="' + rowNo + '" style="display:none" class="amount"></td><td><input name="' + startStringName + '[' + rowNo + '][paymentamount]" type="text" class="form-control numeric pAmount" value="" /></td><td><input name="' + startStringName + '[' + rowNo + '][payments]" type="text" class="form-control numeric js-calculation pNoOfAmount" value="" /></td><td class="pTotalAmounts">&nbsp;</td><td><input name="' + startStringName + '[' + rowNo + '][paymentstart]" type="text" class="form-control paymentstart js-calculation" value="" /></td><td><input name="' + startStringName + '[' + rowNo + '][paymentend]" type="text" class="form-control" value="" readonly /></td></tr>');
        });
      
        //end

        //removing row
        $('body').on('click', '#btnRemoveRow', function (ev) {
            var parentDiv = $(this).parent().parent().closest("div");
            var tbl = parentDiv.find('table');
            var $last = tbl.find('tr:last');
            if ($last.attr('id') != 'x')
                $last.remove()          
        });
        //end

        //calculating total amounts
        $('body').on('change', '.pNoOfAmount', function (event) {
            var currentRow = $(this).closest('tr');
            var amountTd = currentRow.children('td').eq(1);
            var noOfAmountTd = currentRow.children('td').eq(2);
            var amount = amountTd.find("input").val();
            var noOfAmt = noOfAmountTd.find("input").val();
            currentRow.children('td').eq(3).text(amount * noOfAmt);
            
        });

        $('body').on('change', '.pAmount', function (event) {
            var currentRow = $(this).closest('tr');
            var amountTd = currentRow.children('td').eq(1);
            var noOfAmountTd = currentRow.children('td').eq(2);
            var amount = amountTd.find("input").val();
            var noOfAmt = noOfAmountTd.find("input").val();
            currentRow.children('td').eq(3).text(amount * noOfAmt);

        });
        //end

        //calculating end date
        $('body').on('change', '.paymentstart', function (event) {
            var parentDiv = $(this).parent().parent().closest('div[id^="Grid"]'); //getting grid to get current frequency for each grid
            var stDate = new Date($(this).val()); //getting start date
            var currentRow = $(this).closest('tr');  //getting current row to get NoOfPayments
            var noOfAmountTd = currentRow.children('td').eq(2);
            var noOfAmt = parseInt(noOfAmountTd.find("input").val());
            var ddlFrequency = parentDiv.find('select[id^="PaymentFrequencyNo"]');
            var selectedFrequency = ddlFrequency.val();
            if (noOfAmt != "")
            {
                if (selectedFrequency == 1) {
                    var result1 = stDate.addMonths(noOfAmt);
                    var eDate = new Date(result1);
                    var endDate = currentRow.children('td').eq(5);
                    endDate.text(eDate.getMonth() + "/" + eDate.getDate() + "/" + eDate.getFullYear());
                }
                else if (selectedFrequency == 2) {
                    var result1 = stDate.addMonths(noOfAmt*4);
                    var eDate = new Date(result1);
                    var endDate = currentRow.children('td').eq(5);
                    endDate.text(eDate.getMonth() + "/" + eDate.getDate() + "/" + eDate.getFullYear());
                }
                else if(selectedFrequency==3)
                {
                    var result1 = stDate.addYears(noOfAmt);
                    var eDate = new Date(result1);
                    var endDate = currentRow.children('td').eq(5);
                    endDate.text(eDate.getMonth() + "/" + eDate.getDate() + "/" + eDate.getFullYear());
                }
                else
                {

                }
            }          
        });
        //end

        $('body').on('focus', '.paymentstart', function (event) {
            $('.paymentstart').datepicker({
                format: "mm/dd/yyyy",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,

            });
        });





        var paymentStream = 1;
        //$(".js-AddPaymentStreamNonLease").click(function () {
        //    $("#customFieldsAddPaymentStreamNonLease tbody").append("<tr><td class='text-center integer'>" + paymentStream++ + "</td><td class='text-center'><input type='text' class='form-control js-numeric' id='paymentAmount' name='paymentAmount[]' value='' placeholder='$'  onkeypress='return IsNumeric(event);' ondrop='return false;' onpaste='return false;'  /></td><td class='text-center'><input type='text' class='form-control js-numeric' id='payments' name='payments[]' value='' placeholder=''  onkeypress='return IsNumeric(event);' ondrop='return false;' onpaste='return false;'  /></td><td class='text-center'><input type='text' class='form-control js-numeric' id='totalPayments' name='totalPayments[]' value='' placeholder='$'  onkeypress='return IsNumeric(event);' ondrop='return false;' onpaste='return false;'  /></td><td class='text-center'><input type='text' class='form-control js-numeric' id='paymentStart' name='paymentStart[]' value='' placeholder=''  /></td><td class='text-center'><input type='text' class='form-control js-numeric' id='paymentEnd' name='paymentEnd[]' value='' placeholder=''   /> </td><td><a href='javascript:void(0);' class='js-RemovePaymentStreamNonLease'><i class='fa fa-trash icon-delete'></i></a></td></tr>");
        //});
        //$("#customFieldsAddPaymentStreamNonLease").on('click', '.js-RemovePaymentStreamNonLease', function () {
        //    $(this).parent().parent().remove();
        //});

        /**********************************************/
        /******************IsNumeric*******************/
        /**********************************************/
        //var specialKeys = new Array();
        //specialKeys.push(8); //Backspace
        //function IsNumeric(e) {
        //    var keyCode = e.which ? e.which : e.keyCode
        //    var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
        //    //document.getElementById("error").style.display = ret ? "none" : "inline";
        //    return ret;
        //}//End of IsNumeric(e)
        //$('.js-numeric').keyup(function () {
        //    alert(1);
        //    this.value = this.value.replace(/[^0-9\.]/g, '');
        //});



        /**********************************************/
        /********************Grid**********************/
        /**********************************************/
        //Grider = {
        //    defaults: {
        //        initCalc: true,
        //        addRow: true,
        //        addRowWithTab: true,
        //        delRow: true,
        //        decimals: 2,
        //        delRowText: '<td><a href="javascript:void(0);" class="delete btn1 btn-danger1 btn-sm1 fa fa-trash icon-delete"></a></td>',
        //        countRow: true,
        //        countRowCol: 0,
        //        countRowText: '#',
        //        countRowAdd: false,
        //        addedRow: false
        //    }
        //}
        //$('#tblNonLeasePayments').grider({ countRow: true, countRowAdd: true });
        //$(".numeric").numeric();
        //$('body').on('focus', '.paymentstart', function (event) {
        //    $('.paymentstart').datepicker({
        //        format: "mm/dd/yyyy",
        //        calendarWeeks: true,
        //        autoclose: true,
        //        todayHighlight: true,

        //    });
        //});

        function DisplayCashAP() {

            jQuery.ajax({
                type: "GET",
                url: "@Url.Action("CashAP", "CompanyAccount")?companyid=" + $("#CompanyId").val(),
                // data: {},
                success: function (data) {
                    $("#CashAP").empty();
                    var mySelect = $('#CashAP');
                    $.each(data, function (index) {
                        mySelect.append(
                            $('<option value=' + data[index].id + '>' + data[index].customergldescription + "[" + data[index].glnumber + ']</option>')
                        );
                    });
                },
                error: function (xhr, ajaxOptions, thrownError, request, error) {
                    //alert('xrs.status = ' + xhr.status + '\n' +
                    //      'thrown error = ' + thrownError + '\n' +
                    //      'xhr.statusText = ' + xhr.statusText + '\n' +
                    //      'request = ' + request + '\n' +
                    //      'error = ' + error);
                }
            });
        }


        function ROUAsset() {

            jQuery.ajax({
                type: "GET",
                url: "@Url.Action("ROUAsset", "CompanyAccount")?companyid=" + $("#CompanyId").val(),
                // data: {},
                success: function (data) {
                    $("#ROUAsset").empty();
                    var mySelect = $('#ROUAsset');
                    $.each(data, function (index) {
                        mySelect.append(
                            $('<option value=' + data[index].id + '>' + data[index].customergldescription + "[" + data[index].glnumber + ']</option>')
                        );
                    });
                },
                error: function (xhr, ajaxOptions, thrownError, request, error) {
                    //alert('xrs.status = ' + xhr.status + '\n' +
                    //      'thrown error = ' + thrownError + '\n' +
                    //      'xhr.statusText = ' + xhr.statusText + '\n' +
                    //      'request = ' + request + '\n' +
                    //      'error = ' + error);
                }
            });
        }

        function GLAccountTypeNonLease() {

            jQuery.ajax({
                type: "GET",
                url: "@Url.Action("GLAccountTypeNonLease", "CompanyAccount")?companyid=" + $("#CompanyId").val(),
                // data: {},
                success: function (data) {
                    $("#GLAccountTypeNonLease").empty();
                    var mySelect = $('#GLAccountTypeNonLease');
                    $.each(data, function (index) {
                        mySelect.append(
                            $('<option value=' + data[index].id + '>' + data[index].customergldescription + "[" + data[index].glnumber + ']</option>')
                        );
                    });
                },
                error: function (xhr, ajaxOptions, thrownError, request, error) {
                    //alert('xrs.status = ' + xhr.status + '\n' +
                    //      'thrown error = ' + thrownError + '\n' +
                    //      'xhr.statusText = ' + xhr.statusText + '\n' +
                    //      'request = ' + request + '\n' +
                    //      'error = ' + error);
                }
            });
        }

        function LTLeaseLiability() {

            jQuery.ajax({
                type: "GET",
                url: "@Url.Action("LTLeaseLiability", "CompanyAccount")?companyid=" + $("#CompanyId").val(),
                // data: {},
                success: function (data) {
                    $("#LTLeaseLiability").empty();
                    var mySelect = $('#LTLeaseLiability');
                    $.each(data, function (index) {
                        mySelect.append(
                            $('<option value=' + data[index].id + '>' + data[index].customergldescription + "[" + data[index].glnumber + ']</option>')
                        );
                    });
                },
                error: function (xhr, ajaxOptions, thrownError, request, error) {
                    //alert('xrs.status = ' + xhr.status + '\n' +
                    //      'thrown error = ' + thrownError + '\n' +
                    //      'xhr.statusText = ' + xhr.statusText + '\n' +
                    //      'request = ' + request + '\n' +
                    //      'error = ' + error);
                }
            });
        }

        function STLeaseLiability() {

            jQuery.ajax({
                type: "GET",
                url: "@Url.Action("STLeaseLiability", "CompanyAccount")?companyid=" + $("#CompanyId").val(),
                // data: {},
                success: function (data) {
                    $("#STLeaseLiability").empty();
                    var mySelect = $('#STLeaseLiability');
                    $.each(data, function (index) {
                        mySelect.append(
                            $('<option value=' + data[index].id + '>' + data[index].customergldescription + "[" + data[index].glnumber + ']</option>')
                        );
                    });
                },
                error: function (xhr, ajaxOptions, thrownError, request, error) {
                    //alert('xrs.status = ' + xhr.status + '\n' +
                    //      'thrown error = ' + thrownError + '\n' +
                    //      'xhr.statusText = ' + xhr.statusText + '\n' +
                    //      'request = ' + request + '\n' +
                    //      'error = ' + error);
                }
            });
        }

        function RentExpense() {

            jQuery.ajax({
                type: "GET",
                url: "@Url.Action("RentExpense", "CompanyAccount")?companyid=" + $("#CompanyId").val(),
                // data: {},
                success: function (data) {
                    $("#RentExpense").empty();
                    var mySelect = $('#RentExpense');
                    $.each(data, function (index) {
                        mySelect.append(
                            $('<option value=' + data[index].id + '>' + data[index].customergldescription + "[" + data[index].glnumber + ']</option>')
                        );
                    });
                },
                error: function (xhr, ajaxOptions, thrownError, request, error) {
                    //alert('xrs.status = ' + xhr.status + '\n' +
                    //      'thrown error = ' + thrownError + '\n' +
                    //      'xhr.statusText = ' + xhr.statusText + '\n' +
                    //      'request = ' + request + '\n' +
                    //      'error = ' + error);
                }
            });
        }

        $('#CompanyId').change(function () {
            DisplayCashAP();
            ROUAsset();
            LTLeaseLiability();
            STLeaseLiability();
            RentExpense();
            GLAccountTypeNonLease();

        });
        $('#paymentStreemFrequency').on('change', function (ev) {

        });
        $('body').on('change', '.js-calculation', function (ev) {
            var name = '';
            var paymentName = '';
            var selectedDateName = '';
            var paymentend = '';
            if (this.name.indexOf("paymentstart") >= 0) {
                paymentName = this.name.replace('paymentstart', 'payments');
                paymentend = this.name.replace("paymentstart", "paymentend");
                selectedDateName = this.name;
            }
            else {
                paymentName = this.name;
                selectedDateName = this.name.replace('payments', 'paymentstart');
                paymentend = this.name.replace("payments", "paymentend");
            }
            var selectedDate = new Date($("input[name*='" + selectedDateName + "']").val());
            var payment = $("input[name*='" + paymentName + "']").val();
            if (selectedDate == "") {
                return;
            }
            var CurrentDate = new Date();
            var selectedText = $('#paymentStreemFrequency :selected').text();
            if (selectedText == "Monthly") {
                selectedDate = add_months(selectedDate, payment);

            } else if (selectedText == "Quarterly") {
                selectedDate = add_quarterly(selectedDate, payment);
            } else if (selectedText == "Yearly") {
                selectedDate = add_years(selectedDate, payment);
            }
            $("input[name*='" + paymentend + "']").val(selectedDate);
        });
        function add_months(dt, n) {
            n = n - 1;
            return moment(dt).add(n, 'M').format('MM/DD/YYYY');
        }
        function add_years(dt, n) {
            n = n - 1;
            return moment(dt).add(n, 'year').format('MM/DD/YYYY');
        }
        function add_quarterly(dt, n) {
            n = (n - 1) * 3;
            return moment(dt).add(n, 'M').format('MM/DD/YYYY');
        }

        function SuccessNonLease(data) {
            if (data.Status == "0") {
                alert(data.Id);
                $("#Id").val(data.Id);
                alert("OK");
            }
          
        }

        function CompleteNonLease() {
            alert("Complete");
        }
    });
</script>
