﻿   <!-- GL Account Form Row -->
@using (Ajax.BeginForm("AddLeaseGL", "Leases", new AjaxOptions { HttpMethod = "POST", OnComplete = "CompletePaymentClassification", OnSuccess = "LeaseGLSucess", OnFailure = "LeaseGLFailure" }))
{
    <input type="hidden" name="GLAccountsLeaseId" id="GLAccountsLeaseId" />
<div class="row">
    <div class="container-fluid">
        <div class="col-xs-12 box bg-white shadow">
            <!-- /Lease Payment and Classification Form Row -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="title">
                       GL Account
                        <div><em>Note: Customer GL Descriptions and GL Numbers can be added or edited in <a href="">Settings</a>:</em></div>
                    </div>
                </div>
                <div class="col-xs-12 visible-sm visible-xs">
                    <div class="top-buffer-20"></div>
                </div>
            </div>
           
            
            <div class="form-horizontal" id="GLAccountsDiv">
              
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" id="btnPrevLeaseGL" class="btn btn-block btn-primary">Prev</button>
            </div>
            <div class="col-sm-2 pull-right">
                <button type="submit" class="btn btn-block btn-primary">Save & Next</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
}
<!-- /GL Account Form Row -->


<script>

    $("#Classification").change(function () {
        var model = {
            CompanyId: 2075,
            GLAccountType: $("#Classification").val()
        }
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Leases/GetGlAccounts",
            data: model,
            success: function (data) {
                $("#GLAccountsDiv").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('Failed to retrieve books.');
            }
        });
    });

    $(document).ready(function ()
    {
        var model = {
            CompanyId: 2075,
            GLAccountType:1
        }
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Leases/GetGlAccounts",
                data: model,
            success: function (data)
            {
                $("#GLAccountsDiv").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError)
            {
                //alert('Failed to retrieve books.');
            }
        });
    });

    $("#btnPrevLeaseGL").click(function () {
        $("#LeaseGLAccountsDiv").hide();
        $("#LeasePaymentsDiv").show();
        $("#LeaseGLAccounts").removeClass("active")
        $("#LeasePaymentStep").addClass("active")
        $("#progressDiv").css("width", '20%');
    });

    function LeaseGLSucess(data) {
        toastr.success('GL Accounts added successfully.', 'SUCCESS', { timeOut: 3000, closeButton: true });
        //hiding leaseinfo div and moving to laesepayments
        setTimeout(function (d) {
            $("#LeaseGLAccountsDiv").hide();
            $("#NonLeasePaymentsDiv").show();
            $("#LeaseGLAccounts").removeClass("active")
            $("#NonLeasePaymentStep").addClass("active")
            $("#progressDiv").css("width", '60%');
        }, 2000);
    }

    function LeaseGLFailure() {
        toastr.error("Some error occured", 'ERROR', { timeOut: 3000, closeButton: true });
    }
</script>