﻿@using LeaseCrunch.Web.Models
@model IEnumerable<LeaseCrunch.Web.Models.LeaseDocumentViewModel>
<!-- Documents Title Row -->
<div class="row">
    <div class="col-sm-4">
        <div class="title">Documents</div>
    </div>
    <div class="col-sm-offset-6 col-sm-2">
        <button class="btn btn-primary btn-block" id="btnUpload">Upload</button>
    </div>
    <div class="col-xs-12 visible-xs"><div class="top-buffer-20"></div></div>
</div>
<!-- /Documents Title Row -->
<!-- Documents Title Row -->
<div class="row">
    <div class="col-sm-12 data-table-with-out-dataTables_info_and_paginate">
        <table id="LeaseDocumentsTable" class="table table-bordered table-listing js-data-table">
            <thead>
                <tr>
                    <th>Document Name</th>
                    <th class="text-center">Date Uploaded</th>
                    <th class="text-center">Size</th>
                </tr>
            </thead>
            <tbody id="searchResult"></tbody>
            @*<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UploadDate</td>
                        <td>@item.Size</td>
                        <td class="text-center"><a href=""><i class="fa fa-trash icon-delete"></i></a></td>
                    </tr>
                }
               
            </tbody>*@
        </table>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button type="button" id="btnPrevLeaseDoc" class="btn btn-block btn-primary">Prev</button>
        </div>
    </div>
</div>
<div id="test"></div>
<!-- /Documents Title Row -->

<!-- Modal Company Listing -->
<div class="modal fade" id="UploadModel" tabindex="-1" role="dialog" aria-labelledby="AddLessorLabel">
    
@*@using (Ajax.BeginForm("UploadFiles", "Leases", new AjaxOptions { HttpMethod = "POST", OnComplete = "Complete", OnSuccess = "Success" }))*@
   @*@using (Html.BeginForm("", "", FormMethod.Post, new {@id="myform",enctype = "multipart/form-data" }))
   {
    @Html.AntiForgeryToken()*@
   
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="AddLessorLabel">Lease Documents</h4>
                </div>
                <div class="modal-body">
                    <form id="myform">
                        <div class="form-horizontal">
                            <input type="hidden" name="DocumentLeaseId" id="DocumentLeaseId">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Select Document</label>
                                <div class="col-sm-7">
                                    <input id="fileInput" type="file" multiple><br>
                                    <div class="required-staric">*</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-2">
                                    <input type="submit" class="btn btn-block btn-primary" value="Upload file" />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-block btn-secondary" data-dismiss="modal">CANCEL</button>
                                </div>
                            </div>
                        </div>
                    </form>
                        <div class="clearfix"></div>
</div>

            </div>
        </div>
    
        @*}*@
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
<script>

    $("#btnPrevLeaseDoc").click(function () {
        $("#LeaseDocumentsDiv").hide();
        $("#NonLeasePaymentsDiv").show();
        $("#LeaseDocStep").removeClass("active")
        $("#NonLeasePaymentStep").addClass("active")
        $("#progressDiv").css("width", '60%');
    });

    //Show modal for upload documents
    $('body').on('click', '#btnUpload', function () {
        $("#UploadModel").modal('show');
    });

    //uploading documents submit
    (function () {

        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#status');

        //$('#myform').ajaxForm({
        //    beforeSend: function () {
        //        status.empty();
        //        var percentVal = '0%';
        //        bar.width(percentVal)
        //        percent.html(percentVal);
        //    },
        //    uploadProgress: function (event, position, total, percentComplete) {
        //        var percentVal = percentComplete + '%';
        //        bar.width(percentVal)
        //        percent.html(percentVal);
        //    },
        //    success: function () {
        //        alert("success")
        //        var percentVal = '100%';
        //        bar.width(percentVal)
        //        percent.html(percentVal);
        //    },
        //    complete: function (xhr) {
        //        alert("complete")
        //        status.html(xhr.responseText);
        //    }
        //});

    })();


    function changeDate(input)
    {
        var dtStart = new Date(parseInt(input.substr(6)));
        var dtStartWrapper = moment(dtStart);
        return dtStartWrapper.format('DD/MM/YYYY')
    }

    document.getElementById('myform').onsubmit = function () {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        var leaseid = document.getElementById('DocumentLeaseId');
        formdata.append(leaseid.name,leaseid.value)
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Leases/Upload');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var output = $("#searchResult");
                output.empty();
                var obj = jQuery.parseJSON(xhr.responseText);
                for (var i = 0; i < obj.length ; i++) {
                    var document = obj[i];
                    output.append("<tr><td>" + document.Name + "</td><td>" +
                 changeDate(document.UploadDate) + "</td><td>" + (document.Size/1024) + "MB</td></tr>");
                }
                $('#UploadModel').modal('hide');
                $("#progressDiv").css("width", '100%');
                toastr.success('Lease documents uploaded successfully....!', 'SUCCESS', { timeOut: 3000, closeButton: true });
            }
        }
        return false;
    }


</script>