﻿@using LeaseCrunch.Web.Models
@model LeaseViewModel
<!-- Content -->
<div class="content">
    <div class="col-sm-12">
        <div class="row">
            <div class="row-add-lease-title row-table bg-white shadow">
                <div class="col-sm-6 left">
                    <div class="title">Add Lease Information</div>
                </div>
                <div class="col-sm-6 right">
                    <div class="title">
                        <span>Lease ID: CUS-2112</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="top-buffer-20"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-0 col-sm-12 col-md-10">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box bg-white shadow">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="step-indicator">
                                            <a  id="LeaseInfoStep" class="active"><span class="number">1</span> Step 1</a>
                                            <a  id="LeasePaymentStep"><span class="number">2</span> Step 2</a>
                                            <a id="LeaseGLAccounts"><span class="number">3</span> Step 3</a>
                                            <a  id="NonLeasePaymentStep"><span class="number">4</span> Step 4</a>
                                            <a  id="LeaseDocStep"><span class="number">5</span> Step 5</a>
                                            <a >@*<span class="number">5</span> Step 5*@</a>
                                            <div class="progress">
                                                <div id="progressDiv" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="LeaseInfoDiv">
                                    <div class="col-xs-12">
                                        @Html.Partial("_AddLeaseInformation", Model.AddLeaseInformation)
                                    </div>
                                </div>
                                <div class="row" id="LeasePaymentsDiv">
                                    <div class="col-xs-12">
                                        @Html.Partial("_AddLeasePayments", Model.leasePayments)
                                    </div>
                                </div>
                                <div class="row" id="NonLeasePaymentsDiv">
                                    <div class="col-xs-12">
                                        @Html.Partial("_AddNonLeasePayments", Model.nonLeasePayments)
                                    </div>
                                </div>
                                <div class="row" id="LeaseDocumentsDiv">
                                    <div class="col-xs-12">
                                      @Html.Partial("_AddLeaseDocuments", Model.leaseDocuments)
                                    </div>
                                </div>
                                <div class="row" id="LeaseGLAccountsDiv">
                                    <div class="col-xs-12">
                                        @Html.Partial("_AddLeaseGLAccount")
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /Content -->


