﻿<div class="title">
    Finance Lease Accounts
</div>
<div class="form-group">
    <label class="control-label col-sm-5"><div class="box-table"><div class="box-table-cell v-align-middle">Cash / AP</div></div></label>
    <div class="col-sm-4">
        @Html.DropDownList("CashAccountPayble", null, htmlAttributes: new { id = "CashAccountPayble", @class = "form-control" })
</div>
</div>
<div class="form-group">
    <label class="control-label col-sm-5"><div class="box-table"><div class="box-table-cell v-align-middle">ROU Asset</div></div></label>
    <div class="col-sm-4">
        @Html.DropDownList("RouAsset", null, htmlAttributes: new { id = "RouAsset", @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-5"><div class="box-table"><div class="box-table-cell v-align-middle">LT Lease Liability</div></div></label>
    <div class="col-sm-4">
        @Html.DropDownList("LTLeaseLiab", null, htmlAttributes: new { id = "LTLeaseLiab", @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-5"><div class="box-table"><div class="box-table-cell v-align-middle">ST Lease Liability</div></div></label>
    <div class="col-sm-4">
        @Html.DropDownList("STLeaseLiab", null, htmlAttributes: new { id = "STLeaseLiab", @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-5"><div class="box-table"><div class="box-table-cell v-align-middle">Amortization Expense</div></div></label>
    <div class="col-sm-4">
        @Html.DropDownList("AmortizationExp", null, htmlAttributes: new { id = "AmortizationExp", @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-5"><div class="box-table"><div class="box-table-cell v-align-middle">Interest Expense</div></div></label>
    <div class="col-sm-4">
        @Html.DropDownList("InterestExp", null, htmlAttributes: new { id = "InterestExp", @class = "form-control" })
    </div>
</div>