﻿@using LeaseCrunch.Web.Models

@model LeaseViewModel

@{
    ViewBag.Title = "Add Lease - LeaseCrunch";
}
<style>
    .tab {
        display: none;
    }
</style>

@Html.Partial("_CreateOrUpdate", @Model)

<script>
    //jQuery.validator.setDefaults({
    //    debug: true,
    //    success: "valid"
    //});
</script>
  
    @Scripts.Render("~/content/datepicker/js", "~/content/steps/js", "~/bundles/datatable", "~/content/validator/js", "~/content/grid/js")
    @Styles.Render("~/content/validator/css"),

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 